<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('event', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    活动列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form event-content js-draggable-items" >

			<form class="form-horizontal event-form form-lg" action= '<?=App::NR("event", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="event_id" value="<?=$rs['event_id']?>" >
	
	<!-- 单行文本: 活动别名 (slug) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="slug">活动别名</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="slug" name="slug" 
				placeholder="请填写活动别名"  
				value="<?=T::v('<%=slug | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 活动别名 (slug) -->

	<!-- 单行文本: 活动主题 (name) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="name">活动主题</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="name" name="name" 
				placeholder="请填写活动主题"  
				value="<?=T::v('<%=name | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 活动主题 (name) -->

	<!-- 单行文本: 外部链接 (link) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="link">外部链接</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="link" name="link" 
				placeholder="请填写外部链接"  
				value="<?=T::v('<%=link | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 外部链接 (link) -->



 
	<!-- 下拉选择(动态数据): 栏目 (categories) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="categories">栏目</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg" style="width: 100%;" 
					id="categories" name="categories" 
					data-language="zh-CN"
					data-param-cancelable="0"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Category"
					data-param-table="category"
					data-param-fields="category_id,name"
					data-param-style="{{name}} ({{category_id}})"
					data-param-option="category_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=categories | join(\',\')%>', $rs )?>"
					data-placeholder="请选择活动栏目"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
	</div><!-- END 下拉选择(动态数据): 栏目 (categories) -->




	<!-- 单行标签文本: 标签 (tags) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="tags">标签</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="tags" name="tags" 
				placeholder="请添加标签"  
				value="<?=T::v('<%=tags | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>

		<script type="text/javascript">
			var options = {
				height: '42px',
				width: '100%',
				defaultText: '添加',
				removeWithBackspace: true,
				delimiter: [',']
			}
			$('input[name=tags').tagsInput(options);
		</script>
	</div><!-- END 单行标签文本: 标签 (tags) -->




	<!-- 文本域: 活动简介 (summary) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="summary">活动简介</label>
		<div class="col-xs-8">
			<textarea class="form-control input-lg"  
				type="text" 
				id="summary" name="summary" rows=""
				placeholder="请填写活动简介"><?=T::v('<%=summary  | e(\'html\')%>', $rs )?></textarea> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 文本域: 活动简介 (summary) -->




	<!-- 单图上传: 封面 (cover) 开始  -->
	<div class="xpmse-images  " name="cover">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="cover">封面</label>
			<div class="col-xs-8">
		   		<div name="cover" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传封面'
					data-previews=""
					data-width="274"
					data-height="182"
					data-icon="fa fa-image" 
					data-placeholder="请上传封面" 
					data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=cover.url%>', $rs )?>"
					data-path="<?=T::v('<%=cover.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 封面 (cover) -->




	<!-- 多图上传: 活动海报 (images) 开始  -->
	<?php if(count($rs['images']) < 1): ?><?php $steps = 1 -  count($rs['images']); for( $i=0; $i<$steps; $i++){ $rs['images'][] = [];} ?><?php endif ?><?php foreach ( $rs['images'] as $img ): ?> 
	<div class="xpmse-images  " name="images">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="images">活动海报</label>
			<div class="col-xs-8">
		   		<div name="images" class="file-uploader rounded rounded-4"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title=''
					data-previews=""
					data-width="175"
					data-height="260"
					data-icon="fa fa-image" 
					data-placeholder="请上传海报图片" 
					data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="yes"
					data-draggable="yes"
					data-src="<?=T::v('<%=url%>', $img )?>"
					data-path="<?=T::v('<%=path%>', $img )?>"
					data-multiple="1"
					></div>
				<div class="help-block"></div>
			</div>
			<div class="col-xs-2 push-10-t">
				<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
				<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
			</div>
		</div> 
	</div>
	<?php endforeach; ?> 

	<script type="text/javascript">
		$('.xpmse-images[name="images"]').Multipliable({
			added: function( elm ) {
				App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
			},
			removed: function(){},
			html: function( elm ){ 
				var html = $(elm).clone();
				var resp = $(html);
				resp.find('.file-uploader').html('');
				resp.find('.file-uploader').attr('data-src', '');
				resp.find('.file-uploader').attr('data-path', '');
				resp.find('input').remove();
				return resp;
			}
		});
	</script><!-- END 多图上传: 活动海报 (images) -->





	<!-- 单行时间日期: 开始时间 (begin) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="begin__date">开始时间</label>
		<div class="col-xs-4">
			<input 
				 name="begin__date" id="begin__date"
				 class="js-datepicker form-control  input-lg" type="text" 
				 data-date-format="yyyy年mm月dd日" 
				 placeholder="请选择日期时间 "
				 value="<?=T::v('<%=begin | toDate%>', $rs )?>"  />

			<div class="help-block"></div>
		</div>
		<div class="col-xs-4">
			<input 
				name="begin__time" id="begin__time"
				class="js-masked-time form-control  input-lg"  type="text" 
				placeholder="请输入时间"
				value="<?=T::v('<%=begin | toTime%>', $rs )?>" /> 
		</div>
		<input name="begin" id="begin" type="hidden" value="<?=T::v('<%=begin | toDateTime%>', $rs )?>" />

		<script type="text/javascript">
		$(function(){

			function begin_change() {
				var tm = $('input[name=begin__time').val();
					tm = tm.replace('@ ', '');
					tm = tm.replace('时', ':');
					tm = tm.replace('分', ':');
					tm = tm = tm + '00';

				var dt = $('input[name=begin__date]').val();
					dt = dt.replace('年', '-');
					dt = dt.replace('月', '-');
					dt = dt.replace('日', '');

				var datetime = dt + ' ' + tm;
				$('input[name=begin]').val( datetime );
			}

			$('input[name=begin__date]').on("change", function( e ){
				begin_change();
			});
			$('input[name=begin__time').on("change", function( e ){
				begin_change();
			});
		});
		</script>

	</div><!-- END 单行时间日期: 开始时间 (begin) -->





	<!-- 单行时间日期: 结束时间 (end) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="end__date">结束时间</label>
		<div class="col-xs-4">
			<input 
				 name="end__date" id="end__date"
				 class="js-datepicker form-control  input-lg" type="text" 
				 data-date-format="yyyy年mm月dd日" 
				 placeholder="请选择日期时间 "
				 value="<?=T::v('<%=end | toDate%>', $rs )?>"  />

			<div class="help-block"></div>
		</div>
		<div class="col-xs-4">
			<input 
				name="end__time" id="end__time"
				class="js-masked-time form-control  input-lg"  type="text" 
				placeholder="请输入时间"
				value="<?=T::v('<%=end | toTime%>', $rs )?>" /> 
		</div>
		<input name="end" id="end" type="hidden" value="<?=T::v('<%=end | toDateTime%>', $rs )?>" />

		<script type="text/javascript">
		$(function(){

			function end_change() {
				var tm = $('input[name=end__time').val();
					tm = tm.replace('@ ', '');
					tm = tm.replace('时', ':');
					tm = tm.replace('分', ':');
					tm = tm = tm + '00';

				var dt = $('input[name=end__date]').val();
					dt = dt.replace('年', '-');
					dt = dt.replace('月', '-');
					dt = dt.replace('日', '');

				var datetime = dt + ' ' + tm;
				$('input[name=end]').val( datetime );
			}

			$('input[name=end__date]').on("change", function( e ){
				end_change();
			});
			$('input[name=end__time').on("change", function( e ){
				end_change();
			});
		});
		</script>

	</div><!-- END 单行时间日期: 结束时间 (end) -->

	<!-- 单行文本: 国家/地区 (area) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="area">国家/地区</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="area" name="area" 
				placeholder="请填写国家/地区"  
				value="<?=T::v('<%=area | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 国家/地区 (area) -->

	<!-- 单行文本: 省份 (prov) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="prov">省份</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="prov" name="prov" 
				placeholder="请填写省份"  
				value="<?=T::v('<%=prov | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 省份 (prov) -->

	<!-- 单行文本: 城市 (city) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="city">城市</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="city" name="city" 
				placeholder="请填写城市"  
				value="<?=T::v('<%=city | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 城市 (city) -->

	<!-- 单行文本: 区县 (town) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="town">区县</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="town" name="town" 
				placeholder="请填写区县"  
				value="<?=T::v('<%=town | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 区县 (town) -->

	<!-- 单行文本: 地点 (location) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="location">地点</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="location" name="location" 
				placeholder="请填写具体地点"  
				value="<?=T::v('<%=location | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 地点 (location) -->

	<!-- 单行文本: 费用 (price) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="price">费用</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="price" name="price" 
				placeholder="请填写活动花费"  
				value="<?=T::v('<%=price | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 费用 (price) -->




	<!-- 多图片组上传: 主办方 (hosts) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">

		<?php if(count($rs['hosts']) < 1): ?><?php $steps = 1 -  count($rs['hosts']); for( $i=0; $i<$steps; $i++){ $rs['hosts'][] = [];} ?><?php endif ?><?php foreach ( $rs['hosts'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="hosts" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="hosts">主办方</label>
				<div class="col-xs-4" style="width:320px;" >
			   		<div name="hosts" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="300"
						data-height="300"
						data-icon="fa fa-image" 
						data-placeholder="" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-2 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="hosts"]').Multipliable({
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 主办方 (hosts) -->




	<!-- 多图片组上传: 承办方/组织者 (organizers) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">

		<?php if(count($rs['organizers']) < 1): ?><?php $steps = 1 -  count($rs['organizers']); for( $i=0; $i<$steps; $i++){ $rs['organizers'][] = [];} ?><?php endif ?><?php foreach ( $rs['organizers'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="organizers" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="organizers">承办方/组织者</label>
				<div class="col-xs-4" style="width:320px;" >
			   		<div name="organizers" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="300"
						data-height="300"
						data-icon="fa fa-image" 
						data-placeholder="" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-2 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="organizers"]').Multipliable({
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 承办方/组织者 (organizers) -->




	<!-- 多图片组上传: 赞助商 (sponsors) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">

		<?php if(count($rs['sponsors']) < 1): ?><?php $steps = 1 -  count($rs['sponsors']); for( $i=0; $i<$steps; $i++){ $rs['sponsors'][] = [];} ?><?php endif ?><?php foreach ( $rs['sponsors'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="sponsors" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="sponsors">赞助商</label>
				<div class="col-xs-4" style="width:320px;" >
			   		<div name="sponsors" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="300"
						data-height="300"
						data-icon="fa fa-image" 
						data-placeholder="" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-2 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="sponsors"]').Multipliable({
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 赞助商 (sponsors) -->




	<!-- 多图片组上传: 合作媒体 (medias) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">

		<?php if(count($rs['medias']) < 1): ?><?php $steps = 1 -  count($rs['medias']); for( $i=0; $i<$steps; $i++){ $rs['medias'][] = [];} ?><?php endif ?><?php foreach ( $rs['medias'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="medias" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="medias">合作媒体</label>
				<div class="col-xs-4" style="width:320px;" >
			   		<div name="medias" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="300"
						data-height="300"
						data-icon="fa fa-image" 
						data-placeholder="" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-2 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="medias"]').Multipliable({
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 合作媒体 (medias) -->




	<!-- 多图片组上传: 嘉宾 (speakers) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">

		<?php if(count($rs['speakers']) < 1): ?><?php $steps = 1 -  count($rs['speakers']); for( $i=0; $i<$steps; $i++){ $rs['speakers'][] = [];} ?><?php endif ?><?php foreach ( $rs['speakers'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="speakers" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="speakers">嘉宾</label>
				<div class="col-xs-4" style="width:320px;" >
			   		<div name="speakers" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="300"
						data-height="300"
						data-icon="fa fa-image" 
						data-placeholder="" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-2 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="speakers"]').Multipliable({
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 嘉宾 (speakers) -->




	<!-- 富文本(summernote): 活动介绍 (content) 开始  -->
	<div class="form-group     ">
		<label class="col-xs-2 control-label" for="content">活动介绍</label>
		<div class="col-xs-8">
			<textarea class="js-summernote" name="content" id="content" placeholder="请填写活动介绍" ><?=T::v('<%=content | e(\'html\')%>', $rs )?></textarea>
			<div class="help-block"></div>
		</div>
	</div><!-- END 富文本(summernote): 活动介绍 (content) -->
	<script type="text/javascript">
		// Init full text editor
		$('.js-summernote[name=content]').summernote({
			lang: 'zh-CN',
			height: 300,
			minHeight: null,
			maxHeight: null,
			callbacks: {
    			onImageUpload: function(files) {
    				var that = this;
    				for(var i = files.length - 1; i >= 0; i--) {
    					var file = files[i];
    					var form_data = new FormData();
						form_data.append('file', file);
						$.ajax({
							data: form_data,
							dataType:'json',
							type: "POST",
							url: '/_a/mina/uploader/upload?type=image',
							cache: false,
							contentType: false,
							processData: false,
							success: function( rs ) {
							    $(that).summernote('editor.insertImage', rs['url']);
							}
						});
    				}
    			}
    		}
		});
	</script>





	<!-- 单行时间日期: 发布时间 (publish_time) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="publish_time__date">发布时间</label>
		<div class="col-xs-4">
			<input 
				 name="publish_time__date" id="publish_time__date"
				 class="js-datepicker form-control  input-lg" type="text" 
				 data-date-format="yyyy年mm月dd日" 
				 placeholder="请填写发布时间 "
				 value="<?=T::v('<%=publish_time | toDate%>', $rs )?>"  />

			<div class="help-block"></div>
		</div>
		<div class="col-xs-4">
			<input 
				name="publish_time__time" id="publish_time__time"
				class="js-masked-time form-control  input-lg"  type="text" 
				placeholder="请输入时间"
				value="<?=T::v('<%=publish_time | toTime%>', $rs )?>" /> 
		</div>
		<input name="publish_time" id="publish_time" type="hidden" value="<?=T::v('<%=publish_time | toDateTime%>', $rs )?>" />

		<script type="text/javascript">
		$(function(){

			function publish_time_change() {
				var tm = $('input[name=publish_time__time').val();
					tm = tm.replace('@ ', '');
					tm = tm.replace('时', ':');
					tm = tm.replace('分', ':');
					tm = tm = tm + '00';

				var dt = $('input[name=publish_time__date]').val();
					dt = dt.replace('年', '-');
					dt = dt.replace('月', '-');
					dt = dt.replace('日', '');

				var datetime = dt + ' ' + tm;
				$('input[name=publish_time]').val( datetime );
			}

			$('input[name=publish_time__date]').on("change", function( e ){
				publish_time_change();
			});
			$('input[name=publish_time__time').on("change", function( e ){
				publish_time_change();
			});
		});
		</script>

	</div><!-- END 单行时间日期: 发布时间 (publish_time) -->




 
	<!-- 下拉选择: 活动状态 (status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="status">活动状态</label>
		<div class="col-xs-8">
			<select class="js-select2 form-control input-lg" style="width: 100%;"
					id="status" name="status"  
					data-placeholder="请填写活动介绍" >
				<option></option>
				<?php $rs["status"] = is_string($rs["status"]) ? [$rs["status"]] : $rs["status"] ; if (empty($rs["status"])) { $rs["status"] = ["draft"]; } ?>
<option value="draft" <?=in_array("draft", $rs["status"]) ? "selected" : ""?> > 草稿</option>
<option value="open" <?=in_array("open", $rs["status"]) ? "selected" : ""?> > 报名中</option>
<option value="close" <?=in_array("close", $rs["status"]) ? "selected" : ""?> > 报名截止</option>
<option value="off" <?=in_array("off", $rs["status"]) ? "selected" : ""?> > 活动关闭</option>
			</select>
			<div class="help-block"></div>
		</div>
	</div><!-- END 下拉选择: 活动状态 (status) -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('event', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 活动列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['event_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除活动 "
						            confirm-content="您确定删除活动 <strong><?=$rs['name=name']?>(<?=$rs['event_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('event','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('活动删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('event','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '活动删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-event_id="<?=$rs['event_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['event_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=event_id]').val( data['event_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['event_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.event-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.event-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('event','duplicate', ['event_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="event_id"]').val() == '' || $('input[name="event_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>