<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('recommend', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    推荐列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form recommend-content js-draggable-items" >

			<form class="form-horizontal recommend-form form-lg" action= '<?=App::NR("recommend", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="recommend_id" value="<?=$rs['recommend_id']?>" >
	
	<!-- 单行文本: 主题 (title) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="title">主题<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="title" name="title" 
				placeholder="请填写推荐主题"  
				value="<?=T::v('<%=title | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 主题 (title) -->

	<!-- 单行文本: 别名 (slug) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="slug">别名<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="slug" name="slug" 
				placeholder="请填写推荐别名"  
				value="<?=T::v('<%=slug | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 别名 (slug) -->


	<!-- 单选框: 推荐方式 (type) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="type">推荐方式</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["type"])) { $rs["type"] = "auto"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="type" data-uncheck-value="auto" value="auto" <?=("auto" == $rs["type"]) ? "checked" : ""?> > <span></span> 智能</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="type" data-uncheck-value="static" value="static" <?=("static" == $rs["type"]) ? "checked" : ""?> > <span></span> 静态</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 推荐方式 (type) 开始  -->


	<!-- 单选框: 内容类型 (ctype) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="ctype">内容类型</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["ctype"])) { $rs["ctype"] = "article"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="all" value="all" <?=("all" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 全文检索</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="article" value="article" <?=("article" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 图文</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="event" value="event" <?=("event" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 活动</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="album" value="album" <?=("album" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 图集</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="question" value="question" <?=("question" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 提问</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="answer" value="answer" <?=("answer" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 回答</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="ctype" data-uncheck-value="goods" value="goods" <?=("goods" == $rs["ctype"]) ? "checked" : ""?> > <span></span> 商品</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 内容类型 (ctype) 开始  -->


	<!-- 单选框: 必须有主题图片 (thumb_only) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="thumb_only">必须有主题图片</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["thumb_only"])) { $rs["thumb_only"] = "0"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="thumb_only" data-uncheck-value="1" value="1" <?=("1" == $rs["thumb_only"]) ? "checked" : ""?> > <span></span> 是</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="thumb_only" data-uncheck-value="0" value="0" <?=("0" == $rs["thumb_only"]) ? "checked" : ""?> > <span></span> 否</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 必须有主题图片 (thumb_only) 开始  -->


	<!-- 单选框: 必须有视频内容 (video_only) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="video_only">必须有视频内容</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["video_only"])) { $rs["video_only"] = "0"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="video_only" data-uncheck-value="1" value="1" <?=("1" == $rs["video_only"]) ? "checked" : ""?> > <span></span> 是</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="video_only" data-uncheck-value="0" value="0" <?=("0" == $rs["video_only"]) ? "checked" : ""?> > <span></span> 否</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 必须有视频内容 (video_only) 开始  -->


	<!-- 单选框: 根据用户喜好推荐 (bigdata_engine) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="bigdata_engine">根据用户喜好推荐</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["bigdata_engine"])) { $rs["bigdata_engine"] = "0"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="bigdata_engine" data-uncheck-value="1" value="1" <?=("1" == $rs["bigdata_engine"]) ? "checked" : ""?> > <span></span> 开启</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="bigdata_engine" data-uncheck-value="0" value="0" <?=("0" == $rs["bigdata_engine"]) ? "checked" : ""?> > <span></span> 关闭</label>
			<div class="help-block">开启喜好推荐，需要调用简墨云服务。请在系统管理中授权，允许推送文章和部分用户访问轨迹信息到简墨云数据分析引擎。</div>
		</div>
	</div><!-- END 单选框: 根据用户喜好推荐 (bigdata_engine) 开始  -->


	<!-- 单选框: 统计周期 (period) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="period">统计周期</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["period"])) { $rs["period"] = "auto"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="24hours" value="24hours" <?=("24hours" == $rs["period"]) ? "checked" : ""?> > <span></span> 24小时</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="daily" value="daily" <?=("daily" == $rs["period"]) ? "checked" : ""?> > <span></span> 今日</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="7days" value="7days" <?=("7days" == $rs["period"]) ? "checked" : ""?> > <span></span> 7天</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="weekly" value="weekly" <?=("weekly" == $rs["period"]) ? "checked" : ""?> > <span></span> 本周</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="30days" value="30days" <?=("30days" == $rs["period"]) ? "checked" : ""?> > <span></span> 30天</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="monthly" value="monthly" <?=("monthly" == $rs["period"]) ? "checked" : ""?> > <span></span> 本月</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="yearly" value="yearly" <?=("yearly" == $rs["period"]) ? "checked" : ""?> > <span></span> 今年</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="period" data-uncheck-value="unlimited" value="unlimited" <?=("unlimited" == $rs["period"]) ? "checked" : ""?> > <span></span> 无限</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 统计周期 (period) 开始  -->


	<!-- 单选框: 排序方式 (orderby) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="orderby">排序方式<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<?php if (is_null($rs["orderby"])) { $rs["orderby"] = "default"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="default" value="default" <?=("default" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 默认排序</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="publish_time" value="publish_time" <?=("publish_time" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 最新发布</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="publish_time_asc" value="publish_time_asc" <?=("publish_time_asc" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 发布顺序</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="view_cnt" value="view_cnt" <?=("view_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span>  最多浏览</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="answer_cnt" value="answer_cnt" <?=("answer_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span>  最多回答</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="agree_cnt" value="agree_cnt" <?=("agree_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 最多赞同</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="like_cnt" value="like_cnt" <?=("like_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 最多点赞</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="comment_cnt" value="comment_cnt" <?=("comment_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span>  最多评论</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="orderby" data-uncheck-value="dislike_cnt" value="dislike_cnt" <?=("dislike_cnt" == $rs["orderby"]) ? "checked" : ""?> > <span></span> 最多讨厌</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 排序方式 (orderby) 开始  -->

	<!-- 单行文本: 关键词 (keywords) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="keywords">关键词</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="keywords" name="keywords" 
				placeholder="请填写搜索关键词"  
				value="<?=T::v('<%=keywords | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">多个用 "," 分割</div>
		</div>
	</div><!-- END 单行文本: 关键词 (keywords) -->



 
	<!-- 下拉选择(动态数据): 指定系列 (series) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="series">指定系列</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg   "  style="width: 100%;" 
					id="series" name="series" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Series"
					data-param-table="series"
					data-param-fields="series_id,name"
					data-param-style="{{name}}({{series_id}}})"
					data-param-option="series_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=series | join(\',\')%>', $rs )?>"
					data-placeholder="请选择所属系列"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block">编辑文章时, 在编辑器右侧工具栏菜单设定。 </div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=series]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定系列 (series) -->



 
	<!-- 下拉选择(动态数据): 指定栏目 (categories) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="categories">指定栏目</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg   "  style="width: 100%;" 
					id="categories" name="categories" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Category"
					data-param-table="category"
					data-param-fields="category_id,name"
					data-param-style="{{name}}({{category_id}})"
					data-param-option="category_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=categories | join(\',\')%>', $rs )?>"
					data-placeholder="请选择相关栏目的文章"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=categories]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定栏目 (categories) -->



 
	<!-- 下拉选择(动态数据): 指定话题 (topics) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="topics">指定话题</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg   "  style="width: 100%;" 
					id="topics" name="topics" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Topic"
					data-param-table="topic"
					data-param-fields="topic_id,name"
					data-param-style="{{name}}({{topic_id}})"
					data-param-option="topic_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=topics | join(\',\')%>', $rs )?>"
					data-placeholder="请选择相关话题的文章"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=topics]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定话题 (topics) -->




	<!-- 复选框: 文章状态 (article_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="article_status">文章状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["article_status"])) { $rs["article_status"] = "published"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="article_status" data-uncheck-value="" value="published" <?=("published" == $rs["article_status"] || is_array($rs["article_status"]) &&  in_array("published",$rs["article_status"]) ) ? "checked" : ""?> > <span></span> 已发布</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="article_status" data-uncheck-value="" value="unpublished" <?=("unpublished" == $rs["article_status"] || is_array($rs["article_status"]) &&  in_array("unpublished",$rs["article_status"]) ) ? "checked" : ""?> > <span></span> 未发布</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="article_status" data-uncheck-value="" value="auditing" <?=("auditing" == $rs["article_status"] || is_array($rs["article_status"]) &&  in_array("auditing",$rs["article_status"]) ) ? "checked" : ""?> > <span></span> 审核中</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="article_status" data-uncheck-value="" value="pending" <?=("pending" == $rs["article_status"] || is_array($rs["article_status"]) &&  in_array("pending",$rs["article_status"]) ) ? "checked" : ""?> > <span></span> 抓取中</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 文章状态 (article_status) 开始  -->




	<!-- 复选框: 图集状态 (album_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="album_status">图集状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["album_status"])) { $rs["album_status"] = "published"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="album_status" data-uncheck-value="" value="published" <?=("published" == $rs["album_status"] || is_array($rs["album_status"]) &&  in_array("published",$rs["album_status"]) ) ? "checked" : ""?> > <span></span> 已发布</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="album_status" data-uncheck-value="" value="draft" <?=("draft" == $rs["album_status"] || is_array($rs["album_status"]) &&  in_array("draft",$rs["album_status"]) ) ? "checked" : ""?> > <span></span> 草稿</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="album_status" data-uncheck-value="" value="closed" <?=("closed" == $rs["album_status"] || is_array($rs["album_status"]) &&  in_array("closed",$rs["album_status"]) ) ? "checked" : ""?> > <span></span> 已关闭</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 图集状态 (album_status) 开始  -->




	<!-- 复选框: 活动状态 (event_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="event_status">活动状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["event_status"])) { $rs["event_status"] = "open"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="event_status" data-uncheck-value="" value="open" <?=("open" == $rs["event_status"] || is_array($rs["event_status"]) &&  in_array("open",$rs["event_status"]) ) ? "checked" : ""?> > <span></span> 报名中</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="event_status" data-uncheck-value="" value="draft" <?=("draft" == $rs["event_status"] || is_array($rs["event_status"]) &&  in_array("draft",$rs["event_status"]) ) ? "checked" : ""?> > <span></span> 草稿</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="event_status" data-uncheck-value="" value="close" <?=("close" == $rs["event_status"] || is_array($rs["event_status"]) &&  in_array("close",$rs["event_status"]) ) ? "checked" : ""?> > <span></span> 已结束</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="event_status" data-uncheck-value="" value="off" <?=("off" == $rs["event_status"] || is_array($rs["event_status"]) &&  in_array("off",$rs["event_status"]) ) ? "checked" : ""?> > <span></span> 已关闭</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 活动状态 (event_status) 开始  -->




	<!-- 复选框: 提问状态 (question_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="question_status">提问状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["question_status"])) { $rs["question_status"] = "opened"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="question_status" data-uncheck-value="" value="opened" <?=("opened" == $rs["question_status"] || is_array($rs["question_status"]) &&  in_array("opened",$rs["question_status"]) ) ? "checked" : ""?> > <span></span> 开放</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="question_status" data-uncheck-value="" value="closed" <?=("closed" == $rs["question_status"] || is_array($rs["question_status"]) &&  in_array("closed",$rs["question_status"]) ) ? "checked" : ""?> > <span></span> 关闭</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="question_status" data-uncheck-value="" value="forbidden" <?=("forbidden" == $rs["question_status"] || is_array($rs["question_status"]) &&  in_array("forbidden",$rs["question_status"]) ) ? "checked" : ""?> > <span></span> 封禁</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="question_status" data-uncheck-value="" value="drafted" <?=("drafted" == $rs["question_status"] || is_array($rs["question_status"]) &&  in_array("drafted",$rs["question_status"]) ) ? "checked" : ""?> > <span></span> 草稿</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 提问状态 (question_status) 开始  -->




	<!-- 复选框: 回答状态 (answer_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="answer_status">回答状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["answer_status"])) { $rs["answer_status"] = "opened"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="answer_status" data-uncheck-value="" value="opened" <?=("opened" == $rs["answer_status"] || is_array($rs["answer_status"]) &&  in_array("opened",$rs["answer_status"]) ) ? "checked" : ""?> > <span></span> 开放</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="answer_status" data-uncheck-value="" value="closed" <?=("closed" == $rs["answer_status"] || is_array($rs["answer_status"]) &&  in_array("closed",$rs["answer_status"]) ) ? "checked" : ""?> > <span></span> 关闭</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="answer_status" data-uncheck-value="" value="forbidden" <?=("forbidden" == $rs["answer_status"] || is_array($rs["answer_status"]) &&  in_array("forbidden",$rs["answer_status"]) ) ? "checked" : ""?> > <span></span> 封禁</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="answer_status" data-uncheck-value="" value="drafted" <?=("drafted" == $rs["answer_status"] || is_array($rs["answer_status"]) &&  in_array("drafted",$rs["answer_status"]) ) ? "checked" : ""?> > <span></span> 草稿</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 回答状态 (answer_status) 开始  -->




	<!-- 复选框: 商品状态 (goods_status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="goods_status">商品状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["goods_status"])) { $rs["goods_status"] = "online"; } ?>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="goods_status" data-uncheck-value="" value="online" <?=("online" == $rs["goods_status"] || is_array($rs["goods_status"]) &&  in_array("online",$rs["goods_status"]) ) ? "checked" : ""?> > <span></span> 上架</label>
<label class="css-input  css-checkbox css-checkbox-lg css-checkbox-primary push-10-r"><input   type="checkbox" name="goods_status" data-uncheck-value="" value="offline" <?=("offline" == $rs["goods_status"] || is_array($rs["goods_status"]) &&  in_array("offline",$rs["goods_status"]) ) ? "checked" : ""?> > <span></span> 下架</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 复选框: 商品状态 (goods_status) 开始  -->



 
	<!-- 下拉选择(动态数据): 指定文章 (articles) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="articles">指定文章</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="articles" name="articles" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Article"
					data-param-table="article"
					data-param-fields="article_id,title"
					data-param-style="{{title}}({{article_id}})"
					data-param-option="article_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=articles | join(\',\')%>', $rs )?>"
					data-placeholder="请选择文章"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=articles]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定文章 (articles) -->



 
	<!-- 下拉选择(动态数据): 排除文章 (exclude_articles) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_articles">排除文章</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_articles" name="exclude_articles" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Article"
					data-param-table="article"
					data-param-fields="article_id,title"
					data-param-style="{{title}}({{article_id}})"
					data-param-option="article_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_articles | join(\',\')%>', $rs )?>"
					data-placeholder="请选择文章"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_articles]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除文章 (exclude_articles) -->



 
	<!-- 下拉选择(动态数据): 指定活动 (events) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="events">指定活动</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="events" name="events" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Event"
					data-param-table="event"
					data-param-fields="event_id,name"
					data-param-style="{{name}}({{event_id}})"
					data-param-option="event_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=events | join(\',\')%>', $rs )?>"
					data-placeholder="请选择活动"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=events]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定活动 (events) -->



 
	<!-- 下拉选择(动态数据): 排除活动 (exclude_events) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_events">排除活动</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_events" name="exclude_events" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Event"
					data-param-table="event"
					data-param-fields="event_id,name"
					data-param-style="{{name}}({{event_id}})"
					data-param-option="event_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_events | join(\',\')%>', $rs )?>"
					data-placeholder="请选择活动"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_events]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除活动 (exclude_events) -->



 
	<!-- 下拉选择(动态数据): 指定图集 (albums) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="albums">指定图集</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="albums" name="albums" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Album"
					data-param-table="album"
					data-param-fields="album_id,title"
					data-param-style="{{title}}({{album_id}})"
					data-param-option="album_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=albums | join(\',\')%>', $rs )?>"
					data-placeholder="请选择图集"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=albums]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定图集 (albums) -->



 
	<!-- 下拉选择(动态数据): 排除图集 (exclude_albums) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_albums">排除图集</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_albums" name="exclude_albums" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Album"
					data-param-table="album"
					data-param-fields="album_id,title"
					data-param-style="{{title}}({{album_id}})"
					data-param-option="album_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_albums | join(\',\')%>', $rs )?>"
					data-placeholder="请选择图集"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_albums]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除图集 (exclude_albums) -->



 
	<!-- 下拉选择(动态数据): 指定提问 (questions) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="questions">指定提问</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="questions" name="questions" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Qanda\Model\Question"
					data-param-table="question"
					data-param-fields="question_id,title"
					data-param-style="{{title}}({{question_id}})"
					data-param-option="question_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=questions | join(\',\')%>', $rs )?>"
					data-placeholder="请选择提问"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=questions]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定提问 (questions) -->



 
	<!-- 下拉选择(动态数据): 排除提问 (exclude_questions) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_questions">排除提问</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_questions" name="exclude_questions" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Qanda\Model\Question"
					data-param-table="question"
					data-param-fields="question_id,title"
					data-param-style="{{title}}({{question_id}})"
					data-param-option="question_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_questions | join(\',\')%>', $rs )?>"
					data-placeholder="请选择提问"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_questions]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除提问 (exclude_questions) -->



 
	<!-- 下拉选择(动态数据): 指定回答 (answers) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="answers">指定回答</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="answers" name="answers" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Qanda\Model\Answer"
					data-param-table="answer"
					data-param-fields="answer_id,content"
					data-param-style="{{content|striptags[:40]}}({{answer_id}})"
					data-param-option="answer_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=answers | join(\',\')%>', $rs )?>"
					data-placeholder="请选择回答"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=answers]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定回答 (answers) -->



 
	<!-- 下拉选择(动态数据): 排除回答 (exclude_answers) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_answers">排除回答</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_answers" name="exclude_answers" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Qanda\Model\Answer"
					data-param-table="answer"
					data-param-fields="answer_id,content"
					data-param-style="{{content|striptags[:40]}}({{answer_id}})"
					data-param-option="answer_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_answers | join(\',\')%>', $rs )?>"
					data-placeholder="请选择回答"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_answers]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除回答 (exclude_answers) -->



 
	<!-- 下拉选择(动态数据): 指定商品 (goods) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="goods">指定商品</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="goods" name="goods" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Goods"
					data-param-table="goods"
					data-param-fields="goods_id,name"
					data-param-style="{{name}}({{goods_id}})"
					data-param-option="goods_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=goods | join(\',\')%>', $rs )?>"
					data-placeholder="请选择商品"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=goods]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 指定商品 (goods) -->



 
	<!-- 下拉选择(动态数据): 排除商品 (exclude_goods) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="exclude_goods">排除商品</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg selected-inline  "  style="width: 100%;" 
					id="exclude_goods" name="exclude_goods" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Goods"
					data-param-table="goods"
					data-param-fields="goods_id,name"
					data-param-style="{{name}}({{goods_id}})"
					data-param-option="goods_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=exclude_goods | join(\',\')%>', $rs )?>"
					data-placeholder="请选择商品"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=exclude_goods]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
        </script>
        	</div><!-- END 下拉选择(动态数据): 排除商品 (exclude_goods) -->



	<!-- 文本域: 简介 (summary) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="summary">简介<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<textarea class="form-control input-lg "   
				type="text" 
				id="summary" name="summary" rows="4"
				placeholder="请填写推荐简介"><?=T::v('<%=summary  | e(\'html\')%>', $rs )?></textarea> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 文本域: 简介 (summary) -->




	<!-- 单图上传: 图标 (icon) 开始  -->
	<div class="xpmse-image  " name="icon">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="icon">图标</label>
			<div class="col-xs-8">
		   		<div name="icon" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传图标'
					data-previews=""
					data-width="150"
					data-height="150"
					data-icon="fa fa-image" 
					data-placeholder="请上传图标" 
					data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="yes"
					data-draggable="yes"
					data-src="<?=T::v('<%=icon.url%>', $rs )?>"
					data-path="<?=T::v('<%=icon.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 图标 (icon) -->




	<!-- 多图片组上传: 摘要图片 (images) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">
		
		<?php if(@count($rs['images']) < 1): ?><?php $steps = 1 -  @count($rs['images']); for( $i=0; $i<$steps; $i++){ $rs['images'][] = [];} ?><?php endif ?><?php if( is_array($rs['images']) && utils::array_depth($rs['images']) != 2): ?><?php foreach($rs['images'] as $idx=>$it ){ $rs['images'][$idx] = ['img'=>$it]; }?><?php endif ?><?php foreach ( $rs['images'] as $__key=>$img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="images" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="images">摘要图片</label>
				<div class="col-xs-4" style="width:340px" >
			   		<div name="images" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="320"
						data-height="180"
						data-icon="fa fa-image" 
						data-placeholder="请上传推荐位图片" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入图片介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-1 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="images"]').Multipliable({
				initialized: function(elm, idx) {
					$(elm).parent('.xpmse-image-groups-content') .find('.control-label').each( function(i, el ){
						if (i >0) { $(el).html('');}
					});
				},
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.control-label').html('');
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 摘要图片 (images) -->

	<!-- 单行文本: 缓存时间 (ttl) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="ttl">缓存时间</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="ttl" name="ttl" 
				placeholder="请填写缓存时间时间"  
				value="<?=T::v('<%=ttl | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">单位: 秒</div>
		</div>
	</div><!-- END 单行文本: 缓存时间 (ttl) -->


	<!-- 单选框: 状态 (status) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="status">状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["status"])) { $rs["status"] = "on"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="status" data-uncheck-value="on" value="on" <?=("on" == $rs["status"]) ? "checked" : ""?> > <span></span> 开启</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input   type="radio" name="status" data-uncheck-value="off" value="off" <?=("off" == $rs["status"]) ? "checked" : ""?> > <span></span> 关闭</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 状态 (status) 开始  -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('recommend', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 推荐列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['recommend_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除推荐 "
						            confirm-content="您确定删除推荐 <strong><?=$rs['name=title']?>(<?=$rs['recommend_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('recommend','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('推荐删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('recommend','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '推荐删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-recommend_id="<?=$rs['recommend_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['recommend_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=recommend_id]').val( data['recommend_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['recommend_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.recommend-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.recommend-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('recommend','duplicate', ['recommend_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="recommend_id"]').val() == '' || $('input[name="recommend_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>