@charset "utf-8";
@import '/desktop/common/vars.less';

html { font-size: 16px; width: 100%;  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","ED1F53", Arial,sans-serif, 'Apple Color Emoji';  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;  }
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0;}
input{outline:none;}
ul,li{
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}



/**
 * 重载 Bootstrap 样式
 */
.popover {
	-webkit-box-shadow: none;
	box-shadow:none;
	border-radius:4px;
	border-color: @borderGreyLight;
}


.clear {
	clear:both;
}

/**
 * 头部内容
 */
header {
	.topbar {
		font-size:14px;
		font-weight:400;
		height:34px;
		line-height: 34px;
		color: @white;
		background-color: @bgDark;
		margin-bottom: 10px;

		.tb-list {
			a { 
				color: @white; 
				padding: 0 20px 0 20px;
			}

			a:hover {
				text-decoration: none;
				color: @textLight;
			}
			li {
				display: inline-block;
				border-right: 1px solid @borderGrey;
			}

			li:last-child {
				border-right:none;
			}
		}
	}
}

/**
 * 类目导航
 */
.nav {
	.logo {
		width: 160px;
		height:40px;
		margin-bottom:10px;
		img { width:160px; height:40px; }
	}
	.nav-list {
		a {
			font-weight:400;
			width:110px;
			height:40px;
			display:inline-block;
			color: @textDark;
			border-radius:4px;
			text-decoration:none;
		}
		li {
			display:inline-block;
			width:160px;
			line-height:40px;
			font-size:16px;
			text-align:center;
			margin: .1em 0 .1em 0;
		}

		li:hover, li.active {
			
			a {	color: @white;
				background-color: @primary;
			}
		}
	}
}


/**
 * 焦点图
 */
section.focus {

}


/**
 * 文章列表
 */
section.articles {
	

	.article-item-1 {
		// border:1px solid red;
		border-bottom: 1px solid @grey;
		width: 100%;
		padding-top: 10px;

		.image {
			float:left;
			width: 150px;
			height: 100px;
			margin-right: 15px;
			overflow: hidden;
		}

		.content {

			padding: 5px;

			a {
				text-decoration:none;
			}

			h5 {
				min-height: 52px;
				line-height:26px;

				a {
					font-size:20px;
					font-weight:400;
					color: @textDark;
				}

				a:hover {
					color: @primary;
				}
			}

			p {
				color: @textLight;

				a, span{
					margin-right:.5em;
					font-size:14px;
					font-weight:400;
					
				}

				a:hover {
					filter:alpha(opacity=80);
	      			-moz-opacity:0.8;  
	      			-khtml-opacity: 0.8;  
				    opacity: 0.8; 
				}
				.category {
					font-size:12px;
					border: 1px solid @primary;
					color: @primary;
					padding: .1em .2em .1em .2em;
				}
			}
		}
	}
}


/**
 * 内容块
 */
.block {
	margin: 0 0 15px 0;
	background:@blueLight;

	.block-title {
		border-top: 2px solid @primary;
		font-size:18px;
		line-height:24px;
		padding: 15px 15px 15px 15px;
		
	}

	.block-content {
		min-height: 50px;
		padding: 0 15px 0 15px ;
	}

	.item-1 {
		
		font-size:14px;
		border-bottom: 1px solid @grey;
		padding:.5em 0 .5em 0;
		
		a {
				color:@text;
				text-decoration:none;
			}

		.image {
			float: left;
			width:60px;
			height:60px;
			margin-right:.5em;
			overflow:hidden;
		}

		a:hover, .image img:hover {
			filter:alpha(opacity=80);
	    	-moz-opacity:0.8;  
	    	-khtml-opacity: 0.8;  
			opacity: 0.8; 
		}

		.title {
		}
	}

	.item-1:first-child {
		padding-top:0;
	}

	.item-1:last-child {
		border-bottom:none;
		padding-bottom:15px;
	}
}

section.alimama {
	.block-content {
		padding:20px;
		height: 295px;
	}
}



.test2{
	border: 1px solid  green;
}
.test3{
	border: 1px solid  black;
}
.hidden{
	display: none;
}
.pf{
	position:fixed;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.test{
	border: 1px solid red;
}
.inline-block{
	display: inline-block;
}


.w-1170px{
	width: 1170px;
}
.w-200px{
	width: 200px;
}
.w-650px{
	width:750px;
}
.w-800px{
	width:800px;
}
.w-all{
	width: 100%;
}
.w-95{
	width:95%;
}
.w-80{
	width:80%;
}
.w-30{
	width:30%;
}
.w-70{
	width:70%;
}
.w-75{
	width:75%;
}
.w-85{
	width:85%;
}
.w-90{
	width:90%;
}
.w-20{
	width:10%;
}
.w-10{
	width:20%;
}
.w-60{
	width:60%;
}
.w-65{
	width:65%;
}
.w-158px{
	width:158px;
}
.h-102px{
	height:102px;
}
.h-10px{
	height:10px;
}
.h-30{
	height:30px;
}
.h-80px{
	height:80px;
}
.h-70{
	width:70%;
}
.h-all{
	height: 100%;
}
.cp{
	cursor:pointer;
}
.center{
	margin: 0 auto;
}
.t-l{
	text-align:left;
}
.t-c{
	text-align:center;
}
.v-m{
	vertical-align:middle;
}
.left{
	float: left;
}
.right{
	float: right;
}

.oh{
	overflow: hidden;
}

.ls_1{
	letter-spacing:1px;
}

/*字体大小*/
.fs-16{
	font-size: 16px;
}
.fs-14{
	font-size: 14px;
}
.fs-18{
	font-size: 18px;
}
.fs-8{
	font-size: 8px;
}
.fs-18{
	font-weight: 18px;
}
.fs-20{
	font-size: 20px;
}
.fs-24{
	font-size: 24px;
}
.fs-34{
	font-size: 34px;
}


/*字体大小end*/


/*加粗*/
.fw-800{
	font-weight: 800;
}
/*加粗end*/



/*边框*/
.bs-4{
	border-radius:4px;
}
/*边框end*/



.lh-40{
	line-height: 40px;
}
.lh-20{
	line-height: 20px;
}
.ls-1{
	letter-spacing:1px;
}
.fm{
	font-family: 微软雅黑;
}



/*字体颜色*/
.c-ffffff{
	color:#ffffff;
}
.c-888888{
	color: #888888;
}
.c-222{
	color: #222;
}
.c-EB4E39{
	color: #EB4E39;
}
.c-787878{
	color: #787878;
}
.c-363636{
	color: #363636 
} 
.c-333333{
	color: #333333;
}
.c-4A4A4A{
	color: #4A4A4A;
}
.c-828282{
	color: #828282;
} 
.c-545454{
	color: #545454;
}
.c-878787{
	color: #878787;
}
.c-F67723{
	color: #F67723;
}
.c-eb4f39{
	color: #eb4f39;
}
/*字体颜色end*/







/*背景*/
.b-eb4f39{
	background: #eb4f39;
}
.b-222222{
	background: #222222;
}
.b-f0e6e5{
	background:#f0e6e5;
}
.b-ed4040{
	background: #ed4040;
}
.b-f5f6f7{
	background: #f5f6f7;
}
.b-f88c00{
	background: #f88c00;
}
.b-f4f5f6{
	background: #f4f5f6;
}
.b-222222{
	background: #222222;
}
.b-ec4d3a{
	background: #ec4d3a;
}
.b-ffffff{
	background: #ffffff;
}

.b-test2{
	background: red;
}
/*背景end*/




/*边框*/
.b-b-e8e8e8{
	border-bottom:1px solid #e8e8e8;
}
.b-a-87a5b5{
	border: 1px solid #87a5b5;
}
.b-a-e8e8e8{
	border: 1px solid #e8e8e8;
}
.b-a-f5f6f7{
	border: 1px solid #f5f6f7;
}
.b-a-ffffff{
	border: 1px solid #ffffff;
}

.b-b-ececec{
	border-bottom: 1px solid #ececec;
}
.b-b-0467B9{
	border-bottom: 1px solid  #0467B9;
}
/*边框end*/




/*外边距*/
.m-right-10{
	margin-right:10px;
}
.m-left-9{
	margin-left:9px;
}
.m-left-2{
	margin-left:2px;
}
.m-left-5{
	margin-left:5px;
}

.m-left-10{
	margin-left:10px;
}
.m-left-30{
	margin-left:30px;
}
.m-right-16{
	margin-right:16px;
}
.m-top-10{
	margin-top:10px;
}
.m-top-15{
	margin-top:15px;
}
.m-top-1{
	margin-top:1px;
}
.m-top-2{
	margin-top:2px;
}
.m-top-3{
	margin-top:3px;
}
.m-top-5{
	margin-top:10px;
}
.m-top-7{
	margin-top:7px;
}
.m-top-11{
	margin-top:11px;
}
.m-top-15{
	margin-top:15px;
}
.m-top-20{
	margin-top:20px;
}
.m-top-25{
	margin-top:25px;
}
.m-top-10{
	margin-top:10px;
}
.m-top-15{
	margin-top:15px;
}
.m-top-25{
	margin-top:25px;
}
.m-left-10{
	margin-left:10px;
}
.m-top-15{
	margin-top:15px;
}
.m-top-28{
	margin-top:28px;
}
.m-top-20{
	margin-top:20px;
}
.m-top-12{
	margin-top:12px;
}
.m-top-20{
	margin-top:20px;
}
.m-bottom-7{
	margin-bottom:7px;
}
.m-bottom-8{
	margin-bottom:8px;
}
.m-bottom-9{
	margin-bottom:9px;
}
.m-bottom-10{
	margin-bottom: 10px;
}
.m-bottom-15{
	margin-bottom:15px;
}
.m-bottom-20{
	margin-bottom:20px;
}
.m-t-10{
	margin-top: 10px;
}
.m-r-0{
	margin-right: 0px;
}
.m-l-0{
	margin-left: 0px;
}
.m-r-0-im{
	margin-right: 0px !important;
}
.m-l-0-im{
	margin-left: 0px !important;
}

/*外边距end*/




/*内边距*/
.p-r-0-im{
	padding-right: 0px !important;
}
.p-l-0-im{
	padding-left: 0px !important; 
}
.p-top-3{
	padding-top: 3px;
}
.p-top-5{
	padding-top: 5px;
}
.p-top-20{
	padding-top: 20px;
}
.p-top-10{
	padding-top: 10px;
}
.p-top-20{
	padding-bottom: 20px;
}
.p-top-15{
	padding-top: 15px;
}
.p-bottom-15{
	padding-bottom: 15px;
}
.p-bottom-20{
	padding-bottom: 20px;
}
.p-bottom-5{
	padding-bottom: 5px;
}
.p-top-5{
	padding-top: 5px;
}
.p-bottom-8{
	padding-bottom: 8px;
}
.p-top-8{
	padding-top: 8px;
}
.p-bottom-5{
	padding-bottom: 5px;
}

.p-bottom-3{
	padding-bottom: 3px;
}
.p-bottom-5{
	padding-bottom: 5px;
}
.p-bottom-10{
	padding-bottom: 10px;
}
.p-top-10{
	padding-top: 10px;
}
.p-r-0{
	padding-right: 0px;
}
.p-l-0{
	padding-left: 0px; 
}
.p-r-10{
	padding-right: 10px;
}
.p-l-10{
	padding-left: 10px; 
}
.p-a-2{
	padding: 2px;
}
/*内边距end*/


/*头部字体*/
.title-zt{
	color:#ffffff;
	font-size: 15px;
	font-family: 微软雅黑;
	border: 1px solid red;
	padding-top: 2px;
	padding-bottom: 2px;
	letter-spacing:1px;
}

/*头部logo*/
.title-logo{
	width: 160px;
	height:40px;

	img { width:160px; height:40px; }

}

.title_block_list{
	width: 160px;
	height:40px;
}

.wd_160{
	width: 160px;
}

/*文章logo end*/
.tz{
	width: 18px;
	height: 18px;
	border-radius: 40px;
}


/*seek栏*/

.seekbak{
	background: #f5f6f7;
	border: 1px solid #e8e8e8;
	padding-top: 5px;
	padding-bottom: 6px;
}
.seek_but{
	background:#208eda;
	padding-top: 8px;
	padding-bottom: 5px;
	height: 35px;
	width: 100%;
}
.advert{
	height: 295px;
	background: #f4f5f6;
}
.newblock{
	width: 4px;
	height: 18px;
}
.newphoto{
	width: 100%;
	height: 169px;
}

.list_ori{
	border-radius: 30px;
	width: 5px;
	height: 5px;
	background: #cccccc;
	margin-top: 19px;
}
/*seek栏end*/







/*24小时新闻*/
.timeblock{
	width: 60px;
	height: 60px;
}
/*24小时新闻end*/



/*热门视频*/
.hotimg{
	width: 95%;
	height: 80px;
}
/*热门视频end*/



/*右侧底部刷新栏目*/
.block_last{
	position: fixed;
	bottom: 20px;
	right:13%; 
}
.block_top{
	width: 30px;
	height: 30px;
	background: #eb4f39;
	padding-top: 2px;
}

.block_fulsh{
	width: 30px;
	height: 30px;
	background: #208edb;
}

.sx_png{
	width: 25px;
	height: 25px;
	margin-left: 3px;
	margin-top: 1px;
}

/*右侧刷新栏目end*/


/*轮播图*/
* { 
    padding: 0;
    margin: 0;
}
ul {list-style: none;}
.out {
	position: relative;
	width: 100%;
	height: 280px;
	margin: 0 auto;
	overflow: hidden;
}
.out .img img{
	width: 100%;
	height:300px;
}

.out .img li {
	position: absolute; 
	top: 0; 
	left: 0;
	display: none;
}
.out .num {
	position: absolute; 
	top: 0;
	right: 0;
	font-size: 0;
	text-align: center;
}
.out .num li {
	width: 66px;
	height: 40px;
	font-size: 16px;
	background-color: #222222;
	color: #fff;
	line-height: 20px;
	cursor: pointer;
	padding-top: 8px;
}
.out .num li.active { background-color:#a00;}
.out .btn {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	margin-top: -30px;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 40px;
	display: none;
}
.out:hover .btn{ 
	display: block;
	cursor: pointer;
}
.out .left { left: 0;}
.out .right { right: 0;}
/*轮播图end*/