@charset "utf-8";
/*
模板版权所有归星点互联（Neoconex）所有，请尊重版权与原创；
任何模板使用问题，请联络QQ：1691000615 寻求解决。
版本：vision1.0
*/
/*=======公共样式=======*/
a{ text-decoration:none;}

a:hover{ text-decoration:none;}

*{ padding:0px;margin:0px; font-weight:300; font-family:nexbold!important;}

ul li{list-style:none;}

img{ border:none;}

.clear{ clear:both;}

body{ width:500px;}

.button{ background: linear-gradient(-45deg,#32b6ff,#4276ff); margin-top:10px; width:50px; height:30px;}

.nex_bg_cl{ background:#f4f5f6;}

.btn_login .pn, .btn_register .pn{ background: linear-gradient(-45deg,#32b6ff,#4276ff); font-weight:300; width:73%;}

.plc .pi .message img, .plc .pi .img_one img{max-width:100%; max-height:100%; display: block!important;}
.plc .avatar img{ border-radius:100%;}
.threadlist{ width:auto;}
.threadlist .thread_tit{ font-size:15px!important; font-weight:300!important; background:#fff!important; font-size:16px!important; color:#666!important;}
.threadlist h2.thread_tit{ padding:0;}
.btn_qqlogin a{ background:#f90; line-height:45px; width:73%; color:#fff;}
.page{ margin:0; padding:5px 10px 20px 10px;}
.page a { margin:0 5px; border: 1px solid #d1d1d1; border-radius: 2px; padding: 5px 9px; background: #FFF; }
.nex_wp{ width:100%;}
/*=======头部样式=======*/
.header{ width: 100%; height: 49px; line-height: 49px; position: fixed; top: 0px; font-size: 19px; text-align: center; background: linear-gradient(-45deg,#32b6ff,#4276ff); z-index: 10; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}

.nex_navbar{height: 49px; background:#fff; width: 100%; line-height: 49px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;}
.nex_navright{position: absolute; display: block; width: 49px; height: 49px; top: 0;right: 0;}
.nex_navright a{display: inline-block; width:49px; height:49px; background:url(headertop/search.png) center no-repeat; background-size:18px;vertical-align: middle;}
.nex_navleft{position: absolute; display: block; width: 49px; height: 49px; left:0; top:0;}
.nex_navtop_column{}
.nex_navtop_column .nex_subnavs{ display:block; width:49px; height:49px; border:0; background:url(headertop/menu.png) center no-repeat; background-size:15px;}
.nextoplogo{width:82px; height:25px; margin:0 auto; padding-top:12px;}
.nextoplogo img{ display:block; width:82px; height:25px;}
/*侧边导航*/
/*登录后*/

.nex_nav_dlbox{ padding:35px 15px 15px 15px; background:url(headertop/status_bg.jpg) center no-repeat; background-size:cover;}
.nex_nav_dlbox h2{ text-align:center; height:20px; line-height:20px; margin-bottom:15px; overflow:hidden; font-size:16px; color:#455950;font-family:SimHei;}
.nex_nav_dlbox a{ display:block; width:100%; height:100%;}
.nex_nav_tx{ width:60px; height:60px; margin:0 auto; position:relative;}
.nex_nav_tx img{ width:60px; height:60px;}
.nex_nav_tx em{display: block; width: 15px; height: 15px; padding: 2px; background: #fff; border-radius: 100%; position: absolute; top: -6px; right: -8px; z-index: 2; }
.nex_nav_tx em b{display: block; width: 15px; height: 15px; line-height: 15px; text-align: center; font-size: 12px;color: #fff; border-radius: 100%; font-weight: 400; background: linear-gradient(-45deg,#32b6ff,#4276ff); overflow:hidden;}
.nex_nav_infos{  width:100%;margin:0 auto;}
.nexmemberinfos{ width:100%; margin:10px auto;}
.nexmemberinfos ul{ width:100%;}
.nexmemberinfos ul li{ float:left; padding:0 3%; border-right:1px solid #ededed; height:35px; margin-bottom:10px;  }
.nexmemberinfoterms{ height:15px; line-height:15px; font-size:12px; color:#999; font-weight:300; overflow:hidden;text-align:center;}
.nexmemberinfos ul li p{ height:20px; line-height:20px; font-size:12px; color:#444;text-align:center;font-weight:300; margin-bottom:2px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; }
.nexmemberinfos ul li p em{}
.nexmemberinfos ul li.nexmemberinfosones{ width:24%;}
.nexmemberinfos ul li.nexmemberinfosthrees{ width:32%;}
.nexmemberinfos ul li.nexmemberinfostwos{ width:24%; border-right:0;}
.nex_nav_name{ height:25px; line-height:25px; text-align:center; margin:10px 0; overflow:hidden; font-size:14px; color:#444;}

/*登陆前*/
.nex_nav_user{width:60px; height:60px; display:block; margin:0 auto;}
.nex_nav_user img{ width:60px; height:60px;}
.nex_nav_userbns{ display:table; margin:20px auto 10px;}
.nex_nav_userbns a{ display:block; width:100px; height:35px; line-height:35px; text-align:center; font-size:12px; margin:0 5px; float:left;}
.nex_nav_userbns a.nex_nav_dl{ background: linear-gradient(-45deg,#32b6ff,#4276ff); color:#fff;}
.nex_nav_userbns a.nex_nav_zc{ height:31px; line-height:31px;  border:2px solid #32b6ff; color:#32b6ff;}
.nex_navbox{ padding-top:10px;}

.nex_navmiddle{display: block;height: 49px; line-height:49px;  margin: 0 70px; width: auto; font-size: 18px; line-height: 24px; text-align: center;}
.nex_navmiddle img{ height:25px; display:block; margin-top:12px;}

.nex_subnavbar{position: relative; background: #fff; font-size: 16px; color: #455950; height: 46px; line-height: 46px; text-align: left; padding: 0 10px;  border-bottom:1px solid #ededed;}
.nex_swiper-wrapper{overflow: hidden; }
.nex_mainsub{ width:100%; height:50px; position:relative; overflow:hidden;}
.nex_mainsub a{ width: 19%; display:inline-block; float:left;height: 46px; line-height: 46px; text-align:center;  font-size:16px; color:#455950!important;}
.nex_downbtn{ width:18px; height:46px; position:absolute; right:8px; top:0px; background:url(sub_down_btn.png) center no-repeat; z-index:11;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;}
.nex_downbtn.cur{transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -ms-transform:rotate(180deg);}
.nex_hiddensubs{ position:absolute; top:47px; left:0; padding:10px; background:#f8f8f8; display:none;}
.nex_hiddensubs a{ float: left; width: 20%; height:33px; font-size:15px; color:#666; line-height:33px; }
.nex_hiddensubs a b{ font-weight:bold;}




/*footer*/
.nex_footer{ line-height:25px; padding-top:0;}
.nex_Common_Footer{padding:40px 15px 30px 15px; background:#333; }
.nex_CF_Barcode{ width:120px; height:120px; margin:0 auto 10px;}
.nex_CF_Barcode img{width:120px; height:120px; }
.nex_Common_Footer h5{ text-align:center;  height:30px; line-height:30px; font-size:16px; color:#fff; font-weight:400;}
.nex_Common_Footer h4{text-align:center;  height:30px; line-height:30px; font-size:14px; color:#fff; font-weight:400;}
.nex_Common_Footer a{ display:block; width:120px; height:35px; line-height:35px; margin:10px auto; text-align:center; font-size:12px; color:#fff;background: linear-gradient(-45deg,#32b6ff,#4276ff);}
.nex_footer a{ color:#fff;}
.nex_footer p{ color:#fff; background:#111; padding:20px 0;}
.nex_footernavs{color:#fff;}



/*=======门户=======*/
.nex_header_top{top:-49px;}
.nex_header_topx{ top:0;}
.nex_side_tools{ width:40px; position:fixed; right:15px; bottom:20px; z-index:1111;}
.nex_side_tools a{ display:block;width:40px; height:40px; margin-bottom:10px;overflow:hidden;border-radius:100%;}
.nex_st_one{ width:40px; height:40px; border-radius:100%; overflow:hidden;box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2); background:#fff url(index/kf.png) center no-repeat; background-size:25px;}
.nex_st_two{ width:40px; height:40px; border-radius:100%; overflow:hidden;box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2); background:#fff url(index/tel.png) center no-repeat; background-size:25px;}

/*slide*/
.nex_index_focus{ width:100%; height:240px;position:relative; overflow:hidden; }
.nex_index_focus .hd{ width:95%; height:11px;  position:absolute; z-index:1; bottom:16px; right:5%; text-align:right;  }
.nex_index_focus .hd ul{ display:inline-block;}
.nex_index_focus .hd ul li{ display:inline-block; width:8px; height:8px; border-radius:100%; background:rgba(255,255,255,0.9); margin:0 2px;  vertical-align:top; overflow:hidden; line-height:200px;  }
.nex_index_focus .hd ul .on{ background: linear-gradient(-45deg,#32b6ff,#4276ff);}
.nex_index_focus .bd{ position:relative; z-index:0; }
.nex_index_focus .bd a{ display:block; width:100%; height:240px; position:relative;}

.nex_if_pic{ width:100%;  height:240px; }
.nex_if_pic img{ width:100%;  height:240px; background:url(index/lazy_load.gif) center center no-repeat;  }
.nex_if_inters{ width:90%; padding:3% 5%; height:58px; position:absolute; left:0; bottom:0;background: rgba(0,0,0,.2);}
.nex_if_inters h5{ height:28px; line-height:28px; margin-bottom:10px; font-size:18px; color:#fff; overflow:hidden; font-weight:500;}
.nex_if_btms_l{ float:left; height:20px; line-height:20px;}
.nex_if_btms_l img{ display:block; float:left; width:20px; height:20px; border-radius:100%;}
.nex_if_btms_l em{ display:block; float:left; margin-left:12px; height:20px; line-height:20px; font-size:12px; color:#fff;}
.nex_if_btms_r{ float:left; border-left:1px solid #fff; padding-left:12px; margin-left:12px;height:12px; line-height:12px; margin-top:4px;}
.nex_if_btms_r span{ display:inline-block; float:left; margin-right:10px; font-size:12px; color:#fff;height:14px; line-height:14px;}

/*今日推荐*/
.nex_today_re{ padding:10px 15px 10px 10px; height:60px; line-height:60px; background:#fff; margin-bottom:10px;}
.nex_today_rel{ float:left; width:60px; height:60px; background:url(index/today_re.png) no-repeat; background-size:60px;}
.nex_today_rer{ padding-left:75px;}
.nex_today_rer ul li{ height:30px; line-height:30px; overflow:hidden;}
.nex_today_rer ul li a{ display:block; width:100%; height:30px; line-height:30px; overflow:hidden;}
.nex_today_rer ul li a span{ display:block; float:left; max-width:200px; padding-left:12px; background:url(index/square.png) left center no-repeat; background-size:6px; height:30px; line-height:35px; font-size:14px; color:#4c4c4c;}
.nex_today_rer ul li a em{ display:block; float:right;height:30px; line-height:34px; font-size:12px; color:#999;}
/*头条新闻*/
.nex_CM_TOP span.nex_topnews_headers{ background:url(index/antitop.png) left center no-repeat; background-size:25px; padding-left:35px;}
.nex_TouTiao{}
.nex_TouTiao ul li{}
.nex_TT_first{ margin-bottom:10px;}
.nex_TT_first a{ display:block; width:100%;}
.nex_TT_first a h5{ height:30px; line-height:30px; font-size:16px; color:#4c4c4c; overflow:hidden; margin-bottom:5px; font-weight:600;}
.nex_TT_first a p{ height:44px; line-height:22px; font-size:12px; color:#999; overflow:hidden;}
.nex_TT_commons{ height:35px; line-height:35px; overflow:hidden; border-bottom:1px solid #ededed;}
.nex_TouTiao ul li:last-child .nex_TT_commons{ border-bottom:0;}
.nex_TT_commons a{ display:block; width:100%; height:35px; line-height:35px; font-size:14px; color:#4c4c4c; padding-left:15px; background:url(index/square.png) left center no-repeat; background-size:6px; font-weight:500;}
/*市场推广*/
.nex_CM_TOP span.nex_marketing_headers{ background:url(index/allput.png) left center no-repeat; background-size:25px; padding-left:35px;}
.nex_TuiGuang{}
.nex_TuiGuang ul li{ padding-bottom:13px; margin-bottom:13px; border-bottom:1px solid #ededed;}
.nex_TG_first{}
.nex_TG_first a{ display:block; width:100%;}
.nex_TG_img{ width:100%; height:400px; margin-bottom:10px;}
.nex_TG_img img{ width:100%; height:100%;}
.nex_TG_first a span{ display:block; height:25px; line-height:25px; font-size:14px; color:#999;}
.nex_TG_first a em{display:block; height:25px; line-height:25px; font-size:14px; color:#999;}
.nex_TG_first a h5{ height:22px; line-height:22px; overflow:hidden; font-size:16px; color:#4c4c4c; font-weight:600; margin:3px 0;}
.nex_TG_others{}
.nex_TG_others a{ display:block; width:100%;}
.nex_TG_ozimg{ width:130px; height:90px; float:left;}
.nex_TG_ozimg img{width:130px; height:90px;}
.nex_TG_ozinfo{ padding-left:145px;}
.nex_TG_ozinfo span{ height:15px; line-height:15px; font-size:12px; color:#999;}
.nex_TG_ozinfo h5{ height:44px; line-height:22px; font-size:14px; color:#4c4c4c; overflow:hidden; font-weight:600; margin:5px 0;}
.nex_TG_ozinfo em{height:15px; line-height:15px; font-size:12px; color:#999;}
.nex_TuiGuang ul li:last-child{ border-bottom:0; margin-bottom:0;}
/*行业关注*/
.nex_CM_TOP span.nex_marketfoucus_headers{background:url(index/artfouce.png) left center no-repeat; background-size:25px; padding-left:35px;}
.nex_Focused{}
.nex_Focused ul li{}
.nex_Focused ul li:last-child{border-bottom:0; margin-bottom:0;}
.nex_Focus_first{ width:100%; height:200px;padding-bottom:13px; margin-bottom:13px;}
.nex_Focus_first a{ display:block; width:100%; height:100%; position:relative; overflow:hidden;}
.nex_Focus_first a span{ display:block; width:60px; height:30px; line-height:30px; background:rgba(0,0,0,0.4); font-size:12px; color:#fff; position:absolute; top:0; left:0; text-align:center; overflow:hidden; padding:0 5px;}
.nex_Focus_first a img{width:100%; height:200px;}
.nex_Focus_first a p{ height:35px; line-height:35px; padding:0 5%; width:90%; position:absolute; left:0; bottom:0; background:rgba(0,0,0,0.4); font-size:16px; color:#fff; font-weight:600; overflow:hidden;}
.nex_Focus_others{padding-bottom:13px; margin-bottom:13px; border-bottom:1px solid #ededed;}
.nex_Focused ul li:last-child .nex_Focus_others{padding-bottom:10px; margin-bottom:0; border-bottom:0;}
.nex_Focus_others a{}
.nex_Focus_others a h5{ height:30px; line-height:30px; font-size:14px; color:#4c4c4c; font-weight:600; overflow:hidden;}
.nex_Focus_Btms{ height:22px; line-height:22px; margin-top:5px;}
.nex_Focus_Authors{ float:left; height:22px; line-height:22px; overflow:hidden;}
.nex_Focus_Authors img{ display:block; float:left; width:22px; height:22px; border-radius:100%;}
.nex_Focus_Authors span{ display:block; float:left; margin-left:10px; height:22px; line-height:22px; font-size:12px; color:#999;}
.nex_Focus_Infos{ float:right; height:22px; line-height:22px; overflow:hidden;}
.nex_Focus_Infos em{ margin-left:10px; font-size:12px; color:#999;}
/*24hrs*/
.nex_CM_TOP span.nex_24hrs_headers{background:url(index/24hrs.png) left center no-repeat; background-size:25px; padding-left:35px;}
.nex_24hr_box{ margin-bottom:10px;}
.nex_24hr_box ul li{}
.nex_24hr_box ul li a{}
.nex_24hrs_avator{ width:40px; height:40px; float:left;}
.nex_24hrs_avator img{ width:40px; height:40px; border-radius:100%;}
.nex_24hrs_infos{ padding-left:55px;}
.nex_24hrs_infos_bod{ height:20px; line-height:20px; overflow:hidden; font-size:12px; color:#999;}
.nex_24hrs_infos_bod span{  margin:0 5px;color:#32b6ff;}
.nex_24hrs_infos_bod em{margin-right:5px; color:#32b6ff;}
.nex_24hrs_infos h5{ height:44px; line-height:22px; overflow:hidden; font-size:14px; color:#4c4c4c; font-weight:600;}
/*干货课程*/
.nex_CM_TOP span.nex_ghkc_headers{background:url(index/allcourse.png) left center no-repeat; background-size:30px; padding-left:35px;}
.nex_KC_lists{ overflow:hidden;}
.nex_KC_lists ul{ width:104%;}
.nex_KC_lists ul li{ float:left; margin:0 4% 4% 0; width:46%;}
.nex_KC_lists ul li a{ display:block; width:100%;}
.nex_kcpiv{ width:100%; height:120px;}
.nex_kcpiv img{ width:100%; height:100%;}
.nex_kcbtm{}
.nex_kcbtm h5{ height:30px; line-height:30px; margin:5px 0; font-size:14px; color:#4c4c4c; font-weight:600; overflow:hidden;}
.nex_kcinters{ height:20px; line-height:20px; overflow:hidden;}
.nex_kcinters span{ display:block; float:left;}
.nex_kcinters span img{ width:20px; height:20px; border-radius:100%; float:left; display:block;}
.nex_kcinters span i{ display:block; float:left;margin-left:10px; height:20px; line-height:20px; font-size:12px; color:#999;}
.nex_kcinters em{ display:block; float:right; height:20px; line-height:20px; font-size:12px; color:#999;}



/*ads*/
.nex_index_ads{}
.nex_index_ads a{ display:block; width:100%;}
.nex_index_ads a h5{ height:30px; line-height:30px; margin-bottom:5px; overflow:hidden; font-size:16px; color:#4c4c4c; font-weight:600;}
.nex_index_ads a img{ height:120px; width:100%;}

/*资讯列表*/
.nex_CM_BOX{ padding:10px 15px; background:#fff; margin-bottom:10px;}
.nex_CM_TOP{ height:30px; line-height:30px; margin-bottom:15px; overflow:hidden;}
.nex_CM_TOP span{ display:block; float:left; height:30px; line-height:34px; font-size:16px; color:#4c4c4c; overflow:hidden; font-weight:600;}
.nex_CM_TOP a{ display:block; float:right;height:30px; line-height:30px; font-size:12px; color:#999;}
.nex_CM_TOP span.nex_zx_headers{ background:url(index/anylasis.png) left center no-repeat; background-size:25px; padding-left:35px;}
.nex_CM_BTM{}
.nex_zx_hidden{ display:none;}
.nex_load_end{}
.nex_load_end li{overflow: hidden;padding-bottom:13px; margin-bottom:13px; border-bottom:1px dashed #ededed;}
.nex_load_end li a{ display:block; width:100%; }
.nex_zx_listspic{ float:left; width:130px; height:90px;}
.nex_zx_listspic img{ width:100%; height:100%;}
.nex_zx_listinfos{ padding-left:145px;}
.nex_zx_listinfos h5{ height:66px; line-height:22px; overflow:hidden; font-size:14px; color:#4c4c4c; font-weight:600;}
.nex_zx_listbtmsd{ height:20px; line-height:20px; font-size:12px; color:#999; margin-top:5px; overflow:hidden;}
.nex_zx_listbtmsd span{ display:block; float:left;height:20px; line-height:20px;}
.nex_zx_listbtmsd span i{ padding:0 5px;}
.nex_zx_listbtmsd em{ float:right; display:block;height:20px; line-height:20px;}
.nex_CM_BTM .nex_load_more{overflow: hidden;padding:10px;text-align: center;}
.nex_CM_BTM .nex_load_more a{display: block;width: 120px;padding:8px 0; font-size:12px;color:#fff;margin:0 auto;background: linear-gradient(-45deg,#32b6ff,#4276ff);text-align:center;}
.nex_CM_BTM .nex_load_more a:hover{text-decoration: none;background: linear-gradient(-45deg,#32b6ff,#4276ff);color: #fff;}
.nex_CM_BTM .nex_load_more p{text-align: center;padding: 10px; font-size:14px; color:#4c4c4c;}
.nex_CM_BOX_LN{ margin-bottom:0;}


