<?php
	use \Tuanduimao\Loader\App as App;
?>
<script type="text/javascript">
	DEBUG_ON = true;
</script>
<!-- Page Content -->
<div class="content">

	<div class="block block-bordered webeditor " >
		
		<div class="block-content remove-margin remove-padding row" >
			
			<!-- 图集预览 -->
			<div class="col-xs-6 remove-margin remove-padding" style="" >

				<div style="border-bottom: 1px solid #e9e9e9;padding:7px 15px 7px 15px;text-align: right;">
					
					<!-- 面包屑导航 -->
					<span class="gallery-crumb pull-left"></span>

					<!-- <a href="#" class="text-muted pull-left push-10-r font-s16"> <i class="glyphicon glyphicon-edit"></i> </a> -->
					<!-- <a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-eye-open"></i> </a> -->
					
					<!-- 图片列表 -->
					<a href="javascript:void(0)" class="text-muted push-10-r font-s16 images-preview"> 
						<i class="glyphicon glyphicon-th-large"></i>
					</a>
					
					<!-- 打包下载 -->
					<a href="#" class="text-muted push-10-r font-s16">
						<i class="glyphicon glyphicon-download-alt"></i>
					</a>

					<!-- 批量打印-->
					<a href="#" class="text-muted push-10-r font-s16">
						<i class="glyphicon glyphicon-print"></i>
					</a>

				</div>

				<div class="imgeditor-helper" data-toggle="slimscroll"></div>

			</div> <!-- col-xs-6 预览  -->

			<!-- 图集编辑器 -->
			<div class="col-xs-6 remove-margin remove-padding" style="border-left: 1px solid #e9e9e9;" >
				<div style="border-bottom: 1px solid #e9e9e9;padding:7px 15px 7px 15px;" class="toolbar">

					<!-- <a href="javascript:void(0);" class="fn-move text-muted push-10-l push-10-r font-s16"> 
						<i class="glyphicon glyphicon-move"></i> 
					</a> -->
					
					<a href="javascript:void(0);" class="fn-add-image text-muted push-10-l push-10-r font-s16"> 
						<i class="glyphicon glyphicon-picture"></i> 
					</a>

					<a href="javascript:void(0);" class="fn-add-text text-muted push-10-r font-s16">
						<i class="glyphicon glyphicon-font"></i> 
					</a>
					<a href="javascript:void(0);" class="fn-add-qrcode text-muted push-10-r font-s16"> 
						<i class="glyphicon glyphicon-qrcode"></i> 
					</a>

					
					<!-- 工具栏切换 -->
					<a href="javascript:void(0);" class="option-panel-toggle text-muted push-10-l pull-right font-s16"> <i class="glyphicon glyphicon-briefcase"></i> </a>

					<!-- zoom  -->
					<a href="javascript:void(0);" class="zoom-in text-muted push-10-r  pull-right font-s16"> <i class="glyphicon glyphicon-zoom-out"></i> </a>
					<span class="text-muted pull-right push-10-r  zoom-status">100%</span>
					<a href="javascript:void(0);" class="zoom-out text-muted push-10-r pull-right font-s16"> <i class="glyphicon glyphicon-zoom-in"></i> </a>

				</div>
				<div class="canvas"></div> <!-- END canvas -->
			</div> <!-- end col-xs-6 编辑 -->


			
	

		</div> <!-- END block-content -->

		<!-- 功能操作面板-->
		<div class="block block-quickpanel hidden" >
			<div class="block-quickpanel-content " >
				<div class="row">
					<div class="col-xs-12">

						<button 
							type="button"
							class="btn btn-primary font-w300  push-20-r btn-minw  fn-btn">
							<i class="fa fa-save push-5-r"></i> 保存
						</button>

		
						<button 
							type="button"
							class="btn btn-default font-w300 push-20-r  pull-right  btn-minw  fn-btn hidden">
							<i class="fa fa-gears push-5-r"></i> 页面设置
						</button>

					</div>
				</div>
			</div>
		</div> <!-- End block-quickpanel -->

	</div> <!-- END block -->
</div><!-- end content -->



<!-- imageeditor 管理面板 -->
<div class="imgeditor-panels  js-silent hidden">

	<div class="warpper page"><form class="form-horizontal" >

		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">图集主题</span>
					<input class="form-control" name="title" type="text" placeholder="" >
				</div>
			</div>
		</div>
	
		<div class="form-group">
			<div class="col-xs-8">
				<div class="input-group">
					<span class="input-group-addon">背景图片</span>
					<input class="form-control" name="bgimage" type="text" placeholder="可输入完整图片地址" >
					<span class="input-group-btn">
						<button class="btn btn-default fn-upload" type="button">选择</button>
					</span>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="js-colorpicker input-group" data-colorpicker-mode="rgba">
					<span class="input-group-addon">背景颜色 <i></i></span>
					<input class="form-control" name="bgcolor"  type="text" value="rgba(255,255,255,0)">
				</div>
			</div>
		</div>
		
		<div class="form-group" style="margin-top: 20px;">
			<div class="col-xs-12">
				<button class="btn btn-minw btn-primary push-10-r fn-save" type="button">保存</button>
				<button class="btn btn-minw btn-primary push-10-r fn-update" type="button">更新</button>
				<button class="btn btn-minw btn-danger" type="button">删除</button>
			</div>
		</div>

	</form></div> <!-- END page option  -->


	<div class="warpper qrcode" ><form class="form-horizontal" >

		<div class="form-group">
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">类型</span>
					<select 
						name="type"
						class="js-select2 form-control" style="width:100%;" data-placeholder="">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
						<option value="url">网址</option>
						<option value="wxapp" >小程序码</option>
						<option value="wechat" >带参二维码</option>
						<option value="text">文本</option>
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">微信</span>
					<select 
						name="config"
						data-preload-url='<?=App::URI("mina", "image", "wechat")?>'
						class="js-select2 form-control" style="width:100%;" data-placeholder="请选择..">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">AppID</span>
					<input name="appid" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">Secret</span>
					<input name="secret"  class="form-control" type="text" placeholder="" >
				</div>
			</div>
		</div>
	
		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">地址</span>
					<input name="text" class="form-control" type="text" placeholder="可填写网址、小程序页面或文本内容" >
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-9">
				<div class="input-group">
					<span class="input-group-addon">参数</span>
					<input name="params"  class="form-control" type="text" placeholder="可填写小程序或带参二维码的请求参数" >
				</div>
			</div>

			<div class="col-xs-3">
					<select class="js-select2 form-control" 

						event-select="
							function(event) {
								var $form = $(this).parents('form');
								var $params = $('input[name=params]', $form);
								var value = null, params = [];
								try { value = event.params.data.id } catch(e){};
								try { params = $params.val().split('&') } catch(e){};
								params.push(value);
								
								// 排重操作
								var paramsHash = {},newParams =[];
								for( var i =0; i<params.length; i++ ){
									paramsHash[params[i]] = true;
								}
								for( var v in paramsHash ) {
									if ( v != '') {
										newParams.push( v );
									}
								}

								$params.val( newParams.join('&') );
							}
						"
	
						style="width: 100%;" data-placeholder="动态参数">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
						<option value="id={{id}}">本图 ID</option>
						<option value="url={{url}}">本图地址</option>
					</select>
			</div>

		</div>

		<div class="form-group">
			<div class="col-xs-9">
				<div class="input-group">
					<span  class="input-group-addon">logo</span>
					<input name="logo"   class="form-control" type="text" placeholder="请输入完整 Logo 地址">
					<span  class="input-group-btn">
						<button class="btn btn-default fn-upload" type="button">选择</button>
					</span>
				</div>
			</div>

			<div class="col-xs-3">
				<input name="logowidth"  class="form-control" type="text" placeholder="Logo 尺寸" >
			</div>
		</div>

		<div class="form-group">

			<div class="col-xs-3">
				<div class="input-group">
					<span  class="input-group-addon">宽度</span>
					<input name="width" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span  class="input-group-addon">高度</span>
					<input name="height" class="form-control disabled" disabled type="text" placeholder="" >
				</div>
			</div>
		
			<div class="col-xs-3">
				<div class="js-colorpicker input-group" data-colorpicker-mode="rgba">
					<span class="input-group-addon">颜色 <i></i> </span>
					<input  name="color"  class="form-control" type="text" value="rgba(0,0,0,1)">
				</div>
			</div>

			<div class="col-xs-3">
				<div class="js-colorpicker input-group" data-colorpicker-mode="rgba">
					<span   class="input-group-addon">背景 <i></i></span>
					<input  name="background" class="form-control" type="text" value="rgba(255,255,255,0)">
				</div>
			</div>
		</div>


		<div class="form-group">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">绑定动态数据</span>
					<select
						name="origin"
						class="js-select2 form-control"
						data-preload-url="<?=App::NR('gallery', 'columns')?>"
						data-ajax-url="<?=App::NR('gallery', 'columns')?>"
						data-cache="false"
					 	class="js-select2 form-control" style="width: 100%;" data-placeholder="请选择...">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 X</span>
					<input name="x" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 Y</span>
					<input name="y" class="form-control" type="text" placeholder="" >
				</div>
			</div>

		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-minw btn-primary push-10-r fn-save" type="button">保存</button>
				<button class="btn btn-minw btn-primary push-10-r fn-update" type="button">更新</button>
				<button class="btn btn-minw btn-danger  fn-remove" type="button">删除</button>
			</div>
		</div>

	</form></div> <!-- END QRCode option  -->

	<div class="warpper text "><form class="form-horizontal" >

		<div class="form-group">
			<div class="col-xs-12">
				<textarea name="text"  class="form-control"  placeholder="请输入文本" ></textarea>

			<!-- 	<div class="input-group">
					<span class="input-group-addon">文字</span>
					<input name="text" class="form-control" type="text" placeholder="" >
				</div> -->
			</div>

		</div>

		<div class="form-group">

			<div class="col-xs-3" style="table-layout: fixed;">
				<div class="input-group">
					<span class="input-group-addon">字体</span>
					<select
					name="font"
					class="js-select2 form-control" 
					data-preload-url='<?=App::URI("mina", "image", "fonts")?>'
					data-default-text="黑体"
					data-default-id="1"
					data-cache="false"
					style="width:100%;"  data-placeholder="选择字体">
						<option></option> <!-- Required for data-placeholder attribute to work with Select2 plugin -->
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">大小</span>
					<input name="size" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3" style="padding-left: 8px; padding-right: 8px;">
				<div class="input-group">
					<span class="input-group-addon">排版</span>
					<select name="type" class="js-select2 form-control" style="width:100%;" data-placeholder="">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
						<option value="horizontal">横排</option>
						<option value="vertical">竖排</option>
					</select>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">方向</span>
					<select name="dir" class="js-select2 form-control" style="width:100%;" data-placeholder="">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
						<option value="ltr">左向右</option>
						<option value="rtl">右向左</option>
					</select>
				</div>
			</div>


			

		</div>

		<div class="form-group">
			
			<div class="col-xs-6">
				<div class="js-colorpicker input-group" data-colorpicker-mode="rgba">
					<span class="input-group-addon">颜色 <i></i> </span>
					<input name="color" class="form-control" type="text" value="rgba(92,210,125,1)">
				</div>
			</div>

			<div class="col-xs-6">
				<div class="js-colorpicker input-group" data-colorpicker-mode="rgba">
					<span class="input-group-addon">背景 <i></i></span>
					<input name="background"  class="form-control" type="text" value="rgba(92,210,125,0)">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">宽度</span>
					<input name="width" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">高度</span>
					<input name="height" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">行高</span>
					<input name="line" class="form-control" type="text" placeholder="" >
				</div>
			</div>
			
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">间距</span>
					<input name="space" class="form-control" type="text" placeholder="" >
				</div>
			</div>

		</div>

		<div class="form-group">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">绑定动态数据</span>
					<select 
						name="origin"
						class="js-select2 form-control" 
						
						data-ajax-url="<?=App::NR('gallery', 'columns')?>"
						data-cache="false"
						class="js-select2 form-control" style="width: 100%;" data-placeholder="请选择...">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->

					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 X</span>
					<input name="x" class="form-control" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 Y</span>
					<input name="y" class="form-control" type="text" placeholder="" >
				</div>
			</div>

		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-minw btn-primary push-10-r fn-save" type="button">保存</button>
				<button class="fn-update btn btn-minw btn-primary push-10-r" type="button">更新</button>
				<button class="fn-remove btn btn-minw btn-danger" type="button">删除</button>
				<button class="fn-upload btn btn-default font-w300  btn-minw   pull-right fn-btn" type="button"> 
					<i class="fa fa-font"></i> 上传字体
				</button>
			</div>
		</div>

	</form></div> <!-- END text option  -->


	<div class="warpper image"><form class="form-horizontal" >

		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">图片</span>
					<input class="form-control" name="src" type="text" placeholder="" >
					<span class="input-group-btn">
						<button class="btn btn-default fn-upload" type="button">选择</button>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">宽度</span>
					<input class="form-control" name="width" type="text" placeholder="" >
				</div>
			</div>
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">高度</span>
					<input class="form-control" name="height" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">透明度</span>
					<input class="form-control" name="alpha"  type="text" placeholder="" >
				</div>
			</div>
		</div>

		<div class="form-group">
		
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">绑定动态数据</span>
					<select 
						class="js-select2 form-control" name="origin" 
						data-preload-url="<?=App::NR('gallery', 'columns')?>"
						data-ajax-url="<?=App::NR('gallery', 'columns')?>"
						data-default-text="李四"
						data-default-id="2"
						data-cache="false"
						style="width: 100%;" data-placeholder="请选择...">
						<option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 X</span>
					<input class="form-control" name="x" type="text" placeholder="" >
				</div>
			</div>

			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">位置 Y</span>
					<input class="form-control" name="y" type="text" placeholder="" >
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-minw btn-primary push-10-r fn-save" type="button">保存</button>
				<button class="btn btn-minw btn-primary push-10-r fn-update" type="button">更新</button>
				<button class="btn btn-minw btn-danger fn-remove" type="button">删除</button>
			</div>
		</div>

	</form></div> <!-- END image option  -->
</div> <!-- END imgeditor-panels -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	<!-- Background of PhotoSwipe. 
		 It's a separate element as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>

	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">

		<!-- Container that holds slides. 
			PhotoSwipe keeps only 3 of them in the DOM to save memory.
			Don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>

		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">

			<div class="pswp__top-bar">

				<!--  Controls are self-explanatory. Order can be changed. -->

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

				<button class="pswp__button pswp__button--share" title="Share"></button>

				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

				<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
				<!-- element will get class pswp__preloader--active when preloader is running -->
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
					  <div class="pswp__preloader__cut">
						<div class="pswp__preloader__donut"></div>
					  </div>
					</div>
				</div>
			</div>

			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div> 
			</div>

			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
			</button>

			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
			</button>

			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>

		</div> <!-- END Default (PhotoSwipeUI_Default) interface -->

	</div> <!-- END Slides wrapper with  -->
</div> <!-- END PhotoSwipe -->


<script type="text/javascript">
	
$(function() {

	// 取消导航浮动
	$('#header-navbar').css('position', 'static');
	$('main').css('padding-top', '0px');

	// 设定画布
	$('.canvas').imgeditor({
		// bgimage:'/s/mina/pages/static/defaults/p<?=rand(1,9)?>.jpg',
		bgcolor:'rgba(254,254,254,1)',
		action:'php/imgeditor.php',
		toolbar:$('.toolbar'),
		api: {
			text: '<?=App::URI("mina", "image", "text")?>',
			qrcode: '<?=App::URI("mina", "image", "qrcode")?>'
		},
		panel: {
			image: $('.imgeditor-panels .warpper.image'),
			text: $('.imgeditor-panels .warpper.text'),
			qrcode: $('.imgeditor-panels .warpper.qrcode'),
			page:$('.imgeditor-panels .warpper.page')
		},
		helper: {
			em: $('.imgeditor-helper'),
			pages: {
				welcome: "<?=App::NR('gallery', 'help')?>",
				table: "<?=App::NR('gallery', 'table')?>",
				select:"<?=App::NR('gallery', 'select')?>",
				detail:  "<?=App::NR('gallery', 'pic')?>",
				album: {
					url:"<?=App::NR('gallery', 'album')?>",
					query:{
						type:'grid'
					}
				}
			}
		},
		canvas:{
			height:'screen',
			offsetY:160
		},
		ready: function(){
			
			App.initHelpers(['datepicker','select2', 'colorpicker', 'masked-inputs','tags-inputs','slimscroll']);
		},
		load: function( $imgeditor ){
			$imgeditor.open('welcome');
		}
	});


	// ===== 管理面板 =============================================
	
	// 图片管理面板
	var imagePanel = new imageWebeditorPanel({

		api: {
			save: '<?=App::URI("mina", "uploader", "imagesave")?>',
			latest: '<?=App::URI("mina", "uploader", "imagelatest")?>', // 最近上传接口
			upload: '<?=App::URI("mina", "uploader", "imageupload")?>',  // 图片上传接口
			crop:   '<?=App::URI("mina", "uploader", "imagecrop")?>',	// 图片裁切接口
			resize: '<?=App::URI("mina", "uploader", "imageresize")?>' // 压缩图片接口
		},

		cancel: function( selected ) {  // 取消选择
			console.log( selected );
		},

		multiple:1,  // 最多可选图片数量 ( 默认9个 )
		show:false   // 是否打开界面
	});


	// 字体上传面板
	var fontPanel = new fileWebeditorPanel({
		api: {
			latest: '<?=App::URI("mina", "uploader", "filelatest", ["mt"=>"application/x-font-ttf,application/x-font-ttc", "force"=>"local"])?>', // 最近上传文件
			upload: '<?=App::URI("mina", "uploader", "fileupload", ["force"=>"local"])?>',  // 文件上传接口
			save: '<?=App::URI("mina", "uploader", "filesave")?>',  // 文件信息保存接口
		},
		filters: {
			mime_types: [
				{ title : "fonts files", extensions : "ttf,ttc" }
			],
			max_file_size:"40mb"
		}
	});



	// 编辑器实例
	$imgeditor = $('.canvas').imgeditor('get');

	// ===== 工具条 =============================================
	
	$('.zoom-in').click(function(event) {
		var zoom = $imgeditor.zoom();
		zoom = zoom - 0.1;
		if ( zoom <= 0.1 ) {
			return;
		}
		$imgeditor.zoom( zoom );
	});

	$('.zoom-out').click(function(event) {
		var zoom = $imgeditor.zoom();
		zoom = zoom + 0.1;
		if ( zoom > 3 ) {
			return;
		}
		$imgeditor.zoom( zoom );
	});


	$('.option-panel-toggle').click(function(event) {
		$imgeditor.panelToggle();
	});


	$('.fn-move').click(function(event) {
		$imgeditor.move();
	});

	// 添加图片API
	$('.fn-add-image').click(function(event) {

		imagePanel.show({
			confirm: function( selected ){
				console.log( selected );
				var img = selected[0];
				$imgeditor.add('image',{
					width:img['width'],
					height:img['height'],
					src:img['origin'],
					origin:img['origin']
				});
			}
		});

	});

	$('.fn-add-text').click(function(event) {
		$imgeditor.add('text', {
			// width:200,
			// height:100,
			text:'北冥有鱼，其名为鲲。',
		}, {} );
	});

	$('.fn-add-qrcode').click(function(event) {
		$imgeditor.add('qrcode', {
			width:300,
			text:'https://www.minapages.com',
		}, {} );
	});



	// ===== 各种事件 =============================================


	// 缩放
	$imgeditor.on('zoom', function( zoom ) {
		$('.zoom-status').html( (zoom*100).toFixed(0) + '%' );
	});


	// 图片更新
	$imgeditor.on('image.update', function(event, id, data ){
		console.log('image.update', id, data);
	});

	// 文本更新
	$imgeditor.on('text.update', function(event, id, data ){
		console.log('text.update', id, data);
	});

	// 二维码更新
	$imgeditor.on('qrcode.update', function(event, id, data ){
		console.log('qrcode.update', id, data);
	});
	// PAGE更新
	$imgeditor.on('page.update', function(event, id, data ){
		console.log('page.update', id, data);
	});


	// 缩放
	$imgeditor.on('zoom', function( zoom ) {
		$('.zoom-status').html( (zoom*100).toFixed(0) + '%' );
	});

	// 保存
	$imgeditor.on('save', function( event, id ) {
		console.log('save', id , $imgeditor.getData() );
		return function(data, status, xhr ) {
			console.log('save ' + status, data );
			$imgeditor.open("list");
		};
	});


	// 更换图片
	$imgeditor.on('image.upload.click', function(event, id ){

		imagePanel.show({
			confirm: function( selected ){
				var img = selected[0];
				$imgeditor.update(id, {
					width:img['width'],
					height:img['height'],
					src:img['origin'],
					origin:img['origin']
				});
			}
		});

	});

	// 上传字体
	$imgeditor.on('text.upload.click', function(event, id){
		console.log('text.upload.click upload font', id );
		fontPanel.show({
			confirm: function( selected ){
				console.log( selected );
			}
		})
	});


	// 上传logo
	$imgeditor.on('qrcode.upload.click', function(event,id){
	
		imagePanel.show({
			confirm: function( selected ){
				var img = selected[0];
				$imgeditor.update(id, {
					logowidth:img['width'],
					logo:img['origin']
				});
			}
		});
	});


	// 更换背景图
	$imgeditor.on('page.upload.click', function(event) {

		imagePanel.show({
			confirm: function( selected ){
				var img = selected[0];
				console.log(  img );
				$imgeditor.updatePage({bgimage:img['origin']});
			}
		});
	});


	// ===== 预览窗口 =============================================
	
	// 设定面包屑导航
	$imgeditor.crumb = function ( list ) {
		list = list || [];
		var len = list.length;
		var html =  '<a href="<?=APP::R('gallery','index')?>"> 图集列表 </a> ' + 
					' <i class="fa fa-angle-right"></i> ' +
					'<a href="javascript:$imgeditor.open(\'welcome\')"> 制作图集 </a>';

		for ( var i =0; i<len; i ++ ) {
			var link = list[i];
			if ( typeof link['page'] == 'undefined') {
				html = html + ' <i class="fa fa-angle-right"></i> ' +
					   link['name'];
			} else {
				html = html + ' <i class="fa fa-angle-right"></i> ' +
					   '<a href="javascript:$imgeditor.open(\''+link['page'] +'\')" >' + link['name'] + '</a>';
			}
		}

		$('.gallery-crumb').html(html);
	}


	// 设定当前视图模式
	$imgeditor.mode = function( type ){
		type = type || 'modify';
		var icon = $('.images-preview').children('i');
		if ( type == 'modify' ) {
			icon.removeClass('glyphicon-edit').addClass('glyphicon-th-large');
		}else {
			icon.removeClass('glyphicon-th-large').addClass('glyphicon-edit');
		}
	}


	$('.images-preview').click(function(event) {
		var icon = $(this).children('i');
		if ( icon.hasClass('glyphicon-th-large') ) {  // 切换到图片视图
			$imgeditor.open('album');
			// icon.removeClass('glyphicon-th-large').addClass('glyphicon-edit');

		} else {  // 切换到批量编辑视图
			$imgeditor.open('table');
			// icon.removeClass('glyphicon-edit').addClass('glyphicon-th-large');
		}
	});


});
</script>