<style type="text/css">
	.step-minw {
		min-width: 200px;
		width:360px;
		text-align:left;
		padding-left: 60px;
	}
</style>
<div style="padding-top:58px;" class="text-center">
	<div>
		<button  class="btn btn-lg btn-primary step-minw opentable"> ① 批量导入 / 编辑动态内容 </button>
	</div>

	<div class="push-15-t">
		<i class="fa fa-angle-double-down font-s48 text-muted"></i> 
	</div>

	<div class="push-15-t">
		<button class="btn btn-lg btn-default step-minw disabled" disabled> ② 设计模板、绑定动态内容 </button>
	</div>

	<div class="push-15-t">
		<i class="fa fa-angle-double-down font-s48 text-muted"></i> 
	</div>

	<div class="push-15-t">
		<button class="btn btn-lg btn-default step-minw disabled" disabled> ③ 批量下载、打印或分享图集 </button>
	</div>
	
	<div class="push-20-t text-left" style="padding: 20px; padding-left: 35px;">
		<h5 class="font-w300"> 什么是动态图集 ？</h5>
		<p style="padding:10px;padding-left: 0px;">
			根据给定内容和模板自动生成一组图片，通过增加内容可自动生成新图片。可用于批量制作贴纸、证书、带二维码 (或小程序码) 的图片。
		</p>
		<h5 class="font-w300"> 怎样制作动态图集 ？</h5>
		<p style="padding:10px;padding-left: 0px;">
			① 编辑（或批量导入）图片上呈现的内容，可以是文字、图片或者二维码。 <br/>
			② 设计模板，选择 (或上传) 背景图片，添加并绑定文字域、图片域或二维码域。 <br />
			③ 根据内容自动生成一组图片，可以批量下载、打印或分享。 
		</p>
	</div>

</div>


<script type="text/javascript">

	$('.opentable').click(function(event) {
		$imgeditor.open('table');
	});

	$imgeditor.mode('modify');
	$imgeditor.crumb([{name:'使用帮助'}]);
	$imgeditor.display('helper');
	
</script>