<?php 
use \Tuanduimao\Loader\App as App; 
use \Tuanduimao\Utils as Utils;
?>
<style type="text/css">
	.img-thumb {
		display: inline-block;
		background:#ffffff;
		width:100%;
		padding:0px;
		max-height: 200px;
		height: 200px;
		overflow: hidden;
		border: 2px solid #EFEFEF;
	}

	.img-thumb:hover {
		background:transparent;
		border-color: #CCCCCC;
	}


	.gallery-title {
		font-weight: 500;
		display: inline-block;
		background:#666666;
		width: 100%;
		height: 32px;
		line-height: 32px;
		font-size: 16px;
		color: #ffffff;
	}

	.gallery-title span {
		display:inline-block;
		overflow: hidden;
		cursor: default;
		line-height: 32px;
	}
	

</style>
<div class="content">

	<!-- Search Section -->
	<div class="block block-transparent">
		<div class="row" >
			<div  class="col-lg-8 col-md-8 col-sm-8">
				<div class="input-group input-group-lg">
					<div class="input-group-addon font-w300"> 全文检索 </div> 
					<input class="js-icon-search form-control keyword" type="text" placeholder="输入关键词" value="<?=$query['title']?>">
					<span class="input-group-btn">
						<button class="btn btn-primary font-w300 search" type="button"><i class=" si si-magnifier"></i> 搜索 </button>
					</span>
				</div>
			</div>

			<div class="col-lg-4 col-md-4  col-sm-4">

				<a 
					href="<?=App::R('gallery','editor')?>" 
					class="btn btn-primary btn-lg font-w300 pull-right push-15-l" 
					><i class="fa fa-plus"></i> 动态图集 </a>
			</div>
		</div>
	</div> <!-- END Search Section -->
	
	<!-- Gallery Section -->
	<div class="row items-push js-gallery">
		<?php 
		$images = [1,2,3,11,10,4,5,6];
		foreach ($images as $im) : ?>
		<div class="col-xs-3 animated fadeIn">

			<a class="img-thumb" href="#">
				
				<img 
					width="100%" 
					src='https://wss.xpmjs.com/s/mina/pages/static/defaults/p<?=$im?>.jpg' 
					alt=""  >	

			</a>

			<span class="gallery-title">
				<span class="col-xs-8">图集主题</span>
				<span class=" col-xs-4 font-s13 text-right">30 幅</span>
			</span>
			
		</div>
		<?php endforeach; ?>
	</div><!-- END Gallery Section -->

	
	<?php $articles['last'] = 10 ; $articles['curr'] = 3;?>
	<!-- Gallery Pages -->
	<div class="text-right">
		<ul class="pagination">
			<?php if ($articles['prev'] !== false): ?>
			<li>
				<a href="javascript:search('page', '<?=$articles['prev']?>' )">
					<i class="fa fa-angle-double-left"></i>
				</a>
			</li>
			<?php endif;?>

			<?php for( $i=1; $i<=$articles['last']; $i++) :?>
			<li class="<?=($i==$articles['curr'])? 'active': ''?>" >
				<a href="javascript:search('page', '<?=$i?>' )"><?=$i?></a>
			</li>
			<?php endfor; ?>

			<?php if ($articles['next'] !== false): ?>
			<li>
				<a href="javascript:search('page', '<?=$articles['next']?>' )">
					<i class="fa fa-angle-double-right"></i>
				</a>
			</li>
			<?php endif;?>
		</ul>
	</div><!-- END Gallery Pages -->
	
</div> <!-- END Pagecontent -->

<script type="text/javascript">
var $_GET = <?=json_encode($query)?>;
var $_HOME ='<?=App::R("gallery", "index")?>';

function search( key, value ) {

	if ( key !== undefined ) {
		$_GET[key] = value;

		if ( value == undefined  || value == '') {
			delete $_GET[key];
		}

		if ( key != 'page' ) {
			$_GET['page'] = 1;
		}
	}

	var url =  $_HOME + '?' + $.param($_GET);
	window.location = url;

}



$(function() {
	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs', 'slimscroll', 'ajax-confirm']);
	$('.search').click(function(){
		var keyword = $('.keyword').val();
		search('title', keyword);

	});

});

</script>