<?php
use \Tuanduimao\Loader\App;
?>
<div class="webtable-content">
	<div id="gallery-table" class="webtable"></div>
	<div class="row webtable-footer">
		<div class="col-xs-5">
			<button class="btn btn-primary fn-gallery fn-gallery-save  push-15-t push-15-l disabled "> 
				<i class="fa fa-save"></i> 保存</button>
			<button class="btn btn-primary fn-gallery fn-gallery-import push-15-t push-10-l"> 
				<i class="fa fa-cloud-upload"></i> 导入</button>
		</div>
		<div class="col-xs-7 text-muted text-right" style="padding:15px 15px 5px 15px;">
			 <nav class="push-15-r remove-padding " >
				<ul class="pagination remove-padding remove-margin">
					<li class="disabled">
						<a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i></a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">1</a>
					</li>
					<li>
						<a href="javascript:void(0)">2</a>
					</li>
					<li>
						<a href="javascript:void(0)">3</a>
					</li>
					<li>
						<a href="javascript:void(0)">4</a>
					</li>
					<li>
						<a href="javascript:void(0)">5</a>
					</li>
					<li>
						<a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">

	$imgeditor.display();
	$imgeditor.mode('modify');
	$imgeditor.crumb([{name:'批量编辑'}]);

	var image = { page:[], items:[], map:{} }; 

	$('#gallery-table').webtable({
	   offsetHeight:222,
	   readOnly:false,
	   submitOption:{
		   'url': '<?=App::NR('gallery', 'save')?>'
	   },

	   afterChange:function( changes, source){

		   if ( source == 'silent') return { changes:changes, source:'edit' };
		   if ( changes == null  ) return;
		   if ( source != 'edit' ) return;

		   var last = changes.slice(-1)[0];
		   var index = last[0] || 0;
		   preview(index);
		   return changes;
	   },

	   needSubmit: function( need ) {
	   		if ( need === true ) {
	   			$('.fn-gallery-save').removeClass('disabled');
	   		} else {
	   			$('.fn-gallery-save').addClass('disabled');
	   		}
       },

	   afterGetdata: function( resp, status, xhr ){
			$hot.selectCell(0,0);
	   }

	});

	var $webtable = $('#gallery-table').webtable('get');
	var $hot = $webtable.handsontable();
		$hot.latest = -1;
   

    // 从服务器中读取数据
	$webtable.getData('<?=App::NR('gallery', 'getdata')?>', function( resp, status, xhr){
		console.log('getdata success', resp ); 
		console.log('getdata pagination', resp['pagination'] );  // 分页信息
		console.log('getdata status', resp['status'] );  // 状态信息
		console.log( resp );


		updateColumsSelector( resp['columns'], resp['colHeaders'] );
		updateImage( resp['image'] );
		return resp;
	});



	// @see https://docs.handsontable.com/0.15.0-beta3/Hooks.html
	// 选中行更新图片预览
	$hot.addHook('afterSelectionEnd', function( index ){
		
		if ( $hot.latest == index ) {
			return;
		}
		$hot.latest = index; 
		preview( index );
	});



	
	$imgeditor.on('update', function(id, type, option, pos, source  ){
		
		if ( source != 'api' && source != 'init' ) {
			$webtable.needSubmit(true);
		}

		var idx = image.map[id];
		if  ( source == 'move') {
			image.items[idx][2] = pos;
		} 

		if ( source == 'resize' ) {
			image.items[idx][1]['width'] = option['width'] ;
			image.items[idx][1]['height'] = option['height'] ;
		}


		// 回写 Excel 表中的栏位
		if ( source != 'panel' ) return;
		var col = option['origin'];
		if (  typeof col == 'undefined' || col == null  || col == "" ) {
			console.log(  typeof col , col);
			return;
		}

		var row = $imgeditor.getIndex();
		var text = option['text'];

		if ( type == 'image' ) {
			text = option['src'];
		}

		
		$hot.setDataAtCell(parseInt(row), parseInt(col), text, 'silent' );

	});

	$imgeditor.on('page.update', function(event,  data  ){

		var col = data['origin'];
		if (  typeof col == 'undefined' || col == null  || col == "" ) {
			return;
		}

		var row = $imgeditor.getIndex();
		var text = data['bgimage'];

		// 回写 Excel 表中的栏位
		$hot.setDataAtCell(parseInt(row), parseInt(col), text, 'silent' );

	});

	// 添加一个新项目 ( 增加一个栏位 )
	$imgeditor.on('add', function( id, type, option, pos, source ) {
		if ( source == 'init' ) return;
		pos = pos || {x:0, y:0};
		var idx = image['items'].push([type, option, pos]);
		image.map[id] = idx -1;
	});

	$imgeditor.on('remove', function( id, source ) {
		if ( source == 'init' ) return;
		idx = image.map[id];
		image.items.splice(idx, 1);
		delete image.map[id];
		console.log( 'remove', image );
	});


	// Gallery 信息保存 & 入库
	$('.fn-gallery-save').click(function(event) {
		
		loading('保存中, 请稍候...');

		// 提交数据
		$webtable.submitData(
			{
				url: '<?=App::NR("gallery","save")?>',
				data:{
					template:$imgeditor.getData()
				},
				escape: true
			},
			function onSuccess( resp, status, xhr ){
				console.log( resp );
				success('保存成功');
				return true;
			}, 
			function onError(xhr,status,error){
				console.log( status, error );
				failure('保存失败 ( ' + status + ' )' );
			}
		);

	});


	function loading( message ) {
		message = message || '保存中，请稍候...';
		App.loading({message:message}).show();
	}

	function done(  ) {
		App.loading().hide();
	}

	function success( message ) {
		message = message || '操作成功';
		App.notify( message);
		done();
	}

	function failure( message  ){
		message = message || '操作失败';
		App.notify( message, 'fa fa-times','danger'); 
		done();
	}



	/**
	 * 更新栏位选择器
	 * @param  {[type]} columns	[description]
	 * @param  {[type]} colHeaders [description]
	 * @return {[type]}			[description]
	 */
	function updateColumsSelector( columns , colHeaders ) {
		colHeaders = colHeaders || [];

		$('select[name=origin]').Select2Option().clean();
		$('select[name=origin]').Select2Option().add('', '');
		for( var col in columns ) {
			var name = colHeaders[col] || columns[col]['name'];
			$('select[name=origin]').Select2Option().add(name, col);
		}
	}


	/**
	 * 更新图片信息
	 * @param  {[type]} data [description]
	 * @return {[type]}	  [description]
	 */
	function updateImage( data ) {
		image = $.extend(image, data);
	}



	/**
	 * 图片预览
	 * @param  {[type]} index [description]
	 * @return {[type]}       [description]
	 */
	function preview( index ) {

		var data = $hot.getDataAtRow( index );
		var page = image['page'] || [];
		var items = image['items'] || [];

		// 忽略空行
		if ( data.join('') == "" ) {
			return;
		}

		$imgeditor.setIndex( index );
		$imgeditor.clean();

		var col = page['origin'];
		if (  typeof col != 'undefined' || col != null  || col != "" ) {
			page['bgimage'] = image['page']['bgimage'] = data[col];
		}

		$imgeditor.updatePage( page , function(){
			for( var idx in items ) {
				var it = items[idx];
					it[0] = it[0] || '';
					it[1] = it[1] || [];
					it[2] = it[2] || [];

				var origin = parseInt(it[1]['origin']);


				if ( it[0] == 'image' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['src'] = data[origin];
					}	
				} else if ( it[0] == 'text' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['text'] = data[origin];
					}
				} else if ( it[0] == 'qrcode' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['text'] = data[origin];
					}
				}
				var id = $imgeditor.add(it[0], it[1], it[2], 'init' );

			}

			image['items'] = []; image['map'] = {};
			var newData = $imgeditor.getData();
			var newItems = newData['items'] || [];
			var newPage = newData['page'];

			image['page'] = newPage;
			for( var id in newItems ) {
				var it = newItems[id];
				var idx = image['items'].push ( [it.name, it.option, it.pos]);
				image.map[id] = idx -1;
			}
		})
	}
   

</script>