<?php
use \Tuanduimao\Loader\App;
?>
<div class="webtable-content">
	<div id="gallery-table" class="webtable"></div>
	<div class="row webtable-footer">

		<div class="col-xs-12 push-15-t">
			<div class="form-group">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">图集主题</span>
						<input class="form-control fn-gallery-title" name="title" type="text" placeholder="" >
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-5">
			<button class="btn btn-primary fn-gallery fn-gallery-save  push-15-t push-15-l disabled "> 
				<i class="fa fa-save"></i> 保存</button>
			<button class="btn btn-primary fn-gallery fn-gallery-import push-15-t push-10-l"> 
				<i class="fa fa-cloud-upload"></i> 导入</button>
		</div>
		<div class="col-xs-7 text-muted text-right" style="padding:15px 15px 5px 15px;">
			 <nav class="push-15-r remove-padding  " >
				<ul class="pagination remove-margin"></ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">

	var $_GET = <?=json_encode($query)?>;


	$('.canvas-toggle').removeClass('hidden');
	$imgeditor.display();
	$imgeditor.mode('modify');
	

	/**
	 * 图集模板信息缓存
	 * @type {Object}
	 */
	var image = { page:[], items:[], map:{} }; 

	$('#gallery-table').webtable({
	   offsetHeight:272,
	   readOnly:false,
	   submitOption:{
		   'url': '<?=App::NR('gallery', 'save')?>'
	   },

	   beforeGetdata: function(){
	   		loading('读取图片信息...');
	   },

	   afterChange:function( changes, source){

		   if ( source == 'silent') return { changes:changes, source:'edit' };
		   if ( source != 'edit' ) return changes;
		   if ( changes == null  ) return;

		   var last = changes.slice(-1)[0];
		   var col = last[0] || 0;
		   var row = last[1] || 0;

		   preview(col, col);
		   return changes;
	   },

	   needSubmit: function( need ) {
	   		if ( need === true ) {
	   			$('.fn-gallery-save').removeClass('disabled');
	   		} else {
	   			$('.fn-gallery-save').addClass('disabled');
	   		}
       },

	   afterGetdata: function( resp, status, xhr ){
			$hot.selectCell(0,0);
	   }

	});

	var $webtable = $('#gallery-table').webtable('get');
	var $hot = $webtable.handsontable();
		$hot.latest = {
			row: -1,
			col: -1
		}
   


	// @see https://docs.handsontable.com/0.15.0-beta3/Hooks.html
	// 选中行更新图片预览
	$hot.addHook('afterSelectionEnd', function( row, col ) {
		if ( $hot.latest.row == row && $hot.latest.col == col ) {
			return;
		}
		$hot.latest = {row:row, col:col};
		preview( row, col );
	});




	// 当管理面板单机时候 （ 转移焦点
	$('.option-panel').click(function(event){
		$hot.deselectCell();
	});
	


	$imgeditor.on('update', function(id, type, option, pos, source  ){
		

		if ( source == 'init') return;

		if ( source != 'silent' && source != 'init' ) {
			$webtable.needSubmit(true);
		}

		var idx = image.map[id];
		if  ( source == 'move') {
			image.items[idx][2] = pos;
		} 

		if ( source == 'resize' ) {
			image.items[idx][1]['width'] = option['width'] ;
			image.items[idx][1]['height'] = option['height'] ;
		}


		// 回写 Excel 表中的栏位
		if ( source != 'panel' ) return;
		var col = option['origin'];
		if (  typeof col == 'undefined' || col == null  || col == "" ) {
			console.log(  typeof col , col);
			return;
		}

		var row = $imgeditor.getIndex();
		var text = option['text'];

		if ( type == 'image' ) {
			text = option['src'];
		}

		
		$hot.setDataAtCell(parseInt(row), parseInt(col), text, 'silent' );

	});


	// 图集主题副本
	$('.fn-gallery-title').keyup(function(event) {
		
		$imgeditor.updatePage({title:$(this).val()}, function(){}, 'silent' );
		$webtable.needSubmit(true);
	});

	$imgeditor.on('page.update', function(event,  data, source  ){

		$('.fn-gallery-title').val(data['title']);

		var col = data['origin'];
		if (  typeof col == 'undefined' || col == null  || col == "" ) {
			return;
		}

		var row = $imgeditor.getIndex();
		var text = data['bgimage'];

		// 回写 Excel 表中的栏位
		$hot.setDataAtCell(parseInt(row), parseInt(col), text, 'silent' );

	});

	// 添加一个新项目 ( 增加一个栏位 )
	$imgeditor.on('add', function( id, type, option, pos, source ) {
		if ( source == 'init' ) return;
		pos = pos || {x:0, y:0};
		var idx = image['items'].push([type, option, pos]);
		image.map[id] = idx -1;
	});

	$imgeditor.on('remove', function( id, source ) {
		if ( source == 'init' ) return;
		idx = image.map[id];
		image.items.splice(idx, 1);
		delete image.map[id];
		console.log( 'remove', image );
	});


	// Gallery 信息保存 & 入库
	$('.fn-gallery-save').click(function(event) {
		
		loading('保存中, 请稍候...');

		// 提交数据
		$webtable.submitData(
			{
				url: '<?=App::NR("gallery","save")?>',
				data:{
					template:$imgeditor.getData()
				},
				escape: true
			},
			function onSuccess( resp, status, xhr ){
				console.log( resp );
				success('保存成功');
				return true;
			}, 
			function onError(xhr,status,error){
				console.log( status, error );
				failure('保存失败 ( ' + status + ' )' );
			}
		);

	});


	function loading( message ) {
		message = message || '保存中，请稍候...';
		App.loading({message:message}).show();
	}

	function done(  ) {
		App.loading().hide();
	}

	function success( message ) {
		message = message || '操作成功';
		App.notify( message);
		done();
	}

	function failure( message  ){
		message = message || '操作失败';
		App.notify( message, 'fa fa-times','danger'); 
		done();
	}





	/**
	 * 更新栏位选择器
	 * @param  {[type]} columns	[description]
	 * @param  {[type]} colHeaders [description]
	 * @return {[type]}			[description]
	 */
	function updateColumsSelector( columns , colHeaders ) {
		colHeaders = colHeaders || [];

		$('select[name=origin]').Select2Option().clean();
		$('select[name=origin]').Select2Option().add('', '');
		for( var col in columns ) {
			var name = colHeaders[col] || columns[col]['name'];
			$('select[name=origin]').Select2Option().add(name, col);
		}
	}


	/**
	 * 更新图片信息
	 * @param  {[type]} data [description]
	 * @return {[type]}	  [description]
	 */
	function updateImage( data ) {
		image = $.extend(image, data);

		var title = image['page']['title'] || '未命名';
		$('.fn-gallery-title').val( title );
	}


	function array_flip( trans ) {
	  	var tmp_ar = {};

	    for ( var key in trans )
	    {
	        if ( trans.hasOwnProperty( key ) )
	        {
	            tmp_ar[trans[key]] = key;
	        }
	    }

	    return tmp_ar;
	}


	/**
	 * 图片预览
	 * @param  {[type]} index [description]
	 * @return {[type]}       [description]
	 */
	function preview( row, col ) {

		var index = row;
		var data = $hot.getDataAtRow( index );
		var page = image['page'] || [];
		var items = image['items'] || [];

		// 忽略空行
		if ( data.join('') == "" ) {
			return;
		}

		$imgeditor.setIndex( index );
		// $imgeditor.clean('silent');

		var map = array_flip( image.map );
		var pagecol = page['origin'];
		if (  typeof pagecol != 'undefined' || pagecol != null  || pagecol != "" ) {
			page['bgimage'] = image['page']['bgimage'] = data[pagecol];
		}

		$imgeditor.updatePage( page , function(){

			for(  var idx in items ) {

				var id = map[idx] || null;
				var it = items[idx];
				var origin = parseInt(it[1]['origin']);	
				if ( it[0] == 'image' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['src'] = data[origin];
					}	
				} else if ( it[0] == 'text' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['text'] = data[origin];
					}
				} else if ( it[0] == 'qrcode' ) {
					if ( typeof origin == 'number' && data[origin] != null) {
						it[1]['text'] = data[origin];
					}
				}

				if ( id != null ) {

					$imgeditor.update(id, it[1], it[2], 'init');
					if ( col == origin ) {
						$imgeditor.select( id, 'user' );
					}

				} else {  // 新建
					if ( col == origin ) {
						var id = $imgeditor.add(it[0], it[1], it[2], 'init', function(id ){
							$imgeditor.select( id, 'user' );
						});
					} else {
						var id = $imgeditor.add(it[0], it[1], it[2], 'init');
					}
					image.map[id] = idx;
				}
			}

			// // 选中当前页背景图
			if ( pagecol == col ) {
				$imgeditor.select( 'page', 'user' );
			}

		}, 'init' );
	}


	function renderPage( pagination) {

		var nodes = [];

		if ( pagination['prev'] !== false ){
			nodes.push(
				'<li>' +
					'<a href="javascript:search(\'page\', \'' + pagination['prev'] + '\' )">' +
						'<i class="fa fa-angle-double-left"></i>' +
					'</a>' +
				'</li>'
			);
		}

		for( var i =1; i<=pagination['last']; i++) {

			var active = '';
			if ( i== pagination['curr'])  {
				active = 'active';
			}

			
			nodes.push(
				'<li class="'+active+'">' +
					'<a href="javascript:search(\'page\', \'' + i + '\' )">' +
						i +
					'</a>' +
				'</li>'
			);
		}



		if ( pagination['next'] !== false ){
			nodes.push(
				'<li>' +
					'<a href="javascript:search(\'page\', \'' + pagination['next'] + '\' )">' +
						'<i class="fa fa-angle-double-right"></i>' +
					'</a>' +
				'</li>'
			);
		}

		$('.pagination').html('');
		for( var i in nodes ) {
			$('.pagination').append($(nodes[i]));
		}
	}



	function search( key, value ) {

		if ( key !== undefined ) {
			$_GET[key] = value;

			if ( value == undefined  || value == '') {
				delete $_GET[key];
			}

			if ( key != 'page' ) {
				$_GET['page'] = 1;
			}
		}

	    // 从服务器中读取数据
		$webtable.getData(
			{
				url:'<?=App::NR('gallery', 'getdata')?>',
				data:$_GET
			},
			function( resp, status, xhr){
				
				updateColumsSelector( resp['columns'], resp['colHeaders'] );
				updateImage( resp['template'] );
				renderPage( resp['pagination']);

				$_GET = resp['query'];
				if ( typeof $_GET['gallery_id'] != 'undefined' && $_GET['gallery_id'] != null ) {
					$imgeditor.setId($_GET['gallery_id']);
				}

				$hot.latest = {
					row: -1,
					col: -1
				}

				var crumb = [];
				if ( resp['gallery'] == null) {
					crumb.push({ name:'新建图集'});
					$('.images-preview').addClass('hidden');
					$('.images-print').addClass('hidden');
					$('.images-download').addClass('hidden');

				} else {
					crumb.push({ name:resp['gallery']['title'], page:'album'} );
					crumb.push({name:'修改图集 (第'+ $_GET['page'] +'页)'});
					$('.images-preview').removeClass('hidden');
					$('.images-print').removeClass('hidden');
					$('.images-download').removeClass('hidden');
				}

				$imgeditor.crumb(crumb);
				done();
				return resp;
			}
		);
	}


	// 显示第一页
	search('page', 1);
   

</script>