<?php
use \Tuanduimao\Loader\App;
?>
<div class="webtable-content">
	<div id="gallery-table" class="webtable"></div>
	<div class="row webtable-footer">
		<div class="col-xs-5">
			<button class="btn btn-primary  push-15-t push-15-l"> 
				<i class="fa fa-save"></i> 保存</button>
			<button class="btn btn-primary  push-15-t push-10-l"> 
				<i class="fa fa-cloud-upload"></i> 导入</button>
		</div>
		<div class="col-xs-7 text-muted text-right" style="padding:15px 15px 5px 15px;">
			 <nav class="push-15-r remove-padding " >
				<ul class="pagination remove-padding remove-margin">
					<li class="disabled">
						<a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i></a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">1</a>
					</li>
					<li>
						<a href="javascript:void(0)">2</a>
					</li>
					<li>
						<a href="javascript:void(0)">3</a>
					</li>
					<li>
						<a href="javascript:void(0)">4</a>
					</li>
					<li>
						<a href="javascript:void(0)">5</a>
					</li>
					<li>
						<a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">

	$imgeditor.display();
	$imgeditor.mode('modify');
	$imgeditor.crumb([{name:'批量编辑'}]);

	$('#gallery-table').webtable({
	   offsetHeight:222,
	   readOnly:false,
	   submitOption:{
		   'url': '<?=App::NR('gallery', 'save')?>'
	   },

	   afterChange:function( changes, source){
			if ( changes == null  ) return;
			var last = changes.slice(-1)[0];
            var index = last[0] || 0;
            preview(index);
	   },

       afterGetdata: function( resp, status, xhr ){
            $hot.selectCell(0,0);
       }

	});

	var $webtable = $('#gallery-table').webtable('get');
	var $hot = $webtable.handsontable();
        $hot.latest = -1;
   
	$webtable.getData('<?=App::NR('gallery', 'getdata')?>', function( resp, status, xhr){
		console.log('getdata success', resp ); 
		console.log('getdata pagination', resp['pagination'] );  // 分页信息
		console.log('getdata status', resp['status'] );  // 状态信息
		return resp;
	});

	// @see https://docs.handsontable.com/0.15.0-beta3/Hooks.html
	$hot.addHook('afterSelectionEnd', function( index ){
		
		if ( $hot.latest == index ) {
			return;
		}

        $hot.latest = index; 
        preview( index );
	});


    function preview( index ) {

        var data = $hot.getDataAtRow( index );
            
            console.log( data );

        if ( data[0] != null  ) { 
            $imgeditor.clean()
                .updatePage({
                    bgimage: '/s/mina/pages/static/defaults/p1.jpg'
                }, function(){
                    if ( data[0] != null ){
                        $imgeditor.add('text', {text:data[0], type:'vertical', dir:'rtl', width:68,height:168}, {x:710, y:155});
                    }

                    if ( data[1] != null ) {
                        $imgeditor.add('image', {src:data[1], width:32,height:32}, {x:745, y:280} );
                    }

                    if ( data[2] != null ) {
                        $imgeditor.add('qrcode', {text:data[2], width:120}, {x:660, y:20} );
                    }

                });
        }
    }
   

</script>