<?php
	use \Tuanduimao\Loader\App as App;
?>
<script type="text/javascript">
	DEBUG_ON = true;
</script>
<!-- Page Content -->
<div class="content "> 

	<div class="block block-bordered webeditor " >
		<div class="block-header remove-margin" >
			<ul class="block-options" >
				<li>
					<a type="button"   href="#" data-toggle="block-option" data-action="fullscreen_toggle"></a>
				</li>
			</ul>

			<h3 class="block-title" >
				<a href="<?=App::R('article', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    文章列表 
                </a> / 编辑文章 
				<!-- <i class="fa fa-lock push-5-l  lock_status text-muted" style="width:18px;"></i> -->
				<!-- <span class="text-danger status push-10-l font-s13"></span> -->
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content  remove-margin remove-padding row" >


			<div class="col-xs-9 remove-padding webeditor-editor rb "> 
				
				<!-- BEGAIN Toolbar Container -->
				<div  id="toolbar-container" class="webeditor-toolbar hidden">
					<span class="ql-formats">
						<button class="ql-undo"  data-toggle="tooltip"  data-placement="top"  title="撤销"></button>
						<button class="ql-redo"  data-toggle="tooltip"  data-placement="top"  title="重做"></button>
						<button class="ql-clean"  data-toggle="tooltip"  data-placement="top"  title="清除格式" ></button>
					</span>
					
					<span class="ql-formats">
						<select class="ql-header">
							
							<option value="" selected>标题</option>
							<option value="1" >一级标题</option>
							<option value="2">二级标题</option>
							<option value="3">三级标题</option>
							<option value="4">四级标题</option>
							<option value="5">五级标题</option>
							<option value="6">六级标题</option>
						</select>
					</span>

					<span class="ql-formats">
						<select class="ql-size">
							<option value="" selected>字号</option>
							<option value="12px">12px</option>
							<option value="14px">14px</option>
							<option value="15px">15px</option>
							<option value="16px">16px</option>
							<option value="18px">18px</option>
							<option value="20px">20px</option>
							<option value="custome-size">自定义</option>
						</select>
					</span>
					
			
					<span class="ql-formats">
						<button class="ql-link" data-toggle="tooltip"  data-placement="top"  title="超链接"  ></button>
						<button class="ql-blockquote"  data-toggle="tooltip"  data-placement="top"  title="引用"></button>
						<button class="ql-divider"  data-toggle="tooltip"  data-placement="top"  title="分割线"></button>
						<button class="ql-code-block"  data-toggle="tooltip"  data-placement="top"  title="代码"></button>
						<button class="ql-formula"  data-toggle="tooltip"  data-placement="top"  title="公式"></button>
					</span>

					<span class="pull-right ">
						<button class="panel-toggle hidden"  
							data-toggle="tooltip"  
							data-placement="left"  
							title="打开工具栏">
							<i class="si si-briefcase" aria-hidden="true"></i>
						</button>
					</span>


					<br/>
					<span class="ql-formats">
						<button class="ql-bold"  data-toggle="tooltip"  data-placement="bottom"  title="粗体"></button>
						<button class="ql-italic"  data-toggle="tooltip"  data-placement="bottom"  title="斜体"></button>
						<button class="ql-underline"  data-toggle="tooltip"  data-placement="bottom"  title="下划线"></button>
						<button class="ql-strike"  data-toggle="tooltip"  data-placement="bottom"  title="删除线" ></button>
						<select class="ql-color"  data-toggle="tooltip-select"  data-placement="top"  title="字体颜色"></select>
						<select class="ql-background"  data-toggle="tooltip-select"  data-placement="top"  title="背景色"></select>
					</span>

					<span class="ql-formats">
						<button class="ql-align" value=""  data-toggle="tooltip"  data-placement="bottom"  title="居左对齐"></button>
						<button class="ql-align" value="center"  data-toggle="tooltip"  data-placement="bottom"  title="居中对齐"></button>
						<button class="ql-align" value="right"  data-toggle="tooltip"  data-placement="bottom"  title="居右对齐"></button>
						<button class="ql-align" value="justify"  data-toggle="tooltip"  data-placement="bottom"  title="两端对齐"></button>
					</span>

					
					<span class="ql-formats">
						<button class="ql-list" value="ordered"  data-toggle="tooltip"  data-placement="bottom"  title="有序列表" ></button>
						<button class="ql-list" value="bullet"  data-toggle="tooltip"  data-placement="bottom"  title="无序列表" ></button>
						<button class="ql-indent" value="-1"  data-toggle="tooltip"  data-placement="bottom"  title="向左缩进" ></button>
						<button class="ql-indent" value="+1"  data-toggle="tooltip"  data-placement="bottom"  title="向右缩进"></button>
					</span>


				</div> <!-- END Toolbar Container -->
				

				<!-- BEGAIN Header Container -->
				<div id="header-container" class="webeditor-header">
					<form name="header-form" class="remove-padding remove-margin" >
					<div class="row">
						<div class="col-xs-10">
							<input name="title" value="<?=$article['title']?>" type="text" class="large" placeholder="这里输入标题">
						</div>
						<div class="col-xs-2 text-right">
							<span class="label label-success on-published hidden">已发布</span>
							<span class="label label-warning  on-unapplied hidden">已发布 ( 未更新 )</span>
							<span class="label label-danger  on-unpublished hidden">草稿</span>
						</div>
					</div>
					<div class="row push-15-t">
						<div class="col-xs-3">
							<input name="author" type="text"  value="<?=$article['author']?>"   class="light" placeholder="输入作者">
						</div>
						<div class="col-xs-3">
							<input name="origin" type="text"  value="<?=$article['origin']?>"   class="light"   placeholder="输入来源名称">
						</div>

						<div class="col-xs-6">
							<input name="origin_url" type="text" value="<?=$article['origin_url']?>"  class="light"  placeholder="输入来源网址">
						</div>
					</div>
					<hr/>
					</form>
				</div> <!-- END Header Container -->
				
				<div id="editor-container" class="webeditor-container"></div><!-- END editor Container -->
				
				<!-- BEGAIN Cover Container -->
				<div id="cover-container" class="webeditor-cover" style="">

					<form class="form-horizontal" name="cover-form" >
						<div class="form-group">
							<label>封面 <span class="text-muted font-s12">( 建议尺寸 900像素 * 500像素) </span> </label>
							<div class="row">
								<div class="col-xs-6 remove-padding preview border" >
									<?php if (!empty($article['cover'])) :?>
									<img name="cover" src="<?=App::URL($article['cover'])?>" >
									<?php endif; ?>
								</div>
								<div class="col-xs-6 remove-padding">
									<input type="hidden" name="cover" value="<?=$article['cover']?>" >
									<div>
										<button class="btn btn-minw push-15-l btn-default cover-selector" type="button"> 选择封面图片 </button>
									</div>
									<div>
										<button data-toggle="clean"
											type="button" 
											class="btn btn-minw push-15-l push-15-t btn-default"> 
											清除图片 </button>
									</div>
								</div>
							</div>
						</div><!-- END 封面 -->

						<div class="form-group">
							<label class="push-30-t ">摘要  <span class="text-muted font-s12">( 选填，如果不填写会默认抓取正文前54个字) </span></label>
							<div class="row">
								<div class="col-xs-12 remove-padding">
									<textarea 
										name="summary"
										data-toggle="counter"
										data-max="120"
										data-selector=".summary-counter"
										class="form-control" rows="4" placeholder=""><?=$article['summary']?></textarea>
									<div class="help-block text-right">
										<span class="summary-counter"><?=mb_strlen($article['summary'])?></span>/120
									</div>
								</div>
							</div>
						</div> <!-- END 摘要 -->

					</form>
				</div> <!-- END Cover Container -->
			</div> <!-- END editor -->


			
			<!-- BEGAIN compose 组件 -->
			<div class="col-xs-3 block remove-margin remove-padding webeditor-panel hidden" style=""  >
				
				<ul class="nav nav-tabs nav-tabs-alt " data-toggle="tabs">
					<li class="active">
						<a href="#tabs-components" onclick="return false;"><i class="fa fa-cube"></i> 组件</a>
					</li>
					<li>
						<a href="#tabs-options" onclick="return false;"><i class="fa fa-cogs"></i> 选项</a>
					</li>

					<a href="#" class="pull-right" data-toggle="close"  onclick="return false;" > 
						<i class="si si-close"></i>
					</a>
				</ul>
				
				<div class="block-content tab-content remove-margin " 
					 data-offset="100"
					 data-height="screen-height" 
					 data-toggle="slimscroll"
						>
					<div class="tab-pane active" id="tabs-components">
						<ul class="list-group" >
							<li class="list-group-item image"><i class="fa fa-image"></i> 图片 </li>
							<li class="list-group-item video"><i class="fa fa-camera-retro"></i> 视频 </li>
						</ul>
					</div> <!-- END compose 组件 -->
					

					<div class="tab-pane" id="tabs-options">
						
						<form class="form-horizontal" name="panel-form" >

							<div class="block  remove-margin">
								<h3 class="block-title">发布选项</h3>
								<div class="block-content">
									<div class="form-group">
										<div class="form-material">
											
											<select name="category" 
												class="js-select2 form-control"  style="width: 100%;"
												data-placeholder="请选择..." 
												multiple >
												<option></option><!-- Required -->
												<?php 
												$category->each(function( $cate, $depth ) use ( $category, $article ){  ?>
												<option 
													<?=in_array( $cate['category_id'], $article['category']) ? 'selected' : ''?>

													value="<?=$cate['category_id']?>"  > 
													
													<?php 
													$parents = $category->parents( $cate['parent_id'] );
													foreach( $parents as $pa ) : ?>

													<?=$pa['name']?>  > 

													<?php endforeach; ?>
		
													<?=$cate['name']?> 
												</option>
												<?php }); ?>
											</select>

											<label for="category"  class="font-s14 font-w300">分类</label>
											
										</div>
									</div> <!-- END form-group 分类 -->

									<div class="form-group">
										<div class="form-material">
											
											<input
												name="tag"
												class="js-tags-input form-control" type="text" 
												value="<?=implode(',',$article['tag'])?>" >
											<label for="material-text" class="font-s14 font-w300">标签</label>
										</div>
									</div><!-- END form-group 标签 -->


									<div class="form-group">
										<div class="form-material">
											<input
												name="param"
												class="form-control" type="text" 
												value="<?=$article['param']?>"
												placeholder="例如: isnav=true" >
											<label  class="font-s14 font-w300">特别参数 (可用于检索查询)</label>
										</div>
									</div><!-- END form-group 参数 -->


									<div class="form-group">
										<div class="form-material">
											<div name="publish_date" class="js-datepicker" value="<?=$article['publish_date']?>"></div>
											<label for="material-text"  class="font-s14 font-w300">发布日期</label>
										</div>
									</div><!-- END form-group 发布日期 -->

									<div class="form-group">
										<div class="form-material">
											<label for="material-text" class="font-s14 font-w300">发布时刻</label>
											<input
												name="publish_time"
												class="form-control js-masked-time" type="text" 
												value="<?=$article['publish_time']?>"
												placeholder="@ 20时20分" >
										</div>
									</div><!-- END form-group 发布时刻 -->

								</div> <!-- END block-content -->
							</div> <!-- END block 发布选项 -->

							<div class="block remove-margin">
								<h3 class="block-title"> 搜索引擎优化</h3>
								<div class="block-content">

									<div class="form-group">
										<div class="form-material">
											<input
												name="seo_title"
												class="form-control" type="text" 
												value="<?=$article['seo_title']?>"
												placeholder="在百度搜索列表中显示的标题" >
											<label  class="font-s14 font-w300">标题</label>
										</div>
									</div><!-- END form-group 标题 -->
								
									<div class="form-group">
										<div class="form-material">
											<input
												name="seo_keywords"
												class="js-tags-input form-control" type="text" 
												value="<?=$article['seo_keywords']?>" >
											<label for="material-text" class="font-s14 font-w300">优化关键词</label>
										</div>
									</div><!-- END form-group 关键词 -->

									<div class="form-group">
										<div class="form-material">
											
											<textarea 
												name="seo_summary"
												data-toggle="counter"
												data-max="120"
												data-selector=".seo-summary-counter"
												class="form-control" rows="3" placeholder="在百度搜索列表中显示的摘要"><?=$article['seo_summary']?></textarea>
											<label for="material-text" class="font-s14 font-w300">摘要</label>
											<div class="help-block text-right">
												<span class="seo-summary-counter"><?=mb_strlen($article['seo_summary'])?></span>/120
											</div>
										</div>
									</div><!-- END form-group 摘要 -->

								</div> <!-- END block-content -->
							</div> <!-- END block SEO 选项 -->
							
							<!-- 当前文章 ID  -->
							<input type="hidden" name="article_id" value="<?=$article['article_id']?>" >  

						</form> <!-- END form -->
					</div> <!-- END option 表单 -->

				</div>  <!-- END toolpanel-content -->
			</div> <!-- END toolpanel -->
		</div> <!-- END block-content -->
		

		<!-- 功能操作面板-->
		<div class="block block-quickpanel">
			<div class="block-quickpanel-content " >
				<div class="row">
					<div class="col-xs-2">
						<span style="line-height: 32px;">
							<span class="webeditor-counter"></span> 
							<span class="webeditor-status text-danger"></span>
						</span>
					</div>
					<div class="col-xs-10 text-left" >

						<button 
							type="button" 
							data-form="#general-form"
							data-action="#"
							class="btn btn-primary font-w300 push-10-r btn-minw fn-btn save ">
							<i class="fa fa-save push-5-r"></i> 保存
						</button>

						<button 
							type="button"
							data-form="#general-form"
							data-action="#"
							data-placement="top" data-original-title=" "
							class="btn btn-primary font-w300  push-10-r btn-minw fn-btn popover-btn preview ">
							<i class="fa fa-eye push-5-r"></i> 预览
						</button>

						<button 
							type="button"
							data-form="#general-form"
							data-action="#"
							class="btn btn-primary font-w300  push-10-r btn-minw fn-btn on-unpublished publish hidden">
							<i class="fa fa fa-paper-plane push-5-r hidden"></i> 发布
						</button>

						<button 
							type="button"
							data-form="#general-form"
							data-action="#"
							data-placement="top" data-original-title=" "
							class="btn btn-primary font-w300  push-10-r btn-minw fn-btn on-published on-unapplied popover-btn link hidden ">
							<i class="fa fa-external-link-square push-5-r"></i> 访问
						</button>
						
						<button 
							type="button"
							data-form="#general-form"
							data-action="#"
							class="btn btn-primary font-w300  push-20-r btn-minw fn-btn on-published on-unapplied  publish hidden">
							<i class="fa fa-paper-plane push-5-r"></i> 发布更新
						</button>
						
						<button 
							type="button"
							data-form="#general-form"
							data-action="#"
							class="btn btn-danger font-w300  push-10-r btn-minw fn-btn on-published on-unapplied publish-cancel hidden">
							<i class="fa fa-paper-plane-o push-5-r"></i> 取消发布
						</button>

						<button 
							type="button"
							confirm-title="删除文章"
                            confirm-content="您确定删除本篇吗?"
                            confirm-dismiss = "取消"
                            confirm-submit= "确定"
                            data-param-id="103" 
                            confirm-action="<?=App::NR('article','remove')?>"

							class="btn btn-danger font-w300 ajax-confirm fn-btn on-saved remove hidden">
							<i class="fa fa-minus-circle"></i> 删除
						</button>

					</div>


				</div>
			</div>
			<div class="bg-primary text-white text-center bottom-line"></div>   
		</div> <!-- END 功能操作面板-->

	</div> <!-- END block -->

</div> <!-- END Page Content -->

<!-- 预览按钮弹出的 Popover 界面 -->
<div class="preview-html">
	<div class="popover" role="tooltip" style="width:600px; max-width:600px; min-height: 400px;" ><div class="arrow"></div>
		<div class="row remove-margin">
			<h3 class="popover-title pull-left font-w300"></h3> 
			<a href="javascript:$('.fn-btn.preview').popover('hide');" 
				data-id="{{id}}"
			><i class="si si-close pull-right push-10-t push-10-r"></i></a>
		</div>

		<div class="row popover-form preview links text-center" style="padding:15px;" >
			<i class="fa-refresh fa-spin fa "></i> 加载中...
		</div>
	</div>
</div><!-- END 预览按钮弹出的 Popover 界面 -->

<!-- 访问按钮弹出的 Popover 界面 -->
<div class="link-html">
	<div class="popover" role="tooltip" style="width:600px; max-width:600px; min-height: 400px;" ><div class="arrow"></div>
		<div class="row remove-margin">
			<h3 class="popover-title pull-left font-w300"></h3> 
			<a href="javascript:$('.fn-btn.link').popover('hide');" 
				data-id="{{id}}"
			><i class="si si-close pull-right push-10-t push-10-r"></i></a>
		</div>

		<div class="row popover-form link links text-center" style="padding:15px;" >
			<i class="fa-refresh fa-spin fa "></i> 加载中...
		</div>
	</div>
</div><!-- END 访问按钮弹出的 Popover 界面 -->


<script type="text/javascript">

// 根据文章状态，呈现功能面板
function setStatus(  status, draft_status ) {

	if ( $('input[name="article_id"]').val() != "" ) {
		$('.on-saved').removeClass('hidden').show();
		$('.on-saved').attr('data-param-id', $('input[name="article_id"]').val());
	}

	if ( status == 'unpublished' ) {
		
		$('.on-published').addClass('hidden').hide();
		$('.on-unapplied').addClass('hidden').hide();
		$('.on-unpublished').removeClass('hidden').show();

	} else {

		if ( draft_status == 'unapplied' ) {  // 有更新未发布
			
			$('.on-published').addClass('hidden').hide();
			$('.on-unpublished').addClass('hidden').hide();	
			$('.on-unapplied').removeClass('hidden').show();
			return;	
		}

		$('.on-unpublished').addClass('hidden').hide();
		$('.on-unapplied').addClass('hidden').hide();
		$('.on-published').removeClass('hidden').show();
	}
}



$(function() {

	// 取消导航浮动
	$('#header-navbar').css('position', 'static');
	$('main').css('padding-top', '0px');

	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs', 'slimscroll', 'ajax-confirm']);

	// 创建编辑器对象
	$('.webeditor-container').webeditor({
		modules: {
			counter: {
				selector: '.webeditor-counter',
				unit: ' 个字',
				word:true
			}
		},
		components: {
			"image":{
				"template":'' +
					'<div class="hello" style="width:{{width}}px;" >' +
						'<image src="{{url}}"  style="width:{{width}}px;height:{{height}}px;" />' + 
						'<span class="title">{{name}}</span>' + 
					'</div>'
			},
			"video":{
				"template":'' + '{{code}}'
			}
		},
		delta: <?=json_encode($article['delta'])?>
	});

	// 编辑器实例
	$editor = $('.webeditor-container').webeditor('get');

	// 设定当前状态按钮
	<?php if ( empty($article['article_id']) ) : ?>
	setStatus('unpublished');
	<?php else : ?>
	setStatus('<?=$article["status"]?>', '<?=$article["draft_status"]?>');
	<?php endif; ?>
	

/**
 * ======================================================================================
 *  BEGIN 编辑器功能按钮功能设定 (事件绑定)
 * ======================================================================================
 */

	// 数据提交，交互状态设定
	var savetimeout = null; savelock = false;
	$editor.on ('status-change', function( event, status ) {
		debug.info( '\t on status-change', status );

		if ( status == 'saving') {
			savelock = true;
			$('.popover-btn').popover('hide');

			clearTimeout(savetimeout);
			$('.webeditor-counter').hide();
			$('.webeditor-status')
				.removeClass('text-success')
				.removeClass('text-danger')
				.addClass('text-muted')
				.html('<i class="fa fa-refresh fa-spin"></i> 处理中, 请稍后...');

			$('.fn-btn').addClass('disabled').attr('disabled', 'disabled');
		
		} else if ( status == 'saved' || status == 'error' ) {
			$('.fn-btn').removeClass('disabled').removeAttr('disabled');
			savelock = false;
			savetimeout = setTimeout(function(){
				$('.webeditor-status').html('');
				$('.webeditor-counter').show();
			}, 2000);
		}
	});



	// 存盘按钮功能
	var savefn = function(event) {
		if ( savelock ){ return  false; }

		$editor.save('<?=App::NR("article", "save")?>', {}, function( resp, status, xhr) {
			debug.log( status, resp );
			if ( status == 'error') {
				$('.webeditor-status')
					.removeClass('text-success')
					.removeClass('text-muted')
					.addClass('text-danger')
					.html('<i class="fa fa-times"></i>  保存失败 ('+ resp['message'] + ')');
				return;
			}
			$('input[name="article_id"]').val( resp['article_id'] );
			$('.webeditor-status')
					.removeClass('text-danger')
					.removeClass('text-muted')
					.addClass('text-success')
					.html('<i class="fa fa-check"></i>  保存成功');

			setStatus( resp['status'], resp['draft_status'] );
		});

		return  false;
	}

	$('.fn-btn.save').click(savefn);  // 保存按钮
	$(document).bind('keydown', 'meta+s', savefn );  // CMD + s
	$(document).bind('keydown', 'ctrl+s', savefn );  // Ctrl + s
	$editor.$keyboard.addBinding({ key: 's', metaKey: true }, savefn );
	$editor.$keyboard.addBinding({ key: 's', ctrlKey: true }, savefn );


	// 发布/发布更新按钮功能
	$('.fn-btn.publish').mouseover(function(event) {
		$editor.panelOpen('options');  // 打开组件配置面板
	});
	$('.fn-btn.publish').click(function(event) {
		if ( savelock ){ return  false; }
		$editor.save('<?=App::NR("article", "save")?>', {status:'published'}, function( resp, status, xhr) {

			if ( status == 'error') {
				$('.webeditor-status')
					.removeClass('text-success')
					.removeClass('text-muted')
					.addClass('text-danger')
					.html('<i class="fa fa-times"></i>  发布失败 ('+ resp['message'] + ')');
				return;
			}

			$('input[name="article_id"]').val( resp['article_id'] );
			$('.webeditor-status')
					.removeClass('text-danger')
					.removeClass('text-muted')
					.addClass('text-success')
					.html('<i class="fa fa-check"></i>  发布成功');
			setStatus( resp['status'], resp['draft_status'] );
		});
	});


	// 取消发布按钮功能
	$('.fn-btn.publish-cancel').click(function(event) {

		if ( savelock ){ return  false; }

		$editor.save('<?=App::NR("article", "cancelPublish")?>', {status:'unpublished'}, function( resp, status, xhr) {

			if ( status == 'error') {
				$('.webeditor-status')
					.removeClass('text-success')
					.removeClass('text-muted')
					.addClass('text-danger')
					.html('<i class="fa fa-times"></i>  取消发布失败 ('+ resp['message'] + ')');
				return;
			}

			$('input[name="article_id"]').val( resp['article_id'] );
			$('.webeditor-status')
					.removeClass('text-danger')
					.removeClass('text-muted')
					.addClass('text-success')
					.html('<i class="fa fa-check"></i>  取消发布成功');
			setStatus( resp['status'], resp['draft_status'] );
		});
	});


	// 预览功能按钮
	$('.fn-btn.preview').popover({
		container:$('body'),
		title:' ',
		trigger:'manual',
		template:$('.preview-html').html()
	});

	$('.fn-btn.preview').click(function(event) {
		$('.popover-btn.link').popover('hide');

		var that = this;
		var url = '<?=App::NR("article", "previewlinks", ["id"=>""])?>' + $('input[name="article_id"]').val();
		$(this).popover('show');

		$('body > .popover .preview.links').load(url, function(){
			// 复制地址
			var copy = $('body > .popover .copy-preview-url');
			copy.each(function( idx , elm ){
				if ( $(elm).data('init') !== 1 ) {
					var client = new ZeroClipboard($(elm));	
					$(elm).data('init', 1);
					client.on( "ready", function( readyEvent ) {
						client.on( "aftercopy", function( event ) {
							var id = $(elm).attr('data-id');
							var selector = '.copy-status[data-id='+id+']';
							$(selector).hide().html('复制成功').fadeIn(200);
						});
					});
				}
			});
		});

	});


	// 访问功能按钮
	$('.fn-btn.link').popover({
		container:$('body'),
		title:' ',
		trigger:'manual',
		template:$('.link-html').html()
	});

	$('.fn-btn.link').click(function(event) {
		$('.popover-btn.preview').popover('hide');

		var that = this;
		var url = '<?=App::NR("article", "links", ["id"=>""])?>' + $('input[name="article_id"]').val();
		$(this).popover('show');

		$('body > .popover .link.links').load(url, function(){
			// 复制地址
			var copy = $('body > .popover .copy-link-url');
			copy.each(function( idx , elm ){
				if ( $(elm).data('init') !== 1 ) {
					var client = new ZeroClipboard($(elm));	
					$(elm).data('init', 1);
					client.on( "ready", function( readyEvent ) {
						client.on( "aftercopy", function( event ) {
							var id = $(elm).attr('data-id');
							var selector = '.copy-status[data-id='+id+']';
							// console.log(selector);
							$(selector).hide().html('复制成功').fadeIn(200);
						});
					});
				}
			});
		});
	});


	// 删除功能按钮
	$('.fn-btn.remove').on('success', function(event,data){
		window.location = '<?=App::R("article", "index")?>';
	});

	$('.fn-btn.remove').on('error', function(event,data){
		$('.webeditor-status')
				.removeClass('text-success')
				.removeClass('text-muted')
				.addClass('text-danger')
				.html('<i class="fa fa-times"></i>  删除失败 ('+ data['message'] + ')');
	});

/**
 * ======================================================================================
 *   END 编辑器功能按钮功能设定 (事件绑定)
 * ======================================================================================
 */


/**
 * ======================================================================================
 *   BEGIN 编辑器组件按钮功能设定 (定义 & 事件绑定)
 * ======================================================================================
 */

	// 图片管理面板
	var imagePanel = new imageWebeditorPanel({
		api: {
			latest: '<?=App::URI("mina", "uploader", "imagelatest")?>', // 最近上传接口
			upload: '<?=App::URI("mina", "uploader", "imageupload")?>',  // 图片上传接口
			crop:   '<?=App::URI("mina", "uploader", "imagecrop")?>',	// 图片裁切接口
			resize: '<?=App::URI("mina", "uploader", "imageresize")?>' // 压缩图片接口
		},

		confirm: function( selected ) {  // 选中图片
			
			if ( selected.length === 0 ) return ;
			var ew = $editor.width();

			for( var i in selected ) {
				var img = selected[i];

				if ( ew < img['width'] ) {

					$editor.insertImage({
						src:img['url'],
						"data-width":img['width'],
						"data-height":img['height']
					});

				} else {

					$editor.insertImage({
						src:img['url'], 
						width:img['width'] + 'px',
						height:img['height'] +  'px'
					});
				}
			}
		},
		cancel: function( selected ) {  // 取消选择
			console.log( selected );
		},

		multiple:3,  // 最多可选图片数量 ( 默认9个 )
		show:false   // 是否打开界面
	});


	var coverPanel = new imageWebeditorPanel({
		api: {
			latest: '<?=App::URI("mina", "uploader", "imagelatest")?>', // 最近上传接口
			upload: '<?=App::URI("mina", "uploader", "imageupload")?>',  // 图片上传接口
			crop:   '<?=App::URI("mina", "uploader", "imagecrop")?>',	// 图片裁切接口
			resize: '<?=App::URI("mina", "uploader", "imageresize")?>' // 压缩图片接口
		},

		confirm: function( selected ) {  // 选中图片
			if ( selected.length === 0 ) return ;
			$editor.coverAdd( selected[0]['url'] , selected[0]['origin']);
		},
		cancel: function( selected ) {  // 取消选择
			console.log( selected );
		},

		multiple:1,  // 最多可选图片数量 ( 默认9个 )
		show:false   // 是否打开界面
	});


	var videoPanel = new videoWebeditorPanel({
		
		api: {
			latest: '<?=App::URI("mina", "uploader", "videolatest")?>', // 最近上传接口
			upload: '<?=App::URI("mina", "uploader", "videolatest")?>',  // 视频上传接口
		},

		confirm: function( selected ) {  // 选中视频
			
			if ( selected.length === 0 ) return ;

			var video = selected[0];
			$editor.insertComponent('video', {
				code:video['code'],
				video:video['video'],
				width:video['width'],
				height:video['height']
			});
		},

		cancel: function( selected ) {  // 取消选择
			console.log( selected );
		},

		multiple:1,  // 最多可选视频数量 ( 默认1个 )
		show:false   // 是否打开界面
	});



	$('.image', '#tabs-components').click( function(){
		imagePanel.show();
	});

	$('.video', '#tabs-components').click( function(){
		videoPanel.show();
	});

	$('.cover-selector', '.webeditor-cover').click(function(event) {
		coverPanel.show();
	});

/**
 * ======================================================================================
 *   END 编辑器组件按钮功能设定 (定义 & 事件绑定)
 * ======================================================================================
 */

});
</script>

