<?php 
use \Tuanduimao\Loader\App as App;
?>

<?php foreach($pages as $idx=>$pg ): ?>
<div class="row"  style=" padding-left:30px; padding-bottom:5px; padding-right:20px;">
	<div class="col-xs-6 text-left">
		<h4 class="font-w300">
			<?=$pg['cname']?> 
			<span 
				data-id="<?=$idx?>";
				class="text-success copy-status font-s14"> </span> 
		</h4>
	</div>
	<div class="col-xs-6">
		<a href="<?=$pg['links']['desktop']?>" 
		   target="_blank"
		   class=" btn btn-primary font-w300  btn-sm  btn-minw push-5-r"
		>	
		电脑访问
		</a>

		<button
			data-id="<?=$idx?>";
			data-clipboard-text="<?=$pg['links']['desktop']?>"
			class=" btn btn-primary font-w300  btn-sm  btn-minw copy-link-url" >	
		复制地址
		</button>

	</div>
</div>

<div class="row" style=" padding-right:30px;padding-left: 20px; padding-bottom: 30px; min-height: 240px;">
	<div class="col-xs-4">
		<img src='<?=App::URI("mina", "image", "qrcode", [
			"text"=>$pg["links"]["mobile"], 
			"width"=>150,
			"padding" => 10,
			"fontsize"=>12
		])?>' >
		<span style="font-size: 16px;cursor: default;">手机浏览器</span>
	</div>
	<div class="col-xs-4">
		<img src='<?=App::URI("mina", "image", "qrcode", [
			"text"=>$pg["links"]["wechat"], 
			"width"=>150,
			"padding" => 10,
			"fontsize"=>12
		])?>' >
		<span style="font-size: 16px;cursor: default;">微信扫一扫</span>
	</div>
	<div class="col-xs-4">
		<?php if (!empty($wxapp) && !empty($pg["links"]["wxapp"]) ) : ?>
		<img width="150" style="margin:10px;" src='<?=App::URI("mina", "image", "qrcode", [
			"text"=>$pg["links"]["wxapp"], 
			"type" => "wxapp",
			"config" => $wxapp,
			"width"=>150
		])?>' 
		>
		<span style="font-size: 16px;cursor: default;">微信小程序</span>
		<?php endif; ?>
	</div>
</div>



<?php endforeach; ?>