<?php 
use \Tuanduimao\Loader\App as App; 
use \Tuanduimao\Utils as Utils;
?>
<div class="content">

	<!-- Search Section -->
	<div class="block block-transparent">
		<div class="row" >
			<div  class="col-lg-8 col-md-8 col-sm-8">
				<div class="input-group input-group-lg">
					<div class="input-group-addon font-w300"> 全文检索 </div> 
					<input class="js-icon-search form-control keyword" type="text" placeholder="输入关键词" value="<?=$query['title']?>">
					<span class="input-group-btn">
						<button class="btn btn-primary font-w300 search" type="button"><i class=" si si-magnifier"></i> 搜索 </button>
					</span>
				</div>
			</div>

			<div class="col-lg-4 col-md-4  col-sm-4">
				<a 
					href="<?=App::R('article','editor')?>" 
					class="btn btn-primary btn-lg font-w300 pull-right push-15-l" 
					><i class="fa fa-plus"></i> 创建文章</a>
				

				<!-- 微信公众号同步 -->
				<?php if ( !empty($wechats) ) : ?>
				<button 
					confirm-title="<i class='fa fa-wechat'></i> 请选择需要同步的公众号"
					confirm-content="<ul  class='list-group' >
						<?php foreach($wechats as $we) : ?>
						<li class='list-group-item'>
							<label class='css-input css-checkbox css-checkbox-primary'>
                               <input name='wxmp' type='checkbox' value='<?=$we['appid']?>' checked ><span class='push-10-r'></span> 
                               <span class='push-10-r'> <i class='fa fa-wechat'></i>   <?=$we['name']?>   </span>
                               <span class='push-10-r'> 分类: <?=$we['category']?>  </span>
                               <span class='push-10-r'> 类型: <?=$we['typename']?> </span>
                               <span> AppID: <?=$we['appid']?>  </span>
                               
                            </label>
                            <span name='wxmp' class='hidden push-10-r pull-right'><i class='fa fa-refresh fa-spin'></i></span>
						</li>
						<?php endforeach; ?>
					</ul>"
					confirm-submit="立即同步"
					confirm-action="<?=App::NR('Article', 'sync');?>"
					event-before="
						function( btn, modal ) {
							var names = [];
							$('input[name=wxmp]',modal ).each( function( idx, mp ) {
								if ( $(mp).prop('checked') === true ){
									names.push( $(mp).val() );
								}
							});

							$(btn).attr('data-param-ids', names);
							
							$('button', modal)
								.addClass('disabled')
								.attr('disabled', 'disabled');
							$('span[name=wxmp]', modal).removeClass('hidden').show();
						}
					"
					event-success="
						function(btn, modal) {
							console.log('success');
						}
					"

					event-error="
						function( data, btn, modal) {
							console.log('fail');
						}
					"

					event-done="
						function( data, btn, modal) {
							$('span[name=wxmp]',modal ).addClass('hidden').hide();

							$('button', modal)
								.removeClass('disabled')
								.removeAttr('disabled');
						}
					"

					class="btn btn-primary btn-lg font-w300 pull-right ajax-confirm" >
					<i class="fa fa-wechat"></i> 同步文章</button>

				<?php endif;?><!-- END 微信公众号同步 -->

			</div>
		</div>
	</div> <!-- END Search Section -->

	<div class="block-group">
		<div class="block">
			<ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs">
				<li class="active"> 
					<a id="tabs-document" href="#tabs-status-0"  class="font-w300 tabs-menu"> 
					   <i class="fa  fa-th-list push-5-r"></i> 文章列表
					</a>
				</li> 
				<li class="pull-right">
					<a href="#" type="button" class="except" data-toggle="block-option" data-action="fullscreen_toggle"></a>
				</li> 
			</ul>

			<div class="block-content tab-content">
				 <div class="tab-pane hide" id="tab-pane-error" >
					<div class="alert alert-danger push-50-l push-50-r push-20-t ">
						<h3 class="font-w300 push-15">载入失败</h3>
						<p>{HTML}</p>
					</div>
					<div class="row"  style="min-height:300px;" ></div>
				</div>

				<div class="tab-pane active" id="tabs-status-0"  style="min-height:500px;" >
					
					

					<!-- 信息过滤(高级搜索)栏位 -->
					<div class="row items-push remove-margin">
						
						<div class="col-xs-5">
							<span class="text-muted">共找到 <?=$articles['total']?> 篇符合条件的文章</span>
						</div> <!-- END col-xs-5 -->
						
						<div class="col-xs-7">

							<!-- 批量管理链接 -->
							<a class="btn btn-default btn-xs pull-right  push-20-l hidden" type="button">
								<i class="glyphicon glyphicon-list-alt"></i> 批量修改 
							</a> <!-- END 批量管理链接 -->
			
							<!-- 结果集排序 -->
							<div class="btn-group pull-right push-20-l" role="group">  
								<button class="btn btn-default btn-xs dropdown-toggle" 
										type="button" data-toggle="dropdown" > 
									<i class="glyphicon glyphicon-list-alt"></i> 

									<?php if ( $query['order'] == 'create_time desc' ) :?>
										最新创建
									<?php elseif ( $query['order'] == 'update_time desc' ) :?>
										最近更新
									<?php endif;?>

									<span class="caret"></span> 
								</button>
								<ul class="dropdown-menu dropdown-menu-right" style="min-width: 87px;">
									<li class="dropdown-header"> 排序方式</li>
									<li>
										<a href="javascript:search('order','update_time desc')">
										   最近更新
										</a>
									</li>
									<li>
										<a href="javascript:search('order','create_time desc')">
										   最新创建
										</a>
									</li>
								</ul>
							</div> <!-- END 结果集排序 -->

							<!-- 文章状态过滤 -->
							<div class="btn-group pull-right push-20-l" role="group">  
								<button class="btn btn-default btn-xs dropdown-toggle" 
										type="button" data-toggle="dropdown" >
									<i class="glyphicon glyphicon-list-alt"></i> 

									<?php if ( $query['status'] == 'unpublished' ) :?>
										草稿
									<?php elseif ( $query['status'] == 'published' ) :?>
										已发布
									<?php else  :?> 
										全部状态
									<?php endif;?>

									<span class="caret"></span> 
								</button>

								<ul class="dropdown-menu dropdown-menu-right"  style="min-width: 87px;">
									<li class="dropdown-header"> 文章状态</li>
									<li>
										<a href="javascript:search('status','')">
										   全部状态
										</a>
									</li>
									<li >
										<a href="javascript:search('status','unpublished')">
										   草稿
										</a>
									</li>
									<li>
										<a href="javascript:search('status','published')">
										   已发布
										</a>
									</li>
								</ul>
							</div> <!-- END 文章状态过滤 -->


							<!-- 分类状态过滤 -->
							<div class="btn-group pull-right" role="group">  
								<button class="btn btn-default btn-xs dropdown-toggle" 
										type="button" data-toggle="dropdown" >
									<i class="glyphicon glyphicon-list-alt"></i> <span class="currCate">所有分类</span> <span class="caret"></span> 
								</button>

								<ul class="dropdown-menu dropdown-menu-right" style="min-width: 87px;">
									<li class="dropdown-header"> 文章分类</li>
									<li >
										<a href="javascript:search('categoryId','')">
										   所有分类
										</a>
									</li>

									<?php 
										$category->each(function( $cate, $depth ) use ( $category,$query ) {  ?>
									<li >
										<a href="javascript:search('categoryId','<?=$cate['category_id']?>')">
										   <?=empty($cate['wechat']) ? '' : '<i class="fa fa-wechat text-success"></i>'?>
										   <?=$cate['name']?>
										</a>
									</li>

									<?php if ($cate['category_id'] == $query['categoryId'])  :?>
									<script type="text/javascript">
									$(function(){
										$('.currCate').html('<?=empty($cate["wechat"]) ? "" : "<i class=\"fa fa-wechat text-muted\"></i> "?><?=$cate['name']?>');
									})
									</script>
									<?php endif;  ?>


									<?php }); ?>
								</ul>
							</div> <!-- END 文章状态过滤 -->

						</div><!-- END col-xs-7 -->

					</div> <!-- END 信息过滤(高级搜索)栏位 -->
					
					<!-- 文章列表 -->
					<?php if($articles['total'] > 0 ): // 如果没有数据则不显示 ?>
					<table class="js-table-checkable table table-hover remove-margin">

						<thead>
							<tr>
								<th class="text-center" style="width:5%;max-width:120px;"> 编号</th>
								<th class="font-w300" style="width:30%;">标题</th>
								<th class="font-w300" style="width:15%;">分类</th>
								<th class="font-w300" style="width:5%;">作者</th>
								<th class="font-w300" style="width:10%;">

								<?php if ( $query['order'] == 'create_time desc' ) :?>
									创建时间
								<?php elseif ( $query['order'] == 'update_time desc' ) :?>
									更新时间
								<?php endif;?>

								</th>
								<th class="font-w300" style="width:5%;">状态</th>
							</tr>
						</thead>

						<tbody>
							<?php
							$status = [
								'published'=>['name'=>'已发布', 'class'=>'text-success'],
								'unpublished'=>['name'=>'草稿', 'class'=>'text-danger'],
							];
							foreach ($articles['data'] as $rs) :
								$category = '';
								if ( is_array($rs['category']) ) {
									$cate_pad = Utils::pad( $rs['category'] , 'name');
									$cdata = $cate_pad['data'];
									if ( count($cdata) > 2) {
										$cdata = array_splice($cdata, -2);
									}
									$category = implode('、' ,$cdata );
									if( count($cate_pad['data']) > 2 ) {
										$category = $category. ' ...';
									}
								}
								$s = $status[$rs['status']];
							?>
							<tr data-toggle="block-group" 
								onclick="window.location='<?=App::R('article', 'editor', ['id'=>$rs['article_id']])?>'" >
								<td 
								style="min-height: 65px;height: 65px;"
								class="text-center"><?=$rs['article_id']?></td>
								<td> <?=$rs['title']?></td>
								<td> <?=$category?></td>
								<td> <?=$rs['author']?> </td>
								<td> 
								<?php if ( $query['order'] == 'create_time desc' ) :?>
									<?=$rs['create_time']?> 
								<?php elseif ( $query['order'] == 'update_time desc' ) :?>
									<?=$rs['update_time']?> 
								<?php endif;?>

								</td>
								<td> <span class="<?=$s['class']?>"><?=$s['name']?></span></td>
							</tr>
							<?php endforeach;?>
						</tbody>

						<tfoot>
							<tr><td colspan="6"> <nav class="pull-right">

								<ul class="pagination">
									<?php if ($articles['prev'] !== false): ?>
									<li>
										<a href="javascript:search('page', '<?=$articles['prev']?>' )">
											<i class="fa fa-angle-double-left"></i>
										</a>
									</li>
									<?php endif;?>

									<?php for( $i=1; $i<=$articles['last']; $i++) :?>
									<li class="<?=($i==$articles['curr'])? 'active': ''?>" >
										<a href="javascript:search('page', '<?=$i?>' )"><?=$i?></a>
									</li>
									<?php endfor; ?>

									<?php if ($articles['next'] !== false): ?>
									<li>
										<a href="javascript:search('page', '<?=$articles['next']?>' )">
											<i class="fa fa-angle-double-right"></i>
										</a>
									</li>
									<?php endif;?>

								</ul>
							</nav></td></tr>
						</tfoot>

					</table><!-- END 文章列表 -->
					<?php else: // 无数据时呈现 ?>
					<span class="push-15-l"> 
						<a href="<?=App::R('article', 'editor')?>"> 立即创建文章 </a>
					</span>
					<?php endif; // 如果没有数据则不显示 ?>
			
				</div> <!-- END Tab-pane -->

			</div>
		</div> <!-- END Block -->
	</div> <!-- END block-group -->
</div> <!-- END Pagecontent -->

<script type="text/javascript">
var $_GET = <?=json_encode($query)?>;
var $_HOME ='<?=App::R("article", "index")?>';
delete $_GET['select'];

function search( key, value ) {

	if ( key !== undefined ) {
		$_GET[key] = value;

		if ( value == undefined  || value == '') {
			delete $_GET[key];
		}

		if ( key != 'page' ) {
			$_GET['page'] = 1;
		}
	}

	var url =  $_HOME + '?' + $.param($_GET);
	window.location = url;

}

$(function() {
	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs', 'slimscroll', 'ajax-confirm']);
	$('.search').click(function(){

		var keyword = $('.keyword').val();
		search('title', keyword);

	});
});

</script>