<?php use \Xpmse\Loader\App; use \Xpmse\Utils; ?>
<style type="text/css">

	.form-horizontal {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.form-horizontal label {
		font-size: 16px;
	}

	.select2-container--default .select2-selection--single {
		height: 46px !important;
		padding: 8px 6px;
		font-size: 14px;
		line-height: 46px;
	}
	

	.has-error .select2-container--default .select2-selection--single,
	.has-error .select2-dropdown {
		border-color: #d26a5c !important;
	}

	.select2-container--default .select2-selection--single, 
	.select2-container--default .select2-selection--multiple {
		height: 46px !important;
		padding: 8px 6px;
		font-size: 14px;
		line-height: 46px;
	}

	.select2-container--default .select2-selection--multiple {
		padding: 6px 6px;
	}
	

	.has-error .select2-container--default .select2-selection--single,
	.has-error .select2-container--default .select2-selection--multiple,
	.has-error .select2-dropdown {
		border-color: #d26a5c !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b ,
	.select2-container--default .select2-selection--multiple .select2-selection__arrow b 

	{
		top: 65% !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 26px !important;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		line-height: 26px !important;
	}
	
	

	.select2-results__options {
		font-size: 14px;
		line-height: 32px;
	}

</style>
<!-- Page Content -->
<div class="content ">
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >
			<h3 class="block-title" >
				<a href="<?=App::R('article', 'seo')?>" class="text-default">
				   <i class="si si-directions"></i> 
				   搜索引擎爬虫向导
				</a> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content " >
			<form class="form-horizontal collect-form" >
				
				<!-- 站点地图 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="sitemap">站点地图:</label>
					<div class="col-xs-9">
						<div class="input-group">
							<input class="form-control input-lg"  type="text" name="sitemap" value="<?=Utils::getHome()?>/sitemap.xml" disabled>
							<span class="input-group-btn">
								<a class="btn btn-lg btn-primary" href="<?=Utils::getHome()?>/sitemap.xml" target="_blank" type="button">查看</a>
							</span>
						</div>
					</div>
				</div><!-- END 站点地图 -->

				<!-- 抓取协议 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="url">抓取协议:</label>
					<div class="col-xs-9">
						<div class="input-group">
							<input class="form-control input-lg"  type="text" name="url" value="<?=Utils::getHome()?>/robot.txt" disabled>
							<span class="input-group-btn">
								<button class="btn btn-lg btn-primary fn-action fn-robots" type="button">修改</button>
							</span>
						</div>
					</div>
				</div><!-- END 抓取协议 -->

			</form>
		</div>
	</div>

	<div class="block block-bordered " >
		<div class="block-header remove-margin" >
			<!-- <ul class="block-options" >
				<li>
					<a type="button" href="#"><i class="si si-settings" style="font-size:1.5em;"></i></a>
				</li>
			</ul> -->

			<h3 class="block-title" >
				<a href="<?=App::R('article', 'seo')?>" class="text-default">
					<i class="fa fa-search"></i> 
				   百度链接提交计划
				</a> 
				<!-- <i class="fa fa-lock push-5-l  lock_status text-muted" style="width:18px;"></i> -->
				<!-- <span class="text-danger status push-10-l font-s13"></span> -->
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content " >
			<form class="form-horizontal baidulinks-form" >
				
				<!-- 百度Token -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="url">准入密钥:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="token" value="<?=$baidu['token']?>" placeholder="请填写链接提交的站点准入密钥（Token）">
					</div>
				</div><!-- END 百度Token -->
				

				<!-- 推送计划 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="schedule">更新频次:</label>
					<div class="col-xs-9">
						<select class="js-select2 form-control input-lg" name="schedule" value="<?=$baidu['token']?>" style="width: 100%;">
							<option></option>
							<option value="daily" selected>每天</option>
							<option value="weekly">每周 </option>
							<option value="weekly">每月</option>
						</select>
					</div>
				</div><!-- END 推送计划 -->

				<!-- 网页地址 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="auto"></label>
					<div class="col-xs-9">
						<label class="css-input css-checkbox css-checkbox-primary" >
					   		<input name="auto" value="1" type="checkbox" <?=($baidu['auto'] == 1) ? 'checked' : '' ?> ><span></span> 发布/更新/删除文章时自动提交
						</label>
					</div>
				</div><!-- END 网页地址 -->

				<!-- 执行抓取 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="url"></label>
					<div class="col-xs-9">
						<button class="btn btn-lg btn-primary btn-minw push-15-r fn-action fn-update" type="button">更新提交计划</button>
						<button class="btn btn-lg btn-default btn-minw fn-action fn-logs" type="button">查看提交日志</button>
					</div>
				</div><!-- END 执行抓取 -->


				<hr class="push-50-t">

				<div style="padding:20px 40px 20px 40px;">

					<p> <h4 class="font-w400"> 如何获取链接提交准入密钥 ？</h4></p>
					<h5 class="font-w300">  在百度资源平台注册，并添加网站。即可获得准入密钥。 <a href="https://ziyuan.baidu.com/linksubmit/index?site=<?=Utils::getHome()?>">查看准入秘钥</a>
					<p> 
						
						<div> <img src="/s/xpmsns/pages/static/seo/baidu.png" width="800" > </div>
					</p>
				</div>

			</form>
		</div>
	</div>
</div>


<!-- 弹窗 -->
<!-- 应用浏览器 Modal -->
<div class="modal fade " id="_app_browser" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-fromtop modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>
<!-- 弹窗  -->


<script type="text/javascript">

function logs() {
	let url = '<?=App::NR("article", "seoUpdateLogs");?>';
	$('#_app_browser .modal-content').html('<div class="text-center" style="padding:40px;"><i class="fa fa-refresh fa-2x fa-spin"></i></div>');
	$('#_app_browser').modal('show');
	$('#_app_browser .modal-content').load(url);
}

function robots() {
	let url = '<?=App::NR("article", "seoRobots");?>';
	$('#_app_browser .modal-content').html('<div class="text-center" style="padding:40px;"><i class="fa fa-refresh fa-2x fa-spin"></i></div>');
	$('#_app_browser').modal('show');
	$('#_app_browser .modal-content').load(url);
}


$(function() {

	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll']);


	/**
	 * 打开日志
	 */
	$('.fn-logs').click(function(){
		logs();
	});


	$('.fn-robots').click(function(){
		robots();
	});

	/**
	 * 更新链接提交计划
	 */
	$('.fn-update').click(function(event) {

		var api = '<?=App::NR("article","seoUpdate")?>';
		var data = $('.baidulinks-form').serializeData();
		if (data['token'] == null) {
			App.notify( '请填写链接提交准入秘钥', 'fa fa-times','danger'); 
			return;
		}

		App.loading({message:'更新中,请稍候..'}).show();

		jQuery.post( api, data, function( data, textStatus, xhr) {
			App.loading().hide();

			// 返回数据异常
			if ( data['code'] !== 0 && data['code'] !== "0" ) {

				var message = data['message'] || "未知错误";
				App.notify( message, 'fa fa-times','danger'); 
				return;
			}

			// 更新成功
			App.notify('更新成功');

		}, 'json')

		.error(function( xhr, status, message) {
			App.loading().hide();
			App.notify( message, 'fa fa-times','danger'); 
			console.log( status, xhr.status, ' message=', message );
		});

	});
})
	
</script>

