@charset "utf-8";
/* CSS Document */

/*fontface*/



@font-face {
  font-family: "nexbold";
  src: url("../fonts/nexbold/nexbold.woff2") format("woff2"),
       url("../fonts/nexbold/nexbold.woff") format("woff"),
       url("../fonts/nexbold/nexbold.ttf") format("truetype"),
       url("../fonts/nexbold/nexbold.eot") format("embedded-opentype"),
       url("../fonts/nexbold/nexbold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}