<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('siteconf', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    站点配置列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form siteconf-content js-draggable-items" >

			<form class="form-horizontal siteconf-form form-lg" action= '<?=App::NR("siteconf", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="site_id" value="<?=$rs['site_id']?>" >
	
	<!-- 单行文本: 别名 (site_slug) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_slug">别名<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_slug" name="site_slug" 
				placeholder="请填写配置别名"  
				value="<?=T::v('<%=site_slug | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 别名 (site_slug) -->

	<!-- 单行文本: 呈现位置 (position) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="position">呈现位置</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="position" name="position" 
				placeholder="请填写呈现位置"  
				value="<?=T::v('<%=position | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 呈现位置 (position) -->

	<!-- 单行文本: 网站名称 (site_name) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_name">网站名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_name" name="site_name" 
				placeholder="请填写网站名称"  
				value="<?=T::v('<%=site_name | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 网站名称 (site_name) -->

	<!-- 单行文本: Slogen (site_slogen) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_slogen">Slogen</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_slogen" name="site_slogen" 
				placeholder="请填写网站名称"  
				value="<?=T::v('<%=site_slogen | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: Slogen (site_slogen) -->




	<!-- 单图上传: 网站LOGO (site_logo) 开始  -->
	<div class="xpmse-images  " name="site_logo">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="site_logo">网站LOGO</label>
			<div class="col-xs-8">
		   		<div name="site_logo" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传网站LOGO'
					data-previews=""
					data-width="300"
					data-height="75"
					data-icon="fa fa-image" 
					data-placeholder="请上传网站LOGO" 
					data-allow-types=".png"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="yes"
					data-draggable="yes"
					data-src="<?=T::v('<%=site_logo.url%>', $rs )?>"
					data-path="<?=T::v('<%=site_logo.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 网站LOGO (site_logo) -->




	<!-- 文本域: 网站简介 (site_intro) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_intro">网站简介</label>
		<div class="col-xs-8">
			<textarea class="form-control input-lg"  
				type="text" 
				id="site_intro" name="site_intro" rows=""
				placeholder="请填写网站简介"><?=T::v('<%=site_intro  | e(\'html\')%>', $rs )?></textarea> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 文本域: 网站简介 (site_intro) -->

	<!-- 单行文本: 官网地址 (site_homepage) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_homepage">官网地址</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_homepage" name="site_homepage" 
				placeholder="请填写官网地址"  
				value="<?=T::v('<%=site_homepage | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 官网地址 (site_homepage) -->

	<!-- 单行文本: 客户端下载地址 (site_downloadpage) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_downloadpage">客户端下载地址</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_downloadpage" name="site_downloadpage" 
				placeholder="请填写客户端下载地址"  
				value="<?=T::v('<%=site_downloadpage | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 客户端下载地址 (site_downloadpage) -->

	<!-- 单行文本: 网站备案号 (site_no) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="site_no">网站备案号</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="site_no" name="site_no" 
				placeholder="请填写网站备案号"  
				value="<?=T::v('<%=site_no | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 网站备案号 (site_no) -->

	<!-- 单行文本: 公司名称 (company) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="company">公司名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="company" name="company" 
				placeholder="请填写公司名称"  
				value="<?=T::v('<%=company | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 公司名称 (company) -->

	<!-- 单行文本: 公司地址 (address) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="address">公司地址</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="address" name="address" 
				placeholder="请填写公司地址"  
				value="<?=T::v('<%=address | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 公司地址 (address) -->

	<!-- 单行文本: 客服电话 (tel) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="tel">客服电话</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="tel" name="tel" 
				placeholder="请填写客服电话"  
				value="<?=T::v('<%=tel | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 客服电话 (tel) -->

	<!-- 单行文本: 客服QQ (qq) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="qq">客服QQ</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="qq" name="qq" 
				placeholder="请填写客服QQ"  
				value="<?=T::v('<%=qq | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 客服QQ (qq) -->

	<!-- 单行文本: 客服邮箱 (email) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="email">客服邮箱</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="email" name="email" 
				placeholder="请填写客服邮箱"  
				value="<?=T::v('<%=email | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 客服邮箱 (email) -->

	<!-- 单行文本: 客服服务时间 (se_time) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="se_time">客服服务时间</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="se_time" name="se_time" 
				placeholder="请填写客服服务时间"  
				value="<?=T::v('<%=se_time | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 客服服务时间 (se_time) -->

	<!-- 单行文本: 合作联系人 (contact_name) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="contact_name">合作联系人</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="contact_name" name="contact_name" 
				placeholder="请填写合作联系人"  
				value="<?=T::v('<%=contact_name | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 合作联系人 (contact_name) -->

	<!-- 单行文本: 合作邮箱 (contact_email) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="contact_email">合作邮箱</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="contact_email" name="contact_email" 
				placeholder="请填写合作联系邮箱"  
				value="<?=T::v('<%=contact_email | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 合作邮箱 (contact_email) -->

	<!-- 单行文本: 合作电话 (contact_tel) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="contact_tel">合作电话</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="contact_tel" name="contact_tel" 
				placeholder="请填写合作联系电话"  
				value="<?=T::v('<%=contact_tel | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 合作电话 (contact_tel) -->

	<!-- 单行文本: 合作QQ (contact_qq) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="contact_qq">合作QQ</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="contact_qq" name="contact_qq" 
				placeholder="请填写合作联系QQ"  
				value="<?=T::v('<%=contact_qq | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 合作QQ (contact_qq) -->




	<!-- 单图上传: 小程序二维码 (qr_wxapp) 开始  -->
	<div class="xpmse-images  " name="qr_wxapp">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="qr_wxapp">小程序二维码</label>
			<div class="col-xs-8">
		   		<div name="qr_wxapp" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传小程序二维码'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传小程序二维码" 
					data-allow-types=".png,.jpg"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=qr_wxapp.url%>', $rs )?>"
					data-path="<?=T::v('<%=qr_wxapp.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 小程序二维码 (qr_wxapp) -->




	<!-- 单图上传: 订阅号二维码 (qr_wxpub) 开始  -->
	<div class="xpmse-images  " name="qr_wxpub">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="qr_wxpub">订阅号二维码</label>
			<div class="col-xs-8">
		   		<div name="qr_wxpub" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传订阅号二维码'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传订阅号二维码" 
					data-allow-types=".png,.jpg"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=qr_wxpub.url%>', $rs )?>"
					data-path="<?=T::v('<%=qr_wxpub.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 订阅号二维码 (qr_wxpub) -->

	<!-- 单行文本: 订阅号名称 (name_wxpub) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="name_wxpub">订阅号名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="name_wxpub" name="name_wxpub" 
				placeholder="请填写订阅号名称"  
				value="<?=T::v('<%=name_wxpub | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 订阅号名称 (name_wxpub) -->




	<!-- 单图上传: 服务号二维码 (qr_wxse) 开始  -->
	<div class="xpmse-images  " name="qr_wxse">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="qr_wxse">服务号二维码</label>
			<div class="col-xs-8">
		   		<div name="qr_wxse" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传服务号二维码'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传服务号二维码" 
					data-allow-types=".png,.jpg"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=qr_wxse.url%>', $rs )?>"
					data-path="<?=T::v('<%=qr_wxse.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 服务号二维码 (qr_wxse) -->

	<!-- 单行文本: 服务号名称 (name_wxse) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="name_wxse">服务号名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="name_wxse" name="name_wxse" 
				placeholder="请填写服务号名称"  
				value="<?=T::v('<%=name_wxse | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 服务号名称 (name_wxse) -->




	<!-- 单图上传: 安卓客户端二维码 (qr_android) 开始  -->
	<div class="xpmse-images  " name="qr_android">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="qr_android">安卓客户端二维码</label>
			<div class="col-xs-8">
		   		<div name="qr_android" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传安卓客户端二维码'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传安卓客户端二维码" 
					data-allow-types=".png,.jpg"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=qr_android.url%>', $rs )?>"
					data-path="<?=T::v('<%=qr_android.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 安卓客户端二维码 (qr_android) -->




	<!-- 单图上传: 苹果客户端二维码 (qr_ios) 开始  -->
	<div class="xpmse-images  " name="qr_ios">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="qr_ios">苹果客户端二维码</label>
			<div class="col-xs-8">
		   		<div name="qr_ios" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传苹果客户端二维码'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传苹果客户端二维码" 
					data-allow-types=".png,.jpg"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=qr_ios.url%>', $rs )?>"
					data-path="<?=T::v('<%=qr_ios.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 苹果客户端二维码 (qr_ios) -->



 
	<!-- 下拉选择: 状态 (status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="status">状态<span class="text-danger">*</span></label>
		<div class="col-xs-8">
			<select class="js-select2 form-control input-lg" style="width: 100%;"
					id="status" name="status"  
					data-placeholder="请选择广告状态" >
				<option></option>
				<?php $rs["status"] = is_string($rs["status"]) ? [$rs["status"]] : $rs["status"] ; if (empty($rs["status"])) { $rs["status"] = ["online"]; } ?>
<option value="online" <?=in_array("online", $rs["status"]) ? "selected" : ""?> > 上线</option>
<option value="offline" <?=in_array("offline", $rs["status"]) ? "selected" : ""?> >  下线</option>
			</select>
			<div class="help-block"></div>
		</div>
	</div><!-- END 下拉选择: 状态 (status) -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('siteconf', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 站点配置列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['site_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除站点配置 "
						            confirm-content="您确定删除站点配置 <strong><?=$rs['name=site_slug']?>(<?=$rs['site_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('siteconf','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('站点配置删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('siteconf','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '站点配置删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-site_id="<?=$rs['site_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['site_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=site_id]').val( data['site_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['site_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.siteconf-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.siteconf-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('siteconf','duplicate', ['site_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="site_id"]').val() == '' || $('input[name="site_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>