<?php
	use \Tuanduimao\Loader\App as App;
?>
<script type="text/javascript">
	DEBUG_ON = true;
</script>
<!-- Page Content -->
<div class="content "> 

	<div class="block block-bordered webeditor " >
		<div class="block-header remove-margin" >
			<ul class="block-options" >
				<li>
					<a type="button"   href="#" data-toggle="block-option" data-action="fullscreen_toggle"></a>
				</li>
			</ul>

			<h3 class="block-title" >
				<a href="<?=App::R('tushuo', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    图说列表 
                </a> / 编辑图说
				<!-- <i class="fa fa-lock push-5-l  lock_status text-muted" style="width:18px;"></i> -->
				<!-- <span class="text-danger status push-10-l font-s13"></span> -->
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content remove-margin remove-padding row" >
			<div class="col-xs-6 remove-margin remove-padding" style="min-height:1400px;border-right: 1px solid #e9e9e9;" >
				<div style="border-bottom: 1px solid #e9e9e9;padding:7px 15px 7px 15px;">
					<!-- <a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-picture"></i> </a> -->
					<a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-qrcode"></i> </a>
				</div>
			</div>
			<div class="col-xs-6 remove-margin remove-padding" >
				<div style="border-bottom: 1px solid #e9e9e9;padding:7px 15px 7px 15px;text-align: right;">
					<a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-th-large"></i> </a>
					<a href="#" class="text-muted pull-left push-10-r font-s16"> <i class="glyphicon glyphicon-edit"></i> </a>
					
					<a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-download-alt"></i> </a>
					<!-- <a href="#" class="text-muted push-10-r font-s16"> <i class="glyphicon glyphicon-print"></i> </a> -->
				</div>

			</div>
		</div> <!-- END block-content -->

			<!-- 功能操作面板-->
		<div class="block block-quickpanel">
			<div class="block-quickpanel-content " >
				<div class="row">
					<div class="col-xs-12">

						<button 
							type="button"
							class="btn btn-primary font-w300  push-20-r btn-minw  fn-btn">
							<i class="fa fa-save push-5-r"></i> 保存
						</button>

						<button 
							type="button"
							class="btn btn-default font-w300 push-20-l  push-20-r  btn-minw  fn-btn">
							<i class="fa fa-gears push-5-r"></i> 页面配置
						</button>

						<button 
							type="button"
							class="btn btn-default font-w300 push-20-r  btn-minw   fn-btn">
							<i class="fa fa-font"></i> 上传字体
						</button>
					</div>
				</div>
			</div>
		</div> <!-- End block-quickpanel -->

	</div> <!-- END block -->
</div><!-- end content -->


<script type="text/javascript">
	
$(function() {

	// 取消导航浮动
	$('#header-navbar').css('position', 'static');
	$('main').css('padding-top', '0px');

	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs', 'slimscroll', 'ajax-confirm']);
});
</script>