<?php use \Xpmse\Loader\App; use \Xpmse\Utils; ?>
<div class="block block-themed remove-margin">
	<div class="block-header bg-primary">
		<ul class="block-options">
			<li>
				 <button type="button" onclick="$('#_app_browser').modal('hide');"><i class="fa fa-times"></i></button>
			</li>
		</ul>
		<h3 class="block-title"> <i class="fa fa-arrow-right"></i> 百度链接提交日志 </h3>
	</div>
	<div class="block-content" style="padding-top:10px;padding-bottom: 20px;">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="50%">提交时刻</th>
					<th>新增页面</th>
					<th>更新页面</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2018年01月27日 23:00:00</td>
					<td>20</td>
					<td>40</td>
				</tr>
				<tr>
					<td>2018年01月27日 23:00:00</td>
					<td>20</td>
					<td>40</td>
				</tr>
				<tr>
					<td>2018年01月27日 23:00:00</td>
					<td>20</td>
					<td>40</td>
				</tr>
			</tbody>

			<tfoot>
				<tr><td colspan="6"> <nav class="pull-right">

					<ul class="pagination">
						<?php if ($articles['prev'] !== false): ?>
						<li>
							<a href="javascript:search('page', '<?=$articles['prev']?>' )">
								<i class="fa fa-angle-double-left"></i>
							</a>
						</li>
						<?php endif;?>

						<?php for( $i=1; $i<=$articles['last']; $i++) :?>
						<li class="<?=($i==$articles['curr'])? 'active': ''?>" >
							<a href="javascript:search('page', '<?=$i?>' )"><?=$i?></a>
						</li>
						<?php endfor; ?>

						<?php if ($articles['next'] !== false): ?>
						<li>
							<a href="javascript:search('page', '<?=$articles['next']?>' )">
								<i class="fa fa-angle-double-right"></i>
							</a>
						</li>
						<?php endif;?>
					</ul>
				</nav></td></tr>
			</tfoot>

		</table>
	</div>
</div>