<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('special', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    专栏列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form special-content js-draggable-items" >

			<form class="form-horizontal special-form form-lg" action= '<?=App::NR("special", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="special_id" value="<?=$rs['special_id']?>" >
	
	<!-- 单行文本: 名称 (name) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="name">名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="name" name="name" 
				placeholder="请填写专栏名称"  
				value="<?=T::v('<%=name | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 名称 (name) -->

	<!-- 单行文本: 地址 (path) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="path">地址</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="path" name="path" 
				placeholder="请填写专栏地址"  
				value="<?=T::v('<%=path | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 地址 (path) -->


	<!-- 单选框: 类型 (type) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="type">类型</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["type"])) { $rs["type"] = "special"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="special" value="special" <?=("special" == $rs["type"]) ? "checked" : ""?> > <span></span> 内容专题</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="expert" value="expert" <?=("expert" == $rs["type"]) ? "checked" : ""?> > <span></span> 业界专家</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="wemedia" value="wemedia" <?=("wemedia" == $rs["type"]) ? "checked" : ""?> > <span></span> 自媒体</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="official" value="official" <?=("official" == $rs["type"]) ? "checked" : ""?> > <span></span> 官方机构</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 类型 (type) 开始  -->



 
	<!-- 下拉选择(动态数据): 内容类目 (category_ids) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="category_ids">内容类目</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg" style="width: 100%;" 
					id="category_ids" name="category_ids" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Category"
					data-param-table="category"
					data-param-fields="category_id,name"
					data-param-style="{{name}}({{category_id}})"
					data-param-option="category_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=category_ids | join(\',\')%>', $rs )?>"
					data-placeholder="请选择专注领域"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=category_ids]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
		</script>
		 
	</div><!-- END 下拉选择(动态数据): 内容类目 (category_ids) -->



 
	<!-- 下拉选择(动态数据): 内容区块 (推荐) (recommend_ids) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="recommend_ids">内容区块 (推荐)</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg" style="width: 100%;" 
					id="recommend_ids" name="recommend_ids" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\Pages\Model\Recommend"
					data-param-table="recommend"
					data-param-fields="recommend_id,title"
					data-param-style="{{title}}({{recommend_id}})"
					data-param-option="recommend_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=recommend_ids | join(\',\')%>', $rs )?>"
					data-placeholder="请选择推荐"  multiple data-select2-multiple=1  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=recommend_ids]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
		</script>
		 
	</div><!-- END 下拉选择(动态数据): 内容区块 (推荐) (recommend_ids) -->



	<!-- 文本域: 简介 (summary) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="summary">简介</label>
		<div class="col-xs-8">
			<textarea class="form-control input-lg"  
				type="text" 
				id="summary" name="summary" rows="4"
				placeholder="请填写专栏简介"><?=T::v('<%=summary  | e(\'html\')%>', $rs )?></textarea> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 文本域: 简介 (summary) -->




	<!-- 多图片组上传: 申请材料 (docs) 开始  -->
	<div class="xpmse-image-groups-content    draggable-column">
		
		<?php if(count($rs['docs']) < 1): ?><?php $steps = 1 -  count($rs['docs']); for( $i=0; $i<$steps; $i++){ $rs['docs'][] = [];} ?><?php endif ?><?php if( is_array($rs['docs']) && utils::array_depth($rs['docs']) != 2): ?><?php foreach($rs['docs'] as $idx=>$it ){ $rs['docs'][$idx] = ['img'=>$it]; }?><?php endif ?><?php foreach ( $rs['docs'] as $img ): ?> 
		<div class="xpmse-image-groups draggable-item" data-nested="docs" data-multiple="1">
			<div class="form-group " >
				<label class="col-xs-2 control-label draggable-handler" for="docs">申请材料</label>
				<div class="col-xs-4" style="width:220px" >
			   		<div name="docs" class="file-uploader rounded rounded-4"
						data-api='/_a/mina/uploader/upload?type=image'
						data-title=''
						data-previews=""
						data-width="200"
						data-height="200"
						data-icon="fa fa-image" 
						data-placeholder="请上传证明材料" 
						data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
						data-maxsize="20"
						data-progress="yes"
						data-cropable="yes"
						data-draggable="yes"
						data-src="<?=T::v('<%=url%>', $img )?>"
						data-path="<?=T::v('<%=path%>', $img )?>"
						data-nested-value="1"
						></div>
					<div class="help-block"></div>
				</div>
				<div class="col-xs-4">
					<div class="col-xs-12">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="title" 
							placeholder="请输入标题"
							value="<?=T::v('<%=title | e(\'html\')%>', $img )?>" /> 
					</div>
					<div class="col-xs-12 push-10-t">
						<input 
							class="form-control input-lg"  
							type="text" 
							data-name="link" 
							placeholder="请输入链接地址"
							value="<?=T::v('<%=link | e(\'html\')%>', $img )?>" />
					</div>
					<div class="col-xs-12 push-10-t">
						<textarea class="form-control input-lg"  
							data-name="summary" rows="4"
							placeholder="请输入图片介绍"><?=T::v('<%=summary | e(\'html\')%>', $img )?></textarea> 
					</div>
				</div>
				<div class="col-xs-1 push-10-t">
					<a href="javascript:void(0);" data-action="add"    class="text-success push-20-r"> <i class="fa fa-plus font-s20"></i> </a> 
					<a href="javascript:void(0);" data-action="remove" class="text-danger"> <i class="fa fa-minus font-s20"></i> </a> 
				</div>
			</div> 
		</div>
		<?php endforeach; ?> 

		<script type="text/javascript">
			$('.xpmse-image-groups[data-nested="docs"]').Multipliable({
				initialized: function(elm, idx) {
					$(elm).parent('.xpmse-image-groups-content') .find('.control-label').each( function(i, el ){
						if (i >0) { $(el).html('');}
					});
				},
				added: function( elm ) {
					App.initHelper('file-uploader', {handler: $(elm).find('.file-uploader')} );
				},
				removed: function(){},
				html: function( elm ){ 
					var html = $(elm).clone();
					var resp = $(html);
					resp.find('.control-label').html('');
					resp.find('.file-uploader').html('');
					resp.find('.file-uploader').attr('data-src', '');
					resp.find('.file-uploader').attr('data-path', '');
					resp.find('input[type=hidden]').remove();
					resp.find('input').val('');
					resp.find('textarea').val('');
					return resp;
				}
			});
		</script>
	</div><!-- END 多图片组上传: 申请材料 (docs) -->



 
	<!-- 下拉选择(动态数据): 关联用户 (user_id) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="user_id">关联用户</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg" style="width: 100%;" 
					id="user_id" name="user_id" 
					data-language="zh-CN"
					data-param-cancelable="1"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\User\Model\User"
					data-param-table="user"
					data-param-fields="user_id,name,nickname"
					data-param-style="{{name ? name : nickname}}({{user_id}})"
					data-param-option="user_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=user_id | join(\',\')%>', $rs )?>"
					data-placeholder="请选择关联用户"  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
		<script type="text/javascript">
		$(function(){
			// 取消选择
			$('select[name=user_id]').on("select2:select", function( e ){
				var data = e.params.data || {};
				id = data.id || '';
				if ( '__cancel' ==  data.id ) {
					$(this).select2("val", "");
				}
			});
		});
		</script>
		 
	</div><!-- END 下拉选择(动态数据): 关联用户 (user_id) -->

	<!-- 单行文本: 参数 (param) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="param">参数</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="param" name="param" 
				placeholder="填写查询参数 （用于条件过滤）"  
				value="<?=T::v('<%=param | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 参数 (param) -->


	<!-- 单选框: 状态 (status) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="status">状态</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["status"])) { $rs["status"] = "on"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="status" data-uncheck-value="on" value="on" <?=("on" == $rs["status"]) ? "checked" : ""?> > <span></span> 开启</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="status" data-uncheck-value="off" value="off" <?=("off" == $rs["status"]) ? "checked" : ""?> > <span></span> 关闭</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="status" data-uncheck-value="pending" value="pending" <?=("pending" == $rs["status"]) ? "checked" : ""?> > <span></span> 审核中</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="status" data-uncheck-value="failure" value="failure" <?=("failure" == $rs["status"]) ? "checked" : ""?> > <span></span> 不通过</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 状态 (status) 开始  -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('special', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 专栏列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['special_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除专栏 "
						            confirm-content="您确定删除专栏 <strong><?=$rs['name=name']?>(<?=$rs['special_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('special','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('专栏删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('special','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '专栏删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-special_id="<?=$rs['special_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['special_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=special_id]').val( data['special_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['special_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.special-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.special-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('special','duplicate', ['special_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="special_id"]').val() == '' || $('input[name="special_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>