<?php use \Xpmse\Loader\App; ?>
<style type="text/css">

	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.form label {
		font-size: 16px;
	}

	.select2-container--default .select2-selection--single {
		height: 46px !important;
		padding: 8px 6px;
		font-size: 14px;
		line-height: 46px;
	}
	

	.has-error .select2-container--default .select2-selection--single,
	.has-error .select2-dropdown {
		border-color: #d26a5c !important;
	}

	.select2-container--default .select2-selection--single, 
	.select2-container--default .select2-selection--multiple {
		height: 46px !important;
		padding: 8px 6px;
		font-size: 14px;
		line-height: 46px;
	}

	.select2-container--default .select2-selection--multiple {
		padding: 6px 6px;
	}
	

	.has-error .select2-container--default .select2-selection--single,
	.has-error .select2-container--default .select2-selection--multiple,
	.has-error .select2-dropdown {
		border-color: #d26a5c !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b ,
	.select2-container--default .select2-selection--multiple .select2-selection__arrow b 

	{
		top: 65% !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 26px !important;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		line-height: 26px !important;
	}
	
	

	.select2-results__options {
		font-size: 14px;
		line-height: 32px;
	}

</style>
<!-- Page Content -->
<div class="content "> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('category', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    栏目列表 
                </a> / <?=$action_name?> 
				<!-- <i class="fa fa-lock push-5-l  lock_status text-muted" style="width:18px;"></i> -->
				<!-- <span class="text-danger status push-10-l font-s13"></span> -->
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form" >

			<form class="form-horizontal user-form" >
				
				<!-- 栏目ID: Category_id -->
				<input  type="hidden" name="category_id" value="<?=$ca['category_id']?>" />

				<!-- 名称 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="name">名称:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="name" value="<?=$ca['name']?>" placeholder="请填写栏目名称">
					</div>
				</div><!-- END 名称 -->
				
				<!-- 选择栏目 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="parent_id">上级栏目:</label>
					<div class="col-xs-9">
						<select class="js-select2 form-control input-lg" name="parent_id" style="width: 100%;" data-placeholder="请选择上级栏目">
							<option value="0">无</option>

							<?php foreach ($cates['data'] as $rs) : ?>
							<optgroup label="<?=$rs['name']?>" value="<?=$rs['category_id']?>"  >
							
								<!-- 一级栏目 -->
								<option 
									value="<?=$rs['category_id']?>"   
									<?=($rs['category_id'] == $parent_id)?'selected':''?> 
									<?=($rs['category_id'] == $ca['parent_id'])?'selected':''?> 
								>
									<?=$rs['name']?>	
								</option><!-- END 一级栏目 -->
								
								<!-- 一级栏目子栏目 -->
								<?php
								$namer =[]; $rootname = $rs['name'];
								$c->walk($rs['sub']['tree'], function($rs, $depth) use( & $namer, $rootname, $s, $ca ){
								if ( $depth == 1 ) {
									$namer = [];
								}
								array_push($namer, $rs['name']);
								?>
								<option 
									value="<?=$rs['category_id']?>"   
									<?=($rs['category_id'] == $parent_id)?'selected':''?> 
									<?=($rs['category_id'] == $ca['parent_id'])?'selected':''?> 
								>
									<?=$rootname?>
									<?php foreach( $namer as $name ) : ?>
										::
										<?=$name?>
									<?php endforeach;?>
								</option><!-- END 一级栏目子栏目 -->	
								<?php
								});
								?>
							</optgroup>

							<?php endforeach; ?>
						</select>
					</div>
				</div> <!-- END 选择栏目 -->

				
				<!-- 优先级 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="priority">优先级:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="priority" value="<?=$ca['priority']?$ca['priority']:0?>" placeholder="类型排序,数值越小, 越靠前">
					</div>
				</div><!-- END 优先级 -->
				
				<!-- 类型状态 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="status">状态:</label>
					<div class="col-xs-9">
						<select class="js-select2 form-control input-lg" name="status" style="width: 100%;" data-placeholder="状态">
							<option value="on" <?=($ca['status'] == 'on' || empty($ca['status']) ) ? 'selected' : '' ?>  >正常</option>
							<option value="off" <?=($ca['status'] == 'off') ? 'selected' : '' ?> >关闭</option>
						</select>
					</div>
				</div><!-- 类型状态 -->

				<!-- 是否隐藏 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="hidden"></label>
					<div class="col-xs-9">
						<label class="css-input css-checkbox css-checkbox-primary" >
                       		<input name="hidden" value="1" type="checkbox" <?=($ca['hidden'] == 1) ? 'checked' : '' ?> ><span></span> 隐藏栏目
                        </label>
					</div>
				</div><!-- END 是否隐藏 -->

				<!-- 保存数据 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="url"></label>
					<div class="col-xs-9">
						<button class="btn btn-lg btn-primary btn-minw fn-action fn-save push-50-r" type="submit">保存</button>
						<button 
							confirm-title="请确认删除栏目"
				            confirm-content="您确定删除栏目以及其子栏目 <strong><?=$ca['name']?>(<?=$ca['category_id']?> )</strong>"
				            confirm-dismiss = "取消"
				            confirm-submit= "确定"
				            data-param-category_id="<?=$ca['category_id']?>" 
				            confirm-action="<?=App::NR('category','remove')?>"

				            event-before="
								function( btn, modal ) {
									$('button', modal)
										.addClass('disabled')
										.attr('disabled', 'disabled');
								}
							"

							event-done="
								function( data, btn, modal) {
									$('button', modal)
										.removeClass('disabled')
										.removeAttr('disabled');
								}
							"
					        event-success="
								function(btn, modal) {
									success('栏目删除成功');
									setTimeout(function(){
										// 转向栏目列表页
										window.location = '<?=App::R('category','index')?>';
									}, 1000);
								}
							"

							event-error="
								function( data, btn, modal) {
									failure( '栏目删除失败 ('+ data['message'] + ')');
									return true;
								}
							"

						class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-remove" type="button">删除</button>
					</div>
				</div><!-- END 保存数据 -->

			</form>	
			<form class="form-horizontal developer-form" >

				<!-- 栏目ID: Category_id -->
				<input  type="hidden" name="category_id" value="<?=$ca['category_id']?>" />

				<div class="form-group push-50-t">
					<div class="col-xs-10 col-xs-offset-1">
						<h4 class="font-w300">以下由开发者填写</h4>
						<hr class="push-10-t">
					</div>
				</div>
				
				<!-- 自定义参数 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="slug">栏目别名:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="slug" value="<?=$ca['slug']?>" placeholder="填写栏目别名">
					</div>
				</div><!-- END 自定义参数 -->
				
				<!-- 自定义参数 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="param">自定义参数:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="param" value="<?=$ca['param']?>" placeholder="填写自定义参数">
					</div>
				</div><!-- END 自定义参数 -->
				

				<!-- 所属项目 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="project">所属项目:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="project" value="<?=$ca['project']?>" placeholder="栏目隶属项目 ">
					</div>
				</div><!-- END 所属项目 -->

				<!-- 正文页 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="project">正文页模板:</label>
					<div class="col-xs-9">
						<input class="form-control input-lg"  type="text" name="page" value="<?=$ca['page']?>" placeholder="该栏目下文章正文页默认模板">
					</div>
				</div><!-- END 正文页 -->


				<!-- 保存数据 -->
				<div class="form-group">
					<label class="col-xs-2 control-label" for="url"></label>
					<div class="col-xs-9">
						<button class="btn btn-lg btn-danger btn-minw fn-action fn-save-admin" type="submit">保存</button>
					</div>
				</div><!-- END 保存数据 -->

			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */

function save( form, validation ) {

	var api = '<?=App::NR("category", "save");?>';
	var data = $(form).serializeData();

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		// 更新ID
		$('input[name=category_id]').val( data['category_id'] );

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){
	
	App.initHelpers(['datepicker','select2', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll']);

	// 表单验证
	$('.user-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-9').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-9').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {
			name: {
				required: true,
				minlength: 2,
				maxlength: 20
			},

			priority: {
				digits:true 
			}
		},

		messages: {
			name: {
				required: '请填写栏目名称',
				minlength: '栏目名称至少两个字',
				maxlength: '栏目名称不能超过20个字'
			},
			priority: '请输入数字，数字越小排序越靠前'
		}
	});


	// 表单验证
	$('.developer-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-9').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-9').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-9').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}
	});
})
	
</script>

